{% do cards.append({
  'url': url_for('admin_bp.all_samples'),
  'icon': 'square-3-stack-3d.svg',
  'title': 'Manage Samples',
  'desc': 'Delete samples, purge data, etc.'
}) %}
{% do cards.append({
  'url': url_for('admin_bp.manage_users'),
  'icon': 'users.svg',
  'title': 'Manage Users',
  'desc': 'Add, update, remove users'
}) %}
{% do cards.append({
  'url': url_for('admin_bp.create_user'),
  'icon': 'user-plus.svg',
  'title': 'New User',
  'desc': 'Create new users for the platform'
}) %}
{% do cards.append({
  'url': url_for('admin_bp.assay_configs'),
  'icon': 'document-duplicate.svg',
  'title': 'Manage Assay Configs',
  'desc': 'Adjust assay/panel configuration'
}) %}
{% do cards.append({
  'url': url_for('admin_bp.create_dna_assay_config'),
  'icon': 'document-plus.svg',
  'title': 'New DNA Assay',
  'desc': 'Add new DNA based assay to system'
}) %}
{% do cards.append({
  'url': url_for('admin_bp.create_rna_assay_config'),
  'icon': 'document-plus.svg',
  'title': 'New RNA Assay',
  'desc': 'Add new RNA based assay to system'
}) %}
{% do cards.append({
  'url': url_for('admin_bp.schemas'),
  'icon': 'rectangle-stack.svg',
  'title': 'Manage Schemas',
  'desc': 'Adjust master schema configurations'
}) %}
{% do cards.append({
  'url': url_for('admin_bp.create_schema'),
  'icon': 'document-check.svg',
  'title': 'New Schema',
  'desc': 'Create a new master schema configuration'
}) %}
{% do cards.append({
  'url': url_for('admin_bp.audit'),
  'icon': 'newspaper.svg',
  'title': 'Audit Logs',
  'desc': 'Track changes and activities'
}) %}
