version: "3.9"
# usage:
# docker-compose up -d
# docker-compose down
services:
  coyote3_dev_app:
    container_name: coyote3_dev_app
    image: coyote3:3.1.10-dev # only this now
    ports:
      - "6815:8000"
    env_file:
      - .coyote3_dev_env
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - FLASK_APP=wsgi.py
      - FLASK_DEBUG=1
      - TZ=Europe/Stockholm
      - GIT_COMMIT=${GIT_COMMIT:-unknown}
      - BUILD_TIME=${BUILD_TIME:-unknown}
    restart: always
    networks:
      - coyote3-dev-net
    volumes:
      - ".git:/app/.git"
      - "./coyote:/app/coyote"
      - "./config:/app/config"
      - "/data/coyote3/logs:/app/logs"
      - "./docs:/app/docs"
      - "./config.py:/app/config.py"
      - "./wsgi.py:/app/wsgi.py"
      - "./gunicorn.conf.py:/app/gunicorn.conf.py"
      - "./logging_setup.py:/app/logging_setup.py"
      - "./CHANGELOG.md:/app/CHANGELOG.md"
      - "./README.md:/app/README.md"
      - "./LICENSE.txt:/app/LICENSE.txt"
      - "/access:/access"
      - "/media:/media"
      - "/data:/data"
      - "/fs1:/fs1"
    command: "python3 wsgi.py"

  redis_coyote3_dev:
    container_name: redis_coyote3_dev
    image: ramsainanduri/redis:7.4.3
    ports:
      - "5818:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - coyote3-dev-net
    restart: unless-stopped
    privileged: true

networks:
  coyote3-dev-net:
    external: true
