version: "3.9"
# usage:
# COYOTE3_VERSION is read from coyote/__version__.py (example):
#   export COYOTE3_VERSION="$(python3 coyote/__version__.py)"
# docker-compose up -d
# docker-compose down
services:
  coyote3_app:
    container_name: coyote3_app
    image: coyote3:${COYOTE3_VERSION:-local}
    build:
      context: .
      dockerfile: Dockerfile
      network: host
      args:
        GIT_COMMIT: ${GIT_COMMIT:-unknown}
        BUILD_TIME: ${BUILD_TIME:-unknown}
    ports:
      - "5814:8000"
    env_file:
      - .coyote3_env
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - FLASK_APP=wsgi.py
      - FLASK_DEBUG=0
      - SCRIPT_NAME="/coyote3"
      - TZ=Europe/Stockholm
      - GIT_COMMIT=${GIT_COMMIT:-unknown}
      - BUILD_TIME=${BUILD_TIME:-unknown}
    restart: always
    dns:
      - ${APP_DNS:-1.1.1.1}
      - 8.8.8.8
    networks:
      - coyote3-net
    volumes:
      - "/access:/access"
      - "/media:/media"
      - "/data:/data"
      - "/fs1:/fs1"
    command: "python3 wsgi.py"

  redis_coyote3:
    container_name: redis_coyote3
    image: ramsainanduri/redis:7.4.3
    ports:
      - "5817:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    dns:
      - ${APP_DNS:-1.1.1.1}
      - 8.8.8.8
    networks:
      - coyote3-net
    restart: unless-stopped
    privileged: true

networks:
  coyote3-net:
    external: true
