div#var_main {
    overflow: hidden; /* will contain if #first is longer than #second */
  }
  div#var_info {
    float:left;
    padding-right:36px;
  }

  div#var_moreinfo {
    padding-right:36px;
    float:left;
    max-width:600px;
}
  
  span.table_header {
    margin-left:8px;
    font-family:Calibri;
    display:inline;
    font-size:16px;
    background:#e4e4ff;
    border:1px solid #bbd;
    border-bottom:0px;
    color:#66b;
    padding-bottom:1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px 3px 0px 0px;
  }

  div#var_actions {
    float:left;
}
  
  table.sortable thead {
    cursor: default;
  }
  
  tr.hidden {
    display:none;
  }
  
  #tr:nth-child(even) {background-color: #f3f3f3}
  tr:nth-child(even) {background-color: #ffffff}
  tr:nth-child(odd) {background-color: #ffffff}
  tr:nth-child(even).fp { background-color: #fcc; opacity: 0.4; }
  tr:nth-child(odd).fp { background-color: #fcc; opacity: 0.4; }
  
  tr:hover {background-color: #E3F6FF;}
  tr.fp:hover {background-color: #faa;}
  
  tr.include { background-color: #cfc; }
  tr.include:hover { background-color: #afa; }
  tr.includelargeamp { background-color: rgb(255, 214, 204); }
  tr.highlightannotation { background-color: rgb(96, 194, 93); }
  tr {
    border-bottom: solid 1px #e8e8e8;
  }
  tr.fp {
    border-bottom: solid 1px #dcc;
  }
  
  th {
    text-align: left;
    height:20px;
    border-bottom: 2px solid #ddd;
    background-color:#035;
    color:#FAFDFF;
  }
  
  thead tr:first-child th:first-child {
    border-radius: 3px 0 0 0;
  }
  thead tr:first-child th:last-child {
    border-radius: 0 3px 0 0;
  }
  tbody tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
  }
  tbody tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
  }
  
  table.tiny {
    margin-top: 5px;
    margin-bottom: 0px;
    border-collapse: collapse;
    margin-left:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    font-size:11px;
    padding:1px;
  }
  td.tiny {
    padding:2px;
    background-color:#fff;
  }
  th.tiny {
    background-color:#fff;
    color:#000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  
  
  table {
    margin-bottom: 25px;
    border-collapse: collapse;
    border-radius: 5px;
    margin-left:5px;
    font-size:10pt;
    -moz-box-shadow: 2px 2px 11px #aaa; 
    -webkit-box-shadow: 2px 2px 11px #aaa; 
  }
  
  div#var_moreinfo {
    padding-right:36px;
    float:left;
    max-width:600px;
  }
  table#transcript_info {
    width:100%;
  }
  
  
  tr.canonical_transcript {
    font-weight:bold;
  }
  tr.noncanonical_transcript {
  }
  
  tr.hidden_comment {
    background-color: #fff;
    opacity: 0.3;
  }
  
  tr.hidden {
    display:none;
  }
  
  tr.collapsed {
    visibility:collapse;
  }
  
  table#sample_info {
    width:100%;
  }
  
  table#population_info {
    width:100%;
  }
  table#other_samples {
    width:100%;
  }
  
  div#var_comments {
    float:left;
    max-width:430px;
    padding-right:0px;
    clear:right;
  }
  
  div.class_desc{
    text-align:center;
    padding:5px;
    margin-bottom:7px;
    font-size:12px;
    font-weight:bold;
    background-color:#fff;
    border:1px solid #bbb;
  }
  
  div#classification {
    float:left;
    padding:10px 10px 10px 10px;
    border:1px solid #cce;
    background-color:#f7f7fb;
    margin-bottom:20px;
  }
  
  div.class_label {
    float:left;
    padding:7px 8px 4px 4px;
  }
  
  form.class_form {
    display:inline;
  }
  
  button.tier {
    float:left;
    border:0px;
    width:35px;
    #border-top: 1px solid #aaa;
    #border-left: 1px solid #aaa;
    #border-bottom: 1px solid #555;
    #border-right: 1px solid #555;
    padding:7px 7px 7px 7px;
    border-radius: 5px;
    margin:3px;
    margin-right:8px;
    -moz-box-shadow: 0px 1px 6px #333; 
    -webkit-box-shadow: 0px 1px 6px #333;
    cursor: pointer;
  }
  
  button.del {
    float:left;
    border:0px;
    width:25px;
    padding:4px 4px 4px 4px;
    border-radius: 5px;
    margin:3px;
    margin-right:8px;
    -moz-box-shadow: 0px 1px 6px #333; 
    -webkit-box-shadow: 0px 1px 6px #333;
    cursor: pointer;
  }
  
  button.selected_tier {
    font-weight: bold;
    -moz-box-shadow: 1px 1px 5px #33; 
    -webkit-box-shadow: 1px 1px 5px #333;    
  }
  
  
  div.classbox_table {
    padding:0px 3px 0px 3px;
    width:11px;
    text-align:center;
    border:1px solid #666;
    border-radius: 11px;
  }
  
  #tier1 {
    background-color:#faa;
  }
  #tier2 {
    background-color:#faf;
  }
  #tier3 {
    background-color:#bbf
  }
  #tier4 {
    background-color:#bfb
  }
  #tierother {
    background-color:rgb(204, 226, 76)
  }
  #remove {
    background-color:rgb(253, 253, 253)
  }
  
  div#desc1 { color:#f44; }
  div#desc2 { color:#e4e; }
  div#desc3 { color:#55f; }
  div#desc4 { color:#3b3; }
  
  div.class_info {
      margin:5px 4px 1px 5px;
      padding: 2px 1px 0px 1px;
      float:left;
      border-bottom: 1px dotted #88f;
  }
  
  div#commenting_box {
    clear:both;
    background-color:#f7f7fb;
    border:1px solid #cce;
    padding:10px;
    margin-bottom:20px;
  }
  
  table#variant_comments {
    width:100%;
  }
  
  table#variant_comments td {
    vertical-align:top;
  }
  
  textarea {
    width:100%;
    height:60px;
    padding: 3px 0px 3px 4px;
    #box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin: 0px;
    #margin-right:10px;
    font-size:12px;
  }
  
  textarea:focus {
    background-color: #ffc;
  }