/* Base CSS */

:root {
    --cdm_blu: #94C2E2;
    --shadow: #6D4276; 
    --page_header_border: #07a;
}

body {
    font-size: 12pt;
    margin:0px;
    background: #fff;
    font-family:Calibri;
}

a {
    color: #377BA8;
}

.page {
    margin: 0.5em auto;
    width: 90%;
    float:left;
    padding: 1.7em;
    background: #fff; 
}


/* CDM LOGO + NAVBAR */

#menu_row {
    display:flex;
}

ul#navbar {
    display:inline;
    list-style-type:none;
}

ul#navbar li {
    display:inline;
}

#logo_version {
    font-size: .8em;
    font-weight: bold;
    color: var(--cdm_blu);
}

#logo_version a {
    text-decoration: none;
    color:  var(--cdm_blu);
}

#logo_version a:hover {
    color:  #F6B5FF;
    transition: color 1s;
}

.tab {
    overflow: hidden;
    margin-bottom:auto;
    padding-left: 1.5vw;
}

.tab a {
    font-size: 1em;
    color: var(--cdm_blu);
    text-decoration: none;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding:0.7em 1.1em;
    transition: 0.1s;
    font-weight:bold;
}

/* Change background color of buttons on hover */
.tab a:hover {
    background-color: var(--cdm_blu);
    color:#035;
}

/* Create an active/current tablink class */
.tab a.active {
    background-color: var(--page_header_border);
    color:white;
}

div#login {
    font-size: .75em;
    margin-left:auto;
    color:white;
    text-align: right;
    padding-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

div#login a {
    text-decoration: none;
}

div#login a:hover {
    color: white;
}

div#pageheader {
    width: 100%;
    float:left;
    background-color:#035;
    border-bottom: 3px solid #07a;
}

div#restored_link {
    font-weight:bold;
    margin-bottom: 10px;
    margin-top: -20px;
}

#restored_link a {
    text-decoration: none;
}

#restored_link a:hover {
    text-decoration: none;
    background-color: var(--cdm_blu);
    color:#035;
    
}

span#login_menu_selection a {
    color:var(--cdm_blu);
    font-weight: bold;
}

span#logged_in_user {
    font-weight: bold;
    test-transform:uppercase;
}

div.logo {
    clear:left;
}

span.logo {
    padding-left:20px;
}

span.logo a {
    text-decoration:none;
    font-size:3em;
    font-weight:bold;
    color: var(--cdm_blu);
    text-shadow:
        6px 6px var(--shadow),
        5.75px 5.75px var(--shadow),
        5.5px 5.5px var(--shadow),
        5.25px 5.25px var(--shadow),
        5px 5px var(--shadow),
        4.75px 4.75px var(--shadow),
        4.5px 4.5px var(--shadow),
        4.25px 4.25px var(--shadow),
        4px 4px var(--shadow),
        3.75px 3.75px var(--shadow),
        3.5px 3.5px var(--shadow),
        3.25px 3.25px var(--shadow),
        3px 3px var(--shadow),
        2.75px 2.75px var(--shadow),
        2.5px 2.5px var(--shadow),
        2.25px 2.25px var(--shadow),
        2px 2px var(--shadow),
        1.75px 1.75px var(--shadow),
        1.5px 1.5px var(--shadow),
        1.25px 1.25px var(--shadow),
        1px 1px var(--shadow),
        0.75px 0.75px var(--shadow),
        0.5px 0.5px var(--shadow),
        0.25px 0.25px var(--shadow);
    
    font-family: Segoe UI, Calibri, Helvetica;
}

div.plot {
    width:1200px;
    height:500px;
}

td.low, td.high, td.bad, td.failed {
    background-color:#ebb;
}

td.task_text{
    max-width:200px;
    word-wrap: break-word;
}

td.date{
    text-align:right;
    vertical-align:bottom;
}


a.menu_button_link {
    color:#eaedef;
    font-size:18px;
    text-decoration: none;
}

th {
    text-align: left;
    border-bottom: 2px solid #F2F4F3;
    background-color:#443730;
    color:#FAFDFF;
    padding-left: 8px;
    padding-right: 14px;
    
}


td {
    padding-top: 4px;
    padding-bottom: 4px;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    color: #555;
}


#qc_table td {
    text-align:right;
}

#qc_table th {
    text-align:right;
    white-space: nowrap;
    padding-top:7px;
    padding-bottom:7px;
}

/* Sortable tables */
table.sortable thead {
    cursor: default;
}

tr:nth-child(even) {background-color: #f3f3f3}
tr:nth-child(odd) {background-color: #ffffff}


tr:hover {
    border:1px solid #bdd;
    background-color:#dfe;
}

tr {
    border:1px solid #eee;
}

table {
    border-collapse: collapse;
    font-size:.8em;
    -moz-box-shadow: 0px 4px 9px #bbb; 
    -webkit-box-shadow: 0px 4px 9px #bbb; 
}

input[type=text], input[type=password] {
    padding: 3px 6px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 3px;
    background-color: #fff;
    margin: 1px;
}

input[type=text]:focus, input[type=password]:focus{
    background-color: #F7DAD9;
}

textarea {
    width:300px;
    height:50px;
    padding: 5px 8px;
    #box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin: 0px;
}

textarea:focus {
    background-color: #F7DAD9;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #A5907E;
    border: none;
    color: white;
    padding: 7px 12px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 7px #999; 
    -webkit-box-shadow: 1px 1px 7px #999; 
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu_div {
    position:absolute;
    min-width:100px;
    left: 100px;
    top:200px;
    background:#fff;
    -moz-box-shadow: 1px 3px 12px #aaa; 
    -webkit-box-shadow: 1px 3px 12px #aaa;
    
}

input[type=submit].menu_link {
    width:99%;
    background-color:white;
    text-align:left;
    border: none;
    color: #000;
    padding: 6px 15px;
    margin: 0px;
    text-decoration: none;
    -moz-box-shadow: 1px 1px 7px #fff; 
    -webkit-box-shadow: 1px 1px 7px #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#menu_div input[type=submit]:hover {
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fafafa;
}

span.menu_header {
    font-size:11px;
    color:#bbb;
    padding: 7px 10px;
}

