{% extends "layout.html" %}

{% block body %}
  {#{ data }#}
  <h1>Archived samples</h1>
  <table>
  {% for sid in data|sort() %}
    <tr class=sample_header_archived>
      <td colspan=6><b>{{ sid }}</b></td>
      <td>
	<form action='unhide_sample/{% for file in data[sid] %}{{ file["_id"] }},{% endfor %}' method='post'><input id="unhide_sample" type="image" style="filter: invert(0.9); -webkit-filter: invert(0.9);" width=16 src="{{ url_for('static', filename='unhide.png') }}"></form></td>
      </td>
      <td></td>
  
    </tr>  
    {% for file in data[sid]|sort(attribute='date_modified', reverse=True)|sort(attribute='bad') %}
    <tr {% if file["bad"] == 1 %}class='bad'{% endif %}>
      <td>{{ file["sample-id"] }}</td>
      <td>{{ file.run }}</td>
      <td>{{ file["assay"] }}</td>      
      <td>{{ file.desc }}</td>
      <td>{{ file["lims-id"] }}</td>
      <td>{{ file.date_modified|human_date }}</td>
      {% if file.bad == 1 %}
      <td><form action='unbad/{{file["_id"]}}' method='post'><input id="unmark_bad" type="image" style="-webkit-transform: scaleY(-1);transform: scaleY(-1);" width=16 src="{{ url_for('static', filename='bad.png') }}"></form></td>
      {% else %}
      <td><form action='bad/{{file["_id"]}}' method='post'><input id="mark_bad" type="image" width=16 src="{{ url_for('static', filename='bad.png') }}"></form></td>
      {% endif %}

      
      {% if "fq_fwd" in file and "fq_rev" in file %}
      <td><span title="{{ file.fq_fwd }}">f</span> <span title="{{ file.fq_rev }}">r</span></td>
      {% else %}
      <td><span title="{{ file.fq_se }}">f</span></td>
      {% endif %}
    </tr>
    {% endfor %}
  {% endfor %}
  </table>
  <p><a  href="/cdm">Show active samples</a></p>

{% endblock %}


