<pre>
A1CF
AADACL4
ABCB1
ABCB4
ABI1
ABL1
ABL2
ACACA
ACAD8
ACAT1
ACKR3
ACO1
ACPP
ACSL3
ACSL6
ACTB
ACTG1
ACTG2
ACVR1
ACVR1B
ACVR2A
ACVR2B
ACVRL1
ADAM10
ADCY1
ADORA2A
ADORA3
AFDN
AFF1
AFF3
AFF4
AGBL4
AHCTF1
AHR
AJUBA
AKAP9
AKT1
AKT2
AKT3
ALB
ALDH2
ALK
ALKBH2
ALKBH3
AMER1
ANGPT1
ANGPT2
ANK1
ANK3
APAF1
APC
APITD1
APOB
APOBEC3B
APTX
AQR
AR
ARAF
ARAP3
ARFGAP1
ARFGAP3
ARFGEF1
ARFGEF2
ARHGAP26
ARHGAP29
ARHGAP35
ARHGAP5
ARHGEF10
ARHGEF10L
ARHGEF12
ARHGEF2
ARHGEF6
ARID1A
ARID1B
ARID2
ARID4A
ARID4B
ARID5B
ARNT
ARNTL
ASH1L
ASPM
ASPSCR1
ASXL1
ASXL2
ATF1
ATF2
ATIC
ATL
ATM
ATP1A1
ATP2B3
ATP6AP2
ATR
ATRX
AURKA
AURKB
AURKC
AXIN1
AXIN2
AXL
B2M
BAI3
BAP1
BARD1
BAX
BAZ1A
BAZ2B
BCL10
BCL11A
BCL11A.LHX4
BCL11B
BCL2
BCL2L1
BCL2L12
BCL2L2
BCL3
BCL5
BCL6
BCL7
BCL7A
BCL8
BCL9
BCL9L
BCLAF1
BCOR
BCORL1
BCR
BEND2
BIRC2
BIRC3
BIRC6
BLK
BLM
BMI1
BMP10
BMP5
BMPR1A
BMPR2
BMX
BPIFB1
BPTF
BRAF
BRCA1
BRCA2
BRD2
BRD3
BRD4
BRD7
BRDT
BRIP1
BRPF1
BRWD1
BTG1
BTK
BUB1B
C10orf112
C15orf55
C15orf65
C17orf70
C19MC
CACNA1D
CAD
CALR
CAMK1
CAMTA1
CANT1
CAPN7
CARD11
CARM1
CARS
CASP1
CASP10
CASP3
CASP8
CASP9
CAT
CBFA2T3
CBFB
CBL
CBLB
CBLC
CBX5
CCAR1
CCDC6
CCDC88A
CCL2
CCNB1IP1
CCNC
CCND1
CCND2
CCND3
CCNE1
CCNE2
CCR2
CCR4
CCR5
CCR7
CCT5
CD19
CD209
CD22
CD248
CD27
CD274
CD276
CD28
CD30
CD33
CD36
CD37
CD38
CD40
CD44
CD47
CD52
CD70
CD74
CD79A
CD79B
CD99
CDC27
CDC73
CDH1
CDH10
CDH11
CDH17
CDK1
CDK12
CDK2
CDK3
CDK4
CDK5
CDK5RAP2
CDK6
CDK7
CDK9
CDKN1A
CDKN1B
CDKN2A
CDKN2B
CDKN2C
CDKN2D
CDX2
CDY1B
CEACAM5
CEBPA
CEBPE
CEP290
CEP89
CFL1
CHCHD3
CHCHD7
CHD1
CHD1L
CHD2
CHD3
CHD4
CHD6
CHD7
CHD8
CHD9
CHEK1
CHEK2
CHIC2
CHST11
CIC
CIITA
CLASP2
CLCC1
CLCN2
CLIP1
CLIP2
CLOCK
CLP1
CLPTM1L
CLSPN
CLTC
CLTCL1
CNBD1
CNBP
CNOT1
CNOT3
CNOT4
CNTNAP1
CNTNAP2
CNTRL
COL11A1
COL1A1
COL2A1
COL3A1
COL6A3
COL7A1
COPS2
COPS3
COPS4
COPS5
COPS6
COX6C
CPEB3
CR1
CRBN
CREB1
CREB3L1
CREB3L2
CREBBP
CRKL
CRLF2
CRNKL1
CRTC1
CRTC3
CSDA
CSDE1
CSF1
CSF1R
CSF2
CSF3R
CSMD3
CSNK1A1
CSNK1G3
CSNK2A1
CSNK2A2
CSNK2B
CTAG1B
CTC-512J12.6
CTCF
CTDNEP1
CTLA4
CTNNA2
CTNNB1
CTNND1
CTNND2
CTTN
CUL1
CUL2
CUL3
CUL4A
CUL5
CUX1
CXCR4
CYLD
CYP2C8
CYSLTR2
CYTH4
DAXX
DCAF12L2
DCC
DCTN1
DDB1
DDB2
DDIT3
DDR1
DDR2
DDX1
DDX10
DDX3X
DDX5
DDX6
DEK
DEPDC1B
DGCR8
DHX15
DHX35
DHX9
DICER1
DIS3
DKK1
DLC1
DLG1
DLL1
DLL3
DLL4
DNA2
DNAJB1
DNM2
DNMT1
DNMT3A
DNMT3B
DNTT
DOCK8
DOT1L
DPYD
DRG2
DROSHA
DSG3
DTL
DUX4L1
DYNC1I1
DYRK1A
EBF1
ECT2L
EED
EEF1A1
EEF1B2
EFTUD2
EGFL7
EGFR
EHMT1
EHMT2
EID3
EIF1AX
EIF2AK3
EIF2C3
EIF3E
EIF4A2
EIF4E
EIF4G1
EIF4G3
ELANE
ELF1
ELF3
ELF4
ELK4
ELL
ELN
EME2
EML1
EML4
ENG
EP300
EPAS1
EPCAM
EPHA1
EPHA2
EPHA3
EPHA4
EPHA7
EPHB1
EPHB2
EPHB4
EPS15
ERBB2
ERBB2IP
ERBB3
ERBB4
ERC1
ERCC1
ERCC2
ERCC3
ERCC4
ERCC5
ERCC6
ERCC8
ERG
ERRFI1
ESR1
ETNK1
ETS
ETV1
ETV4
ETV5
ETV6
EWS
EWSR1
EXO1
EXT1
EXT2
EZH1
EZH2
EZR
F8
FAF1
FAH
FAM123B
FAM131B
FAM135B
FAM175A
FAM46C
FAM47C
FANCA
FANCC
FANCD2
FANCE
FANCF
FANCG
FANCI
FANCL
FANCM
FAS
FASLG
FAT1
FAT2
FAT3
FAT4
FBLN2
FBN2
FBXO11
FBXW7
FCGR2B
FCRL4
FEN1
FES
FEV
FGF1
FGF2
FGF3
FGF4
FGFR1
FGFR1OP
FGFR2
FGFR3
FGFR4
FGFRL1
FGR
FH
FHIT
FIP1L1
FKBP5
FKBP9
FLCN
FLG
FLI1
FLNA
FLT1
FLT3
FLT4
FMR1
FN1
FNBP1
FOLH1
FOLR1
FOXA1
FOXA2
FOXL2
FOXO1
FOXO3
FOXO4
FOXP1
FOXQ1
FOXR1
FOXR2
FRG1
FRG1B
FRS2
FSTL3
FUBP1
FUS
FXR1
FYN
FZD1
FZD10
FZD2
FZD5
FZD7
FZD8
G3BP1
G3BP2
G6PD
GAK
GAS6
GAS7
GATA1
GATA2
GATA3
GATA4
GATA6
GBA
GD2
GDF11
GDF2
GFI1
GFI1B
GJB2
GLI1
GLI2
GLI3
GMPS
GNA11
GNA13
GNAI1
GNAI2
GNAQ
GNAS
GNG2
GOLGA5
GOPC
GPC3
GPC5
GPHN
GPNMB
GPR161
GPS2
GPSM2
GRB2
GRIN2A
GRM3
GRM4
GSE1
GTF2F2
GTF2H1
GTF2H3
GTF2I
GTF3C1
GUCY2C
H2AFX
H3F3A
H3F3B
HAT1
HAVCR2
HCFC1
HCK
HDAC1
HDAC10
HDAC11
HDAC2
HDAC3
HDAC4
HDAC5
HDAC6
HDAC7
HDAC8
HDAC9
HELQ
HERC2
HERPUD1
HES1
HEY1
HFM1
HGF
HIC2
HIF1A
HIP1
HIST1H2AG
HIST1H3A
HIST1H3B
HIST1H3C
HIST1H3D
HIST1H3E
HIST1H3F
HIST1H3G
HIST1H3H
HIST1H3I
HIST1H3J
HIST1H4I
HLA-A
HLA-B
HLA-C
HLF
HMGA1
HMGA2
HMGB2
HMGN2P46
HNF1A
HNF4A
HNRNPA2B1
HNRNPA2B1.ACSL3
HNRPDL
HOOK3
HOX11
HOXA11
HOXA13
HOXA9
HOXC11
HOXC13
HOXD11
HOXD13
HPSE
HRAS
hsa-mir-142
HSP90AA1
HSP90AA2P
HSP90AB1
HSP90AB4P
HSP90B1
HSP90B3P
HSPA8
HSPB1
HUS1
IBTK
ICOS
ID3
IDH1
IDH2
IDO1
IFNGR1
IGF1
IGF1R
IGF2
IGF2BP2
IGF2R
IGH
IGK
IGL
IKBKB
IKBKE
IKZF1
IKZF2
IKZF3
IL1B
IL2
IL21R
IL2R
IL2RA
IL3
IL6
IL6R
IL6ST
IL7R
ING1
ING2
INHBA
INPP4A
INPP4B
INPPL1
INSR
INTS4
IREB2
IRF1
IRF2
IRF4
IRF6
IRF7
IRF8
IRS2
IRS4
ISX
ITGA9
ITGAV
ITK
ITSN1
JAG1
JAG2
JAGN1
JAK1
JAK2
JAK3
JARID2
JAZF1
JMJD1C
JMJD6
JMY
JUN
KANSL1
KAT2A
KAT2B
KAT5
KAT6A
KAT6B
KAT7
KAT8
KBTBD4
KCNA1
KCNJ5
KCTD16
KCTD8
KDM1A
KDM1B
KDM2A
KDM2B
KDM3A
KDM3B
KDM4A
KDM4B
KDM4C
KDM4D
KDM5A
KDM5B
KDM5C
KDM5D
KDM6A
KDM6B
KDM7A
KDM8
KDR
KDSR
KEAP1
KHDRBS1
KIAA0825
KIAA1549
KIF5B
KIR2DL1
KIR2DL2
KIR2DL3
KIR3DL2
KIT
KLC1
KLF4
KLF5
KLF6
KLHL6
KLK2
KMT2A
KMT2B
KMT2C
KMT2D
KMT2E
KMT5A
KMT5AP1
KMT5C
KNL1
KNSTRN
KRAS
KTN1
L3MBTL1
LAG3
LAPTM4B
LARP4B
LASP1
LATS1
LATS2
LCK
LCP1
LDB1
LDHA
LEF1
LEP
LEPROTL1
LHFP
LHFPL6
LHX1
LIFR
LIG1
LIG4
LIMA1
LINC00290
 LINC00340_CASC15
LINGO2
LMNA
LMO1
LMO2
LMO4
LNPEP
LPP
LRIG1
LRIG3
LRP1B
LRP6
LRPPRC
LSM14A
LYL1
LYN
LZTR1
LZTS1
MACC1
MACF1
MAD1L1
MAF
MAFB
MAGI2
MALAT1
MALT1
MAML2
MAP2
MAP2K1
MAP2K2
MAP2K4
MAP2K7
MAP3K1
MAP3K11
MAP3K13
MAP3K4
MAP4K1
MAP4K3
MAPK1
MAPK11
MAPK14
MAPK3
MAPK8
MARCH1
MARK2
MAT2A
MAX
MB21D2
MBD1
MBD2
MBD4
MCC
MCL1
MCM3
MCM8
MDM2
MDM4
MDS2
MECOM
MECP2
MED12
MED17
MED23
MED24
MEF2B
MEF2C
MEN1
MERTK
MET
MFNG
MGA
MGMT
MIR17HG
MITF
MKL1
MLF1
MLH1
MLH3
MLL
MLL2
MLL3
MLLT1
MLLT10
MLLT11
MLLT3
MLLT4
MLLT6
MMP2
MMP9
MN1
MNAT1
MNDA
MNX1
MPG
MPL
MRAS
MRE11A
MRTFA
MS4A1
MSH2
MSH3
MSH4
MSH6
MSI2
MSLN
MSN
MSR1
MST1R
MSTN
MTCP1
MTG2
MTOR
MUC1
MUC16
MUC20
MUC4
MUS81
MUTYH
MYB
MYBL1 
MYC
MYCL
MYCL1
MYCN
MYD88
MYH10
MYH11
MYH14
MYH9
MYO5A
MYOD1
N4BP2
NA
NAB2
NACA
NACC2
NAP1L1
NBEA
NBN
NCAM1
NCF2
NCK1
NCKAP1
NCKIPSD
NCOA1
NCOA2
NCOA3
NCOA4
NCOR1
NCOR2
NDRG1
near_CCND1
NECTIN4
NEDD4L
NEDD8
NEGR1
NEIL1
NEIL3
NF1
NF2
NFATC2
NFATC4
NFE2L2
NFIB
NFKB2
NFKBIE
NFKBIZ
NHP2
NIN
NKX2-1
NKX3-1
NOD2
NONO
NOTCH1
NOTCH2
NOTCH3
NOTCH4
NPM
NPM1
NR2F2
NR4A2
NR4A3
NRAS
NRG1
NRG2
NRG3
NRG4
NSD1
NSD2
NSD3
NT5C2
NT5E
NTHL1
NTN4
NTRK1
NTRK2
NTRK3
NTRK4
NUMA1
NUP107
NUP214
NUP93
NUP98
NUTM1
NUTM2A
NUTM2B
NUTM2D
NXF1
OGA
OGG1
OLIG2
OMD
OPCML
OPN1LW
OSM
OSMR
OTX2
P2RY8
PA2G4
PABPC1
PABPC3
PADI4
PAFAH1B2
PAK1
PALB2
PARK2
PARP1
PARP2
PARP4
PATZ1
PAX3
PAX5
PAX6
PAX7
PAX8
PBRM1
PBX1
PCBP1
PCM1
PCSK6
PCSK7
PDCD1
PDCD1LG2
PDE4DIP
PDGFA
PDGFB
PDGFC
PDGFD
PDGFRA
PDGFRB
PDGFRL
PDPK1
PER1
PGR
PHF2
PHF21A
PHF6
PHF8
PHLPP1
PHLPP2
PHOX2B
PICALM
PIF1
PIK3C2B
PIK3CA
PIK3CB
PIK3CD
PIK3CG
PIK3R1
PIK3R2
PIK3R3
PIK3R4
PIM1
PIM2
PIM3
PIP4K2A 
PIP5K1A
PLAG1
PLCG1
PLCG2
PLK1
PLK2
PLK4
PLXNA1
PLXNB2
PML
PMS1
PMS2
PNKP
POLD1
POLD3
POLD4
POLE
POLE4
POLG
POLH
POLI
POLK
POLQ
POLR2A
POLR2B
POLR2E
POLR2G
POLR2L
POLR3E
POM121
PORCN
POT1
POU2AF1
POU5F1
PP2A
PPARG
PPFIBP1
PPM1D
PPP1CB
PPP2R1A
PPP2R5A
PPP2R5C
PPP4R1
PPP6C
PPP6R1
PPP6R2
PPP6R3
PRCC
PRDM1
PRDM14
PRDM16
PRDM2
PRDM4
PRDM5
PRDM6
PRDM9
PREX2
PRF1
PRKAA1
PRKACA
PRKAR1A
PRKAR2A
PRKCA
PRKCB
PRKCD
PRKCE
PRKCG
PRKCH
PRKCI
PRKCQ
PRKCSH
PRKCZ
PRKDC
PRMT1
PRMT2
PRMT5
PRMT6
PRMT7
PRMT8
PRMT9
Proteasome
PRPF40B
PRPF8
PRRX1
PRSS1
PSIP1
PSMA2
PSMA6
PSMB4
PSMB5
PSMD11
PSME3
PSMG1
PSMG2
PTC1
PTCH1
PTCH2
PTCHD4
PTDSS1
PTEN
PTGS1
PTK2
PTK6
PTPN11
PTPN12
PTPN13
PTPN6
PTPRB
PTPRC
PTPRD
PTPRF
PTPRJ
PTPRK
PTPRT
PTPRU
PVRL4
PWWP2A
QKI
RAB35
RABEP1
RAC1
RAD17
RAD18
RAD21
RAD23A
RAD23B
RAD50
RAD51
RAD51B
RAD51C
RAD51D
RAD51L3-RFFL
RAD54B
RAD54L
RAF1
RALGDS
RANBP17
RANBP2
RAP1GDS1
RARA
RASA1
RASA2
RASGRP1
RB1
RBBP7
RBBP8
RBM10
RBM15
RBM5
RBX1
RCSD1
RDM1
RECQL
RECQL4
REL
RELA
RET
RFC3
RFC4
RFTN1
RFWD3
RGPD3
RGS3
RGS7
RHEB
RHOA
RHOH
RHOT1
RICTOR
RIPK4
RMI2
RMRP
RNF213
RNF217-AS1
RNF34
RNF43
RNF6
ROBO2
ROCK2
ROS1
RP11-286N22.8
RP11-440L14.1
RPA1
RPGR
RPL10
RPL22
RPL5
RPN1
RPPH1
RPS6KA1
RPS6KA2
RPS6KA3
RPS6KA4
RPS6KA6
RPS6KB1
RPSAP58
RPTOR
RQCD1
RRAGC
RRAS2
RSBN1
RSPO2
RSPO3
RTN4
RUNDC2A
RUNX1
RUNX1T1
RUNX3
RXRA
RXRB
RXRC
S100A7
SALL4
SBDS
SCAI
SCL45A3
SDC4
SDHA
SDHAF2
SDHB
SDHC
SDHD
SEC24D
SEC31A
SELP
SEMA4D
SEPTIN5
SEPTIN6
SEPTIN9
SERPINA1
SET
SETBP1
SETD1A
SETD1B
SETD2
SETD6
SETD7
SETDB1
SF3A3
SF3B1
SF3B3
SFPQ
SFRP4
SGK1
SH2B3
SH3GL1
SHH
SHMT1
SHTN1
SI
SIN3A
SIRPA
SIRT1
SIRT2
SIRT3
SIRT4
SIRT5
SIRT6
SIRT7
SIX1
SIX2
SKI
SLAMF7
SLC22A18
SLC25A13
SLC34A2
SLC45A3
SLFN11
SLITRK6
SMAD2
SMAD3
SMAD4
SMAD6
SMARCA1
SMARCA4
SMARCB1
SMARCD1
SMARCE1
SMC1A
SMC5
SMG8
SMO
SMURF2
SMYD2
SMYD3
SMYD4
SND1
SNX29
SOCS1
SORL1
SOS1
SOS2
SOX12
SOX17
SOX2
SOX21
SOX4
SOX9
SPECC1
SPECC1L
SPEN
SPOP
SPRED1
SPRED2
SPRR3
SPTAN1
SPTBN1
SQSTM1
SRC
SRF
SRGAP1
SRGAP3
SRSF2
SRSF3
SRSF7
SS18
SS18L1
SST
SSX1
SSX2
SSX4
STAG1
STAG2
STARD13
STAT3
STAT5B
STAT6
STEAP1
STIL
STIP1
STK11
STK4
STRA13
STRN
SUFU
SUV39H1
SUV39H2
SUZ12
SVEP1
SYK
SYNCRIP
SYNDIG1L
TACC1
TACC3
TACSTD2
TAF1
TAF15
TAL1
TAL2
TAOK1
TAOK2
TBK1
TBL1XR1
TBR1
TBX3
TCEA1
TCF12
TCF3
TCF4
TCF7L2
TCL1A
TCL6
TEC
TEK
TENM3
TENT5C
TERT
TET1
TET2
TET3
TFAP4
TFDP1
TFDP2
TFE3
TFEB
TFG
TFPT
TFRC
TGFB1
TGFB2
TGFB3
TGFBR1
TGFBR2
THRAP3
TIGIT
TJP1
TJP2
TLR5
TLR7
TLR8
TLX1
TLX3
TMEM106B
TMEM107
TMEM127
TMEM30A
TMPRSS2
TMSB4X
TNC
TNFAIP3
TNFRSF10A
TNFRSF10B
TNFRSF13B
TNFRSF14
TNFRSF17
TNFRSF18
TNFRSF4
TNFRSF8
TNFRSF9
TNFSF10
TNFSF11
TNFSF13B
TNIK
TNPO1
TNPO2
TOB1
TOM1
TOP1
TOP2A
TOP3B
TP53
TP53BP1
TP63
TPM3
TPM4
TPMT
TPR
TRA
TRAF3
TRAF5
TRAF7
TRAM2-AS1
TRB
TRD
TRERF1
TRIM24
TRIM27
TRIM33
TRIM37
TRIO
TRIP10
TRIP11
TRIP12
TRRAP
TSC1
TSC2
TSHR
TTL
TTYH1
TXNIP
TYK2
TYRO3
U1
U2AF1
UBC
UBR5
UGT1A1
UHRF1
UHRF2
UNG
UPF3B
UROD
USP44
USP6
USP8
UTY
UVSSA
VAV1
VEGFA
VEGFB
VEGFC
VHL
VIM
VSIR
VTI1A
WAS
WASF3
WDCP
WDR5
WDR64
WEE1
WHSC1
WHSC1L1
WIF1
WIPF1
WNK1
WNK2
WNT
WNT5A
WRAP53
WRN
WT1
WWOX
WWTR1
XAB2
XPA
XPC
XPO1
XPO5
XRCC2
XRCC4
XRN1
YAP1
YBX1
YES1
YWHAE
YWHAZ
ZBTB16
ZBTB33
ZBTB38
ZBTB4
ZC3H11A
ZC3H7A
ZCCHC8
ZEB1
ZFHX3
ZFP36L1
ZFP36L2
ZIC1
ZIK1
ZMYM2
ZMYM3
ZNF217
ZNF292
ZNF331
ZNF384
ZNF429
ZNF479
ZNF521
ZNF638
ZNF703
ZNF750
ZNF814
ZNRF3
ZRSR2
</pre>
