{% extends "layout.html" %}
{% block title %}All Samples{% endblock %}

{% block body %}

<div class="flex w-full h-full overflow-hidden">

  <!-- Sidebar -->
  {% include "admin_sidebar.html" %}

  <main class="flex-1 bg-transparent overflow-y-auto p-4 flex flex-col">


    <section id="admin-sample-search" class="mt-2 pl-4">
      <form action="" method="POST" class="flex items-center space-x-4 relative max-w-lg w-full">
    
      <div class="relative group flex-grow">
        <input 
          type="text" 
          name="sample_search" 
          id="search-input" 
          value="{{ search_str or '' }}" 
          class="border border-gray-500 rounded-full py-1 pl-10 pr-4 focus:outline-none focus:border-blue-500 w-full" 
          placeholder="Search samples">
        
        <!-- Search Icon -->
        <img src="{{ url_for('static', filename='icons/heroicons_outline_24/magnifying-glass.svg') }}" alt="Sample Search Icon" class=" transition-transform duration-500 transform hover:scale-110 hover:rotate-6 absolute left-1 top-1 pb-1 h-7 w-9 text-gray-700 cursor-pointer hover:text-blue-500" onclick="document.getElementById('search-input').focus()">
      </div>

      </form>
    </section>


    <!-- Manage samples Section -->
    <section id="manage-samples-section" class="p-2 ml-2 mt-2">
      <div class="justify-start">
        <div class="w-4/5 bg-blue-50 shadow-3xl rounded-2xl p-4 relative overflow-hidden border-l-4 border-blue-400">
          <!-- Header -->
          <div class="flex flex-col gap-4 px-2 py-2">
            <h2 class="text-base font-semibold text-black tracking-wide uppercase">Manage Samples</h2>
          </div>

          <!-- Table -->
          <div class="overflow-x-auto rounded-2xl shadow-3xl relative pagination"  id="samples-list" data-rows-per-page="20" pagination-button-color="blue" pagination-button-text-color="black">
            <table id="samples-list-table" class="min-w-full bg-transparent shadow-lg rounded-2xl text-xs my-2 overflow-hidden">
              <thead class="rounded-t-2xl overflow-hidden border-gray-800">
                <tr class="border-b text-left border-gray-800 bg-blue-200 uppercase tracking-wider shadow-xl rounded-t-2xl">
                  <th class="p-2 font-normal">Sample ID</th>
                  <th class="p-2 font-normal">Case ID</th>
                  <th class="p-2 font-normal">Clarity Case ID</th>
                  <th class="p-2 font-normal">Control ID</th>
                  <th class="p-2 font-normal">Clarity Control ID</th>
                  <th class="p-2 font-normal">Assay</th>
                  <th class="p-2 font-normal">Diagnosis</th>
                  <th class="p-2 font-normal">Profile</th>
                  <th class="p-2 font-normal">Reported</th>
                  <th class="p-2 font-normal text-center">Action</th>
                </tr>
              </thead>
              <tbody id="samples-list-body" class="text-gray-800 rounded-b-2xl overflow-hidden">
                {% for sample in all_samples %}
                  <tr class="border-t border-gray-400 hover:bg-blue-100 text-left last:rounded-b-2xl">
                    <td class="p-2 font-medium">{{ sample.name }}</td>
                    <td class="p-2 font-medium">{{ sample.case_id }}</td>
                    <td class="p-2 font-medium">{{ sample.get('case', {}).get('clarity_id', '-') }}</td>
                    <td class="p-2 font-medium">{{ sample.control_id or '-' }}</td>
                    <td class="p-2 font-medium">{{ sample.get('control', {}).get('clarity_id', '-') }}</td>
                    <td class="p-2 font-medium">{{ sample.assay }}</td>
                    <td class="p-2 font-medium">{{ sample.subpanel }}</td>
                    <td class="p-2 font-medium">
                      <span class="inline-block px-2 py-1 rounded-2xl text-white text-xs font-semibold bg-{{ sample.profile or 'production' }} text-center">
                        {{ sample.get('profile', '')[0]|upper or 'P' }}
                      </span>
                    </td>
                    <td class="p-2 font-medium">{{ 'Yes' if sample.get('reports') else 'No' }}</td>
                    <td class="p-2 font-medium flex gap-3">
                      {% if has_access("delete_sample_global", min_role="developer", min_level=9999) %}
                        <button onclick="showActionModal({
                            url: '{{ url_for('admin_bp.delete_sample', sample_id=sample._id) }}',
                            title: 'Delete Sample',
                            message: 'Are you sure you want to delete <b>{{ sample.name }}</b> sample from all the collections?',
                            confirmText: 'Delete',
                            confirmColor: 'red'
                          })" title="Delete" class="text-red-500 hover:text-red-700 font-medium">
                          <img src="{{ url_for('static', filename='icons/heroicons_outline_24/trash.svg') }}" alt="delete" class="w-5 cursor-pointer">
                        </button>
                      {% endif %}
                    </td>
                  </tr>
                {% else %}
                <tr class="border-b border-gray-300">
                  <td colspan="5" class="p-2 font-medium text-center">No samples found.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        <div>
      </div>
    </section>
  </main>
</div>
{% endblock %}
