{% extends "layout.html" %} {% block body %}
<div class="searchbox">
  <form action="" method="POST" name="form">
    {{ form.hidden_tag() }} {{ form.sample_search(size=33) }}
    <input type="submit" value="Search samples" />
  </form>
</div>
<span class="table_header">Samples without reports</span>
<table class="samples">
  <thead>
    <tr>
      <th>Sample ID</th>
      <th></th>
      <th>Group</th>
      <th>Diagnosis</th>
      <th>BAM</th>
      <th>QC</th>
      <th>When added</th>
    </tr>
  </thead>

  <tbody>
    {% for sample in live_samples %}
    <tr>
      <td>
        {% if sample.groups|join('') == 'fusion' or sample.groups|join('') == 'solidRNA_GMSv5' %}
          <a href="{{ url_for('fusions_bp.list_fusions', id=sample.name) }}">{{ sample.name }}</a>
        {% else %}
          <a href="{{ url_for('variants_bp.list_variants', id=sample.name) }}">{{ sample.name }}</a>
        {% endif %}

        {% if sample.comments|selectattr('hidden', 'equalto', 0)|list|length > 0
        %}*{% endif %}
      </td>
      <td>
        {% if "num_samples" in sample %}{%for n in range(sample.num_samples)
        %}&#9679;{% endfor %}{% endif %}
      </td>
      <td>{% for grp in sample.groups %} {{ grp }} {% endfor %}</td>
      <td>{% if "subpanel" in sample %}{{sample.subpanel}}{% endif %}</td>
      <td>
        {% if sample.bam is defined %}
        <a href="{{ sample.bam }}">BAM</a>
        <a href="{{ sample.bam }}.bai">BAI</a>
        {% endif %}
      </td>

      <td>
        {% if sample.QC is defined %} {% for qc in
        sample.QC|sort(attribute='sample_id') %} {% if "500" in qc.pct_above_x
        %}
        <a href="sampleqc/{{ sample._id }}">{{'%0.0f'| format(qc.pct_above_x["500"]|float) }}%</a>
        {% elif "tot_reads" in qc and "mapped_pct" in qc %}
        <a href="sampleqc/{{ sample._id }}">{{'%0.0f'| format((qc.tot_reads/1000000)|float) }} M</a>
        {% else %}
        <a href="sampleqc/{{ sample._id }}">0%</a>
        {% endif %} {% endfor %} {% endif %}
      </td>
      <td>{{ sample.time_added }}</td>
    </tr>
    {% else %}
    <em>No live samples.</em>
    {% endfor %}
  </tbody>
</table>

<span class="table_header">Reported samples (<a href="?all=1">show all</a>)</span>
<table class="samples">
  <thead>
    <tr>
      <th>Sample ID</th>
      <th></th>
      <th>Group</th>
      <th>Diagnosis</th>
      <th>When added</th>
      <th>Last report</th>
      <th>BAM</th>
      <th>QC</th>
      <th>Reports</th>
    </tr>
  </thead>

  <tbody>
    {% for sample in done_samples|sort(attribute="last_report_time_created",
    reverse=True) %}
    <tr>
      <td>
        <a href="{{ url_for('variants_bp.list_variants', id=sample.name) }}">{{ sample.name }}</a>
      </td>
      <td>
        {% if "num_samples" in sample %}{%for n in range(sample.num_samples)
        %}&#9679;{% endfor %}{% endif %}
      </td>
      <td>{% for grp in sample.groups %} {{ grp }} {% endfor %}</td>
      <td>{% if "subpanel" in sample %}{{sample.subpanel}}{% endif %}</td>
      <td>{{ sample.time_added }}</td>
      <td>{{ sample.last_report_time_created }}</td>
      <td>
        {% if sample.bam is defined %}
        <a href="{{ sample.bam }}">BAM</a>
        <a href="{{ sample.bam }}.bai">BAI</a>
        {% endif %}
      </td>
      <td>
        {% if sample.QC is defined %} {% for qc in
        sample.QC|sort(attribute='sample_id') %} {% if "500" in qc.pct_above_x
        %}
        <a href="sampleqc/{{ sample._id }}">{{'%0.0f'| format(qc.pct_above_x["500"]|float) }}%</a>
        {% elif "tot_reads" in qc and "mapped_pct" in qc %}
        <a href="sampleqc/{{ sample._id }}">{{'%0.0f'| format((qc.tot_reads/1000000)|float) }} M</a>
        {% else %}
        <a href="sampleqc/{{ sample._id }}">0% </a>
        {% endif %} {% endfor %} {% endif %}
      </td>

      <td>
        {% for rep in sample.reports %}
        <a href="{{rep.filepath}}">{{ rep.report_num }}</a>
        {% endfor %}
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="7">No samples.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}