{% extends "layout.html" %}

{% block body %}
{% set translation=config["TRANS"] %}
<div class="container mx-auto pt-6 pr-10 pl-10 pb-10 relative">
  <!-- Sample Information -->
  <div class="bg-white shadow-md rounded-lg p-4 mb-4 flex items-center justify-between">
    <div>
      <span class="genefilter_generic">Sample:</span>
      <a href="{{ url_for('dna_bp.list_variants', id=sample.name) }}" class="text-blue-500 hover:underline">{{ sample.name }}</a>
    </div>
    <div class="flex items-center space-x-2">
      {% if "subpanel" in sample %}
        <div>Type:<b> {{ sample.subpanel }}</b></div>
      {% endif %}
      {% if assay == "solid" %}
        {% if "purity" in sample %}
          <span class="px-1">|</span><div>Purity:<b> {{ sample.purity * 100 }}%</b></div>
        {% endif %}
        {% if biomarker and biomarker.count() > 0 %}
          {% for bio in biomarker %}
            {% if "MSIS" in bio %}
              <span class="px-1">|</span><div class="tooltip">MSI(Single):<span class="tooltiptext">Total: {{ bio.MSIS.tot }} Somatic: {{ bio.MSIS.som }}</span></div> 
              <b>{{ bio.MSIS.perc }}%</b>
            {% endif %}
            {% if "MSIP" in bio %}
              <span class="px-1">|</span><div class="tooltip">MSI(Paired):<span class="tooltiptext">Total: {{ bio.MSIP.tot }} Somatic: {{ bio.MSIP.som }}</span></div> 
              <b>{{ bio.MSIP.perc }}%</b>
            {% endif %}
            {% if "HRD" in bio %}
              <span class="px-1">|</span><div class="tooltip">HRD:<span class="tooltiptext">TAI: {{ bio.HRD.tai }} HRD: {{ bio.HRD.hrd }} LST: {{ bio.HRD.lst }}</span></div>
              <b>{{ bio.HRD.sum }}</b>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
  </div>

  <!-- Filters/Action Sidebars -->
  {% include "variant_sidebars.html" %}

  <!-- Gene Panel -->
  {% include "selected_gene_panel_div.html" %}

  <!-- Variants Table -->
  <div class="bg-white shadow-md rounded-lg p-4 mb-4">
    {% if variants|length > 0 %}
    <span class="text-xl font-semibold">Variants passing filter criteria</span>
    <!--<form action="{{ url_for('dna_bp.classify_multi_variant', id=sample.name) }}" method="POST" name="variant-form">-->
      <div class="overflow-x-auto">
        <table class="min-w-full mt-4 table-auto text-xs sortable">
          <thead>
            <tr class="bg-gradient-to-r from-indigo-300 to-yellow-300 text-black">
              <th class="py-0 px-0 border-b-2">
                <input type="checkbox" id="select-all-table" onclick="toggleSelectAllVariants(this)">
              </th>
              <th class="py-0 px-0 border-b-2"></th>
              <th class="py-2 px-3 border-b-2"></th>
              <th class="py-2 px-3 border-b-2"></th>
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Gene</th>
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">HGVS</th>
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Type</th>
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Consequence</th>
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Pop Freq</th>
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Tier</th>
              {% if assay == "swea" or assay == "tumor_exome" %}
                <th data-autoclick="true" class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Score</th>
              {% endif %}
              {% if assay == "swea" or assay == "gmsonco" %}
                <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">ENIGMA</th>
              {% endif %}
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Chr pos</th>
              {% if assay == "solid" %}
                <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Hotspot</th>
              {% endif %}
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Flags</th>
              {% if assay == "swea" %}
                <th class="py-2 px-3 border-b-2"></th>
              {% endif %}
              {% for gt in variants[0].GT|sort(attribute='type') %}
                {% if gt.type == "case" %}
                  <th {% if assay == "myeloid" %}data-autoclick="true"{% endif %} class="py-2 px-3 border-b-2 text-center uppercase font-semibold">{{ gt.type }} ({{gt.sample}})</th>
                {% else %}
                  <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">{{ gt.type }} ({{gt.sample}})</th>
                {% endif %}
              {% endfor %}
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">View</th>
            </tr>
          </thead>
          <tbody>
            {% for var in variants if (var.INFO.selected_CSQ.SYMBOL in dispgenes or dispgenes|length == 0) and (var.POS in disp_pos or disp_pos|length == 0) %}
              {% set csq = var.INFO.selected_CSQ %}
              {% if var.fp == True or ( var.blacklist and var.override_blacklist != true ) or var.irrelevant == True %}
                <tr class='bg-red-200 opacity-40 even:bg-red-200 odd:bg-red-200 hover:bg-red-300 border-b border-gray-300'>
              {% else %}
                <tr>
              {% endif %}
                <td>
                  <input type="checkbox" class="snv-checkbox" data-value="{{ var._id }}">
                </td>
                <td>
                  {% if var.fp == True %}
                    &nbsp;<img class="w-2" src="{{ url_for('static', filename='images/redcross.png') }}">
                  {% elif var.blacklist and var.override_blacklist != true %}
                    &nbsp;<img class="w-2 pl-2" src="{{ url_for('static', filename='images/blacklist.png') }}">
                  {% endif %}
                </td>
                <td>
                  {% if var.comments|length > 0 %}
                    &nbsp;<img class="w-2" src="{{ url_for('static', filename='images/comment.png') }}"> 
                  {% endif %}
                </td>
                <td>
                  {% if var.interesting == True %}
                  &nbsp;<img class="w-2" src="{{ url_for('static', filename='images/interesting.png') }}">
                  {% endif %}
                  {% if var.irrelevant == True %}
                  &nbsp;<img class="w-2" src="{{ url_for('static', filename='images/irrelevant.png') }}">
                  {% endif %}
                </td>
                <td class="py-2 px-3 border-b border-gray-300 text-gray-800">
                  {{ csq.SYMBOL }} {{ var.INFO.PANEL|format_panel_flag_snv|safe }}
                </td>
                <td class="py-2 px-3 border-b border-gray-300 text-gray-800">
                  <!-- HGVSp Section -->
                  <div class="relative inline-block w-full">
                    {% if csq.HGVSp|length > 25 %}
                      <!-- Truncated version (initial view with ellipsis) -->
                      <div id="hgvsp-short" class="truncate w-full overflow-hidden">
                        {{ csq.HGVSp[:25] }}...
                      </div>
                
                      <!-- Full text, initially hidden -->
                      <div id="hgvsp-full" class="hidden w-full break-all whitespace-normal">
                        {{ csq.HGVSp }}
                      </div>
                
                      <!-- Smaller button with a subtle symbol to toggle text visibility -->
                      <button class="ml-1 text-xs text-gray-500 hover:text-blue-500 focus:outline-none"
                              onclick="toggleText(this)">
                        [+]
                      </button>
                    {% else %}
                      {{ csq.HGVSp }}
                    {% endif %}
                  </div>
                
                  <!-- HGVSc Section -->
                  <div class="relative inline-block w-full">
                    {% if csq.HGVSc|length > 25 %}
                      <!-- Truncated version (initial view with ellipsis) -->
                      <div id="hgvs-short" class="truncate w-full overflow-hidden">
                        {{ csq.HGVSc[:25] }}...
                      </div>
                
                      <!-- Full text, initially hidden -->
                      <div id="hgvs-full" class="hidden w-full break-all whitespace-normal">
                        {{ csq.HGVSc }}
                      </div>
                
                      <!-- Smaller button with a subtle symbol to toggle text visibility -->
                      <button class="ml-1 text-xs text-gray-500 hover:text-blue-500 focus:outline-none"
                              onclick="toggleText(this)">
                        [+]
                      </button>
                    {% else %}
                      {{ csq.HGVSc }}
                    {% endif %}
                  </div>
                </td>

                <td class="py-2 px-4 border-b border-gray-300 text-gray-800">
                  {{ var.variant_class }}
                </td>
                {% if csq.Consequence is iterable and csq.Consequence is not string %}
                  <td class="py-2 px-4 border-b border-gray-300 text-gray-800">
                  {% for conseq in csq.Consequence %}
                    {% if conseq in translation %}
                      {{ translation[conseq] }}<br>
                    {% else %}
                      {{ conseq }}<br>
                    {% endif %}
                  {% endfor %}
                  </td>
                {% else %}
                  {% if csq.Consequence in translation %}
                    <td class="py-2 px-4 border-b border-gray-300 text-gray-800">{{ translation[csq.Consequence] }}</td>
                  {% else %}
                    <td class="py-2 px-4 border-b border-gray-300 text-gray-800">{{ csq.Consequence.split('&')|join('<br>')|safe }}</td>
                  {% endif %}
                {% endif %}
                <td class="py-2 px-4 border-b border-gray-300 text-gray-800 font-bold">
                  {% if "gnomad_frequency" in var and var.gnomad_frequency != "" %}
                    {{ '%.3f' | format(100*var.gnomad_frequency)}}%<br>
                  {% elif "gnomad_max" in var and var.gnomad_max != "" %}
                    {{ '%.3f' | format(100*var.gnomad_max)}}%<br>
                  {% endif %}
                  {% if var.exac_frequency %}
                    ExAC: {{ var.exac_frequency|format_pop_freq(var.ALT)|safe }}<br>
                  {% endif %}
                  {% if var.thousandG_frequency %}
                    1000G: {{ var.thousandG_frequency|format_pop_freq(var.ALT)|safe }}
                  {% endif %}
                </td>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-800">
                  {% if var.classification.class != 999 %}
                    <div class="inline-block px-2 py-1 text-xs font-semibold text-white rounded-full bg-tier{{ var.classification.class }}">
                    {% if assay == "myeloid" or assay == "tumwgs" or "assay" in var.classification %}
                      {{ var.classification.class }}
                    {% else %}
                      *
                    {% endif %}
                    </div>
                  {% elif var.other_classification|length > 0 %}
                    <div class="inline-block px-2 py-1 text-xs font-semibold text-white rounded-full bg-gray-400">?</div>
                  {% endif %}
                </td>
                {% if assay == "swea" or assay == "tumor_exome" %}
                <td class="py-2 px-3 border-b border-gray-300 text-gray-800">
                  <div class="text-center relative z-10 w-24 h-4 m-0 border border-gray-800">
                    <div style="position:absolute;z-index:-1;width:{{ (csq.rank_score|float / 0.8) |int }}%;height:100%;background-color:{% if csq.rank_score > 25 %}#bea{% else %}#eba{% endif %};"></div>{{ '%0.1f'| format(csq.rank_score) }}
                  </div>
                </td>
                {% endif %}
                {% if assay == "swea" or assay == "gmsonco" %}
                <td class="py-2 px-3 border-b border-gray-300 text-gray-800">
                  <div {% if var.INFO.ENIGMA_CLNSIG=="Pathogenic" %}class='bg-pink-300 px-1 py-0.5 font-bold inline-block text-red-800 rounded-md'{% endif %}>{{ var.INFO.ENIGMA_CLNSIG }}</div>
                </td>
                {% endif %}
                {% if assay == "solid" %}
                  <td class="py-2 px-4 border-b border-gray-300 text-gray-800">
                    <div class="inline-block px-2 py-1 text-xs font-semibold text-white rounded-full {% if csq.mmhotspot %}bg-red-400{% else %}bg-gray-400{% endif %}">
                      {{ var.CHROM }}:{{ var.POS }}
                    </div>
                  </td>
                  <td class="py-2 px-4 border-b border-gray-300 text-gray-800">
                    {% if var.INFO.HOTSPOT %}
                      <div class="inline-block px-2 py-1 text-xs font-semibold text-white rounded-full">
                        {{ var.INFO.HOTSPOT|format_hotspot|safe }}
                      </div>
                    {% endif %}
                  </td>
                {% else %}
                  <td class="py-2 px-4 border-b border-gray-300 text-gray-800">
                    <div class="inline-block px-2 py-1 text-xs font-semibold text-white rounded-full bg-gray-400">
                      {{ var.CHROM }}:{{ var.POS }}
                    </div>
                  </td>
                {% endif %}
                <td class="py-2 px-4 border-b border-gray-300 text-gray-800">
                  <div class="inline-block px-2 py-1 text-xs font-semibold text-white rounded-full">{{ var.FILTER|format_filter|safe }}</div>
                </td>
                {% if assay == "swea" %}
                <td class="py-2 px-4 border-b border-gray-300 text-gray-800">
                  {% for gt in var.GT|sort(attribute='type') %}
                    {% if gt.type == "case" %}
                      <img class="{% if gt.GT=='0/0' %}filter-grayscale-opacity{% endif %} w-5" src="{{ url_for('static', filename='images/krabba3.png') }}">
                    {% endif %}
                    {% if gt.type == "control" %}
                      <img class="{% if gt.GT=='0/0' %}filter-grayscale-opacity{% endif %} w-5" src="{{ url_for('static', filename='images/blood.png') }}">
                    {% endif %}
                  {% endfor %}
                </td>
                {% endif %}
                {% for gt in var.GT|sort(attribute='type') %}
                <td class="py-2 px-4 border-b border-gray-300 text-gray-800" sorttable_customkey="{{ gt.AF }}">
                  {% if gt.DP < settings.error_cov %}
                    <span class="font-bold" style='color:red; font-weight:bold;'>
                  {% elif gt.DP < settings.warn_cov %}
                    <span class="font-bold" style='color:#dd7700'>
                  {% else %}
                    <span>
                  {% endif %}
                    {{ '%0.1f'| format(100*gt.AF|float) }}% ({{ gt.VD|int }} / {{ gt.DP|int }})
                  </span>
                </td>
                {% endfor %}
                <td class="py-2 px-4 border-b border-gray-300 text-blue-500 hover:underline"><a href="{{ url_for('dna_bp.show_variant', id=var._id) }}">view</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
        <em>No variants found with the current filter settings!<br></em>
      {% endif %}
    </form>
  </div>




  <!-- CNV Tables -->
  {% if cnvwgs and cnvwgs|length > 0 %}
  <div class="bg-white shadow-md rounded-lg p-4 mb-4">
    <span class="table_header text-xl font-semibold">Tumor CNVs passing filter criteria</span>
    <div class="overflow-auto">
      <table class="min-w-full mt-4 table-auto text-xs sortable">
        <thead>
          <tr class="bg-gradient-to-r from-green-300 to-blue-300 text-black">
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Genes</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Region</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Size</th>
            {% if assay == "solid" or assay == "gmsonco" %}
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Callers</th>
            {% endif %}
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Copy number</th>
            {% if sample.purity %}
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Purity {{ sample.purity }}</th>
            {% endif %}
            {% if assay == "solid" or assay == "gmsonco" %}
              <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">SR (ref/alt)</th>
            {% endif %}
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Status</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">View</th>
          </tr>
        </thead>
        <tbody>
          {% for cnv in cnvwgs if (cnv.ratio|float < -0.3 or cnv.ratio|float > 0.3) and ((cnv.size|abs < (sizefilter|int) and cnv.size|abs > (sizefilter_min|int)) or cnv.ratio|float > 3) and (cnv.panel_gene|intersect(dispgenes) or dispgenes|length == 0 or assay == "tumwgs") %}
          {% if cnv.interesting %}
            <tr class="include">
          {% elif cnv.ratio > 3 and cnv.size > (sizefilter|int) %}
            <tr class="includelargeamp">
          {% endif %}
            <td class="py-2 px-3 border-b border-gray-300">
              {% set non_panel_genes = [0] %}
              {% for gene in cnv.genes %}
                {% if gene.class %}
                  {{ gene.gene }}<br>
                {% else %}
                  {% if non_panel_genes.append(non_panel_genes.pop() + 1) %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if non_panel_genes[0] > 0 %}
                <font class='text-gray-400'>+ {{ non_panel_genes[0] }} other genes</font>
              {% endif %}
            </td>
            <td class="py-2 px-3 border-b border-gray-300">
              {{ cnv.chr }}:{{ cnv.start }}-{{ cnv.end }}
            </td>
            <td class="py-2 px-3 border-b border-gray-300">
              {{ cnv.size|abs }} bp
            </td>
            {% if assay == "solid" or assay == "gmsonco" %}
              <td class="py-2 px-3 border-b border-gray-300">
                {{ cnv.callers }}
              </td>
              {% if "gatk" in cnv.callers or "cnvkit" in cnv.callers %}
                <td class="py-2 px-3 border-b border-gray-300">
                  {{ 2*(2**cnv.ratio)|round(2) }} ({{ cnv.ratio }})
                </td>
                {% if sample.purity %}
                  {% if cnv.ratio > 0 %}
                    <td class="py-2 px-3 border-b border-gray-300">
                      {{ (2*(2**cnv.ratio)*1/sample.purity)|round(2) }}
                    </td>
                  {% else %}
                    <td class="py-2 px-3 border-b border-gray-300">
                      {{ (2*(2**cnv.ratio)*sample.purity)|round(2) }}
                    </td>
                  {% endif %}
                {% endif %}
                {% if "manta" in cnv.callers %}
                  <td class="py-2 px-3 border-b border-gray-300">
                    {{ cnv.PR }}
                  </td>
                {% else %}
                  <td class="py-2 px-3 border-b border-gray-300">
                    -
                  </td>
                {% endif %}
              {% else %}
                {% if assay == "solid" %}
                  <td class="py-2 px-3 border-b border-gray-300">
                    -
                  </td>
                {% endif %}
                <td class="py-2 px-3 border-b border-gray-300">
                  -
                </td>
                <td class="py-2 px-3 border-b border-gray-300">
                  {{ cnv.PR }}
                </td>
              {% endif %}
            {% else %}
            <td class="py-2 px-3 border-b border-gray-300">
              {{ 2*(2**cnv.ratio)|round(2) }} ({{ cnv.ratio }})
            </td>
            {% endif %}
            <td class="py-2 px-3 border-b border-gray-300">
              {% if cnv.interesting %}
                report
              {% endif %}
            </td>
            <td class="py-2 px-3 border-b border-gray-300">
              <a href="{{ url_for('dna_bp.show_cnv', id=cnv._id) }}" class="text-blue-500 hover:underline">view</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}


  <!-- Translocations -->
  {% if transloc and transloc.count() > 0 %}
  <div class="bg-white shadow-md rounded-lg p-4 mb-4">
    <span class="table_header text-xl font-semibold">Gene fusions passing filter criteria</span>
    <div class="overflow-auto">
      <table class="min-w-full mt-4 table-auto text-xs sortable">
        <thead>
          <tr class="bg-gradient-to-r from-purple-300 to-red-300 text-black">
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Gene 1</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Gene 2</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Positions</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Type</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">HGVS</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Panel</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Status</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">View</th>
          </tr>
        </thead>
        <tbody>
          {% for tl in transloc %}
            {% set ANN = tl.INFO.MANE_ANN or tl.INFO.ANN[0] %}
            {% set genes = ANN.Gene_Name.split('&') %}
            <tr {% if tl.interesting %}class=include{% endif %}>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ genes[0] }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ genes[1] }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ tl.CHROM }}:{{ tl.POS }} {{ tl.ALT }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {% for annot in ANN.Annotation %}
                  {{ annot }}<br>
                {% endfor %}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ ANN.HGVSp|unesc }}<br>{{ ANN.HGVSc|unesc }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ tl.INFO.PANEL }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {% if tl.interesting %}
                  report
                {% endif %}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                <a href="{{ url_for('dna_bp.show_transloc', id=tl._id) }}" class="text-blue-500 hover:underline">view</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  <!-- Fusion Table -->
  {% if fusions|length > 0 %}
  <div class="bg-white shadow-md rounded-lg p-4 mb-4">
    <span class="table_header text-xl font-semibold">Fusions passing filter criteria</span>
    <div class="overflow-auto">
      <table class="min-w-full mt-4 table-auto text-xs">
        <thead>
          <tr class="bg-gradient-to-r from-blue-300 to-pink-300 text-black">
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Gene 1</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Gene 2</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Effect</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Spanning pairs</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold" data-autoclick="true">Unique spanning reads</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Fusion points</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Tier</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Description</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">Callers</th>
            <th class="py-2 px-3 border-b-2 text-center uppercase font-semibold">View</th>
          </tr>
        </thead>
        <tbody>
          {% for fus in fusions %}
            {% set genes = fus.genes.split('^') %}
            {% set sel_fus = (fus.calls|selectattr('selected', 'equalto', 1) |list)[0] %}
            {% if fus.blacklisted or fus.fp %}
            <tr class='bg-red-200 opacity-40 even:bg-red-200 odd:bg-red-200 hover:bg-red-300 border-b border-gray-300'>
              {% else %}
            <tr>
              {% endif %}
              <td class="py-2 px-3 border-b border-gray-300">
                {{ genes[0] }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ genes[1] }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ sel_fus.effect }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ sel_fus.spanpairs }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ sel_fus.spanreads }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ sel_fus.breakpoint1 }}<br>{{ sel_fus.breakpoint2 }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300 varlist" sorttable_customkey="{{ fus.classification.class }}">
                {% if fus.classification.class != 999 %}
                  <div class="px-1 py-0 w-[11px] text-center border border-gray-600 rounded-[11px]" id="tier{{ fus.classification.class }}">
                    {{ fus.classification.class }}
                  </div>
                {% endif %}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ sel_fus.desc|format_fusion_desc|safe }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                {{ fus.calls|uniq_callers|join("<br>")|safe }}
              </td>
              <td class="py-2 px-3 border-b border-gray-300">
                <a href="{{ url_for('dna_bp.show_fusion', id=fus._id) }}" class="text-blue-500 hover:underline">view</a>
                
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  <!-- CNV Plot -->
  {% if sample.cnvprofile %}
  <div class="bg-white shadow-md rounded-lg p-6 mb-6">
    <h2 class="text-xl font-semibold text-gray-800 mb-4 text-center">CNV Profile</h2>
    {% set build = 37 %}
    {% if "genome_build" in sample %}
      {% set build = sample.genome_build %}
    {% endif %}
    <div class="flex justify-center">
      <a href="{{ url_for('dna_bp.show_any_plot', fn=sample.cnvprofile|basename , assay=assay, build=build|int ) }}">
        <img class="rounded-lg border border-gray-300 shadow-md transition duration-300 ease-in-out transform hover:scale-105 w-900" src="{{ url_for('dna_bp.show_any_plot', fn=sample.cnvprofile|basename , assay=assay, build=build|int ) }}"></a>
    </div>
    <div class="text-center mt-4">
      {% if build|int == 38 %}
        {% for type, sample_id in sample_ids.items() %}
          <br><a href="http://10.231.229.34/gens/{{sample_id}}?hg_type=38" class="text-blue-500 hover:underline hover:text-blue-800 transition-colors duration-300" target="_blank">Open <b>{{sample_id}}</b> ({{type}}) in Gens</a>
        {% endfor %}
      {% else %}
        <br><a href="http://10.231.229.21/gens/{{ sample.name }}?region=1" class="text-blue-500 hover:underline hover:text-blue-800 transition-colors duration-300" target="_blank">Show in Gens</a>
      {% endif %}
    </div>    
  </div>
  {% endif %}


  <!-- Low Coverage Regions -->
  <div id="lowcovlist_div" style="display:none; clear:left;" class="bg-white shadow-md rounded-lg p-6 mb-6">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">Low Coverage Regions</h2>
    <div class="overflow-auto">
      <table class="min-w-full mt-4 table-auto text-xs">
        <thead>
          <tr class="bg-gradient-to-r from-yellow-300 to-green-300 text-black">
            <th class="py-2 px-4 border-b border-gray-300 text-center uppercase font-normal">Chromosomal region</th>
            <th class="py-2 px-4 border-b border-gray-300 text-center uppercase font-normal">Size (bp)</th>
            <th class="py-2 px-4 border-b border-gray-300 text-center uppercase font-normal" data-autoclick-once="true">Avg depth (x)</th>
            <th class="py-2 px-4 border-b border-gray-300 text-center uppercase font-normal">Amplicon</th>
            <th class="py-2 px-4 border-b border-gray-300 text-center uppercase font-normal">COSMIC variants</th>
          </tr>
        </thead>
        <tbody>
          {% for low in low_cov %}
          <tr class="hover:bg-gray-100">
            <td class="py-2 px-4 border-b border-gray-300">{{ low.chr }}:{{ low.start }}-{{ low.end }}</td>
            <td class="py-2 px-4 border-b border-gray-300">{{ low.end - low.start + 1 }}</td>
            {% if low.avg_cov < 500 %}
            <td class='bg-red-200 py-2 px-4 border-b border-gray-300'>{{ low.avg_cov|int }}</td>
            {% else %}
            <td class="py-2 px-4 border-b border-gray-300">{{ low.avg_cov|int }}</td>
            {% endif %}
            <td class="py-2 px-4 border-b border-gray-300">{{ low.amplicon }}</td>
            <td class="py-2 px-4 border-b border-gray-300">
              {% for cosm in low.cosmic %}
              <span class="block" title="{{ cosm['cnt'] }}">{{ cosm["id"] }} - {{ cosm["cnt"]["haematopoietic_and_lymphoid_tissue"] }}</span>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <!-- Sample Comments -->
  <div id="sample_comments" class="bg-white shadow-md rounded-lg p-6 mb-6">
    {% if sample.comments|length > 0 %}
    <h2 class="text-xl font-semibold text-gray-800 mb-4">Sample Comments</h2>
    <div class="overflow-auto">
      <table class="min-w-full mt-4 table-auto text-sm">
        <thead>
          <tr class="bg-gradient-to-r from-red-300 to-yellow-300 text-black">
            <th class="py-2 px-4 border-b border-gray-300 text-center uppercase font-normal">Who</th>
            <th class="py-2 px-4 border-b border-gray-300 text-center uppercase font-normal">Comment</th>
            <th class="py-2 px-4 border-b border-gray-300 text-left uppercase font-normal">Hide/Unhide</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in sample.comments|sort(attribute='time_created', reverse=True) %}
          {% if comment.hidden != 1 %}
            <tr>
          {% else %}
            <tr class="bg-red-100 opacity-30 hidden hidden_comment">
          {% endif %}
            <td class="align-top py-2 px-4 border-b border-gray-300 text-gray-800 text-left whitespace-nowrap">
              <b>{{ comment.author }}</b><br><small>{{ comment.time_created|human_date }}</small>
            </td>
            <td class="align-top py-2 px-4 border-b border-gray-300 text-gray-800 text-left" onclick='addText(event)'>
              {{ comment.text|format_comment|safe }}
            </td>
            <td class="align-top py-2 px-4 border-b border-gray-300 text-gray-800 text-left">
              {% set hidden_exists = 0 %}
              {% if comment.hidden != 1 %}
                <form action="{{ url_for('common_bp.hide_sample_comment', sample_id=sample._id) }}" method="post">
                  <input type="hidden" name="comment_id" value="{{ comment._id }}">
                  <input id="hide_comment" type="image" class="w-5" src="{{ url_for('static', filename='images/delete.png') }}">
                </form>
              {% else %}
                {% set hidden_exists = 1 %}
                <form action="{{ url_for('common_bp.unhide_sample_comment', sample_id=sample._id) }}" method="post">
                  <input type="hidden" name="comment_id" value="{{ comment._id }}">
                  <input id="unhide_comment" type="image" class="w-5" src="{{ url_for('static', filename='images/unhide.png') }}">
                </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% if hidden_comments %}
            <tr>
              <td colspan=4 class="py-2 px-4 border-t border-gray-300 text-center text-sm text-gray-800">
                <a href="javascript:void(0)" onclick="switchVisibility('hidden_comment')"><b>Show/hide deleted comments</b></a>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    {% endif %}
    <form action="{{ url_for('common_bp.add_sample_comment', id=sample._id) }}" method="post">
      <textarea id="comment_textarea" name="sample_comment" placeholder="Enter sample comment..." class="w-full p-2 border border-gray-300 rounded m-2 h-28"></textarea><br>
      <input type="submit" value="Save comment" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">
      <button type="button" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-2" onclick="addAIText()">Suggest</button>
    </form>
    <div id="suggestion" class="hidden">
      {{ ai_text }}
    </div>
  </div>
</div>

<script>
  function addAIText() {
    var suggestion = document.getElementById("suggestion").innerHTML.trim();
    document.getElementById("comment_textarea").value = suggestion;
  }

  function addText(event) {
    var targ = event.target || event.srcElement;
    if (!targ.closest('tr').classList.contains('hidden_comment')) {
      document.getElementById("comment_textarea").value = targ.textContent || targ.innerText;
    }
  }

  function addText(event) {
    var targ = event.target || event.srcElement;
    if (!targ.closest('tr').classList.contains('hidden_comment')) {
      const textarea = document.getElementById('comment_textarea');
      const text = event.target.innerText.trim();
      textarea.value = text;
    }
  }
  
  window.onload = function () {
    document.querySelectorAll('[data-autoclick="true"]').forEach(element => element.click());
    document.querySelectorAll('[data-autoclick-once="true"]').forEach(element => element.click());
  };
  
  var expanded = false;
  function toggleFilters() {
    var filterCard = document.getElementById("filter_card");
    filterCard.style.display = expanded ? "none" : "block";
    expanded = !expanded;
  }
  
  function show_lowcov() {
    var lowcovDiv = document.getElementById("lowcovlist_div");
    lowcovDiv.style.display = lowcovDiv.style.display == "none" ? "block" : "none";
  }
  
  function show_germlinecnv() {
    var germlineDiv = document.getElementById("germline_div");
    germlineDiv.style.display = germlineDiv.style.display == "none" ? "block" : "none";
  }
  
  function switchVisibility(class_name) {
    var elems = document.getElementsByClassName(class_name);
    for (var i = 0; i < elems.length; i++) {
      elems[i].classList.toggle('hidden');
    }
  }
  

  function showCheckboxes(id) {
    var checkboxes = document.getElementById(id);
    checkboxes.style.display = checkboxes.style.display === 'block' ? 'none' : 'block';
  }

  // JavaScript for Expand/Collapse functionality
  function toggleText(button) {
    var shortText = button.previousElementSibling.previousElementSibling;
    var fullText = button.previousElementSibling;

    // Toggle between short and full text
    if (fullText.classList.contains('hidden')) {
      shortText.classList.add('hidden');   // Hide truncated text
      fullText.classList.remove('hidden'); // Show full text
      button.textContent = '[-]';          // Change button text to Collapse
    } else {
      shortText.classList.remove('hidden'); // Show truncated text
      fullText.classList.add('hidden');     // Hide full text
      button.textContent = '[+]';           // Change button text to Expand
    }
  }

  // JavaScript for Expand/Collapse functionality
  function toggleCard(button) {
    var cardContent = document.getElementById('card-content');
    var arrowIcon = button.querySelector('img'); // Get the image inside the button
    
    // Toggle between hidden and shown
    if (cardContent.classList.contains('hidden')) {
      cardContent.classList.remove('hidden'); // Show content
      arrowIcon.classList.remove('rotate-180'); // Reset arrow to up (default)
    } else {
      cardContent.classList.add('hidden'); // Hide content
      arrowIcon.classList.add('rotate-180'); // Rotate arrow to down
    }
  }

</script>


{% endblock %}


