
<!-- sample info -->
<section class="bg-gray-100 px-2 py-1 my-1 flex flex-wrap justify-between w-full shadow-lg rounded-xl relative gap-2 border-l-8 border-r-8 border-indigo-400 z-0" id="sample-info">

  <!-- Sample Name (Will Wrap if Needed) -->
  <div class="text-sm font-semibold text-black flex flex-wrap items-center ml-2 mr-4 break-all">
    Sample:
    <a href="{{ url_for('dna_bp.list_variants', sample_id=sample.name) }}" class="ml-2 font-semibold text-blue-500 hover:underline">
      {{ sample.name }}
    </a>
  </div>

  <!-- Sample Meta Information (Wraps Naturally) -->
  <div id="sample-meta-info" class="pr-2 flex flex-wrap text-xs text-gray-700 font-medium items-center space-x-1 ml-2 mr-2 break-all overflow-x-auto">
      
    {% if "subpanel" in sample %}
      <div class="flex items-center">
        <span class="font-semibold ">Type:</span> 
        <span class="ml-1 text-black">{{ sample.subpanel }}</span>
      </div>
    {% endif %}

    {% if assay == "solid" %}
      {% if "purity" in sample %}
        <span class="text-base font-light pb-1">|</span>
        <div class="flex items-center">
          <span class="font-semibold ">Purity:</span> 
          <span class="ml-1 text-black">{{ sample.purity * 100 }}%</span>
        </div>
      {% endif %}

      {% if biomarker and biomarker.count() > 0 %}
        {% for bio in biomarker %}
          {% if "MSIS" in bio %}
            <span class="text-base font-light pb-1">|</span>
            <div class="flex items-center inline-block cursor-pointer" onmouseover="showTooltip(event, `<span class='text-yellow-400'>Total: {{ bio.MSIS.tot }}<br>Somatic: {{ bio.MSIS.som }}</span>`)">
              <span class="font-semibold ">MSI (Single):</span>
              <span class="ml-1 text-black">{{ bio.MSIS.perc }}%</span>
            </div>
          {% endif %}

          {% if "MSIP" in bio %}
            <span class="text-base font-light pb-1">|</span>
            <div class="flex items-center inline-block cursor-pointer" onmouseover="showTooltip(event, `<span class='text-yellow-400'>Total: {{ bio.MSIP.tot }}<br>Somatic: {{ bio.MSIP.som }}</span>`)">
              <span class="font-semibold ">MSI (Paired):</span>
              <span class="ml-1 text-black">{{ bio.MSIP.perc }}%</span>
            </div>
          {% endif %}

          {% if "HRD" in bio %}
            <span class="text-base font-light pb-1">|</span>
            <div class="flex items-center inline-block cursor-pointer" onmouseover="showTooltip(event, `<span class='text-yellow-400'>TAI: {{ bio.HRD.tai }}<br>HRD: {{ bio.HRD.hrd }}<br>LST: {{ bio.HRD.lst }}</span>`)">
              <span class="font-semibold ">HRD:</span>
              <span class="ml-1 text-black">{{ bio.HRD.sum }}</span>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>
</section>