
<div id="sample_div" class="bg-white rounded-lg my-8">
  <!-- Toggle Button -->
  <div class="flex justify-between items-center bg-gradient-to-b from-gray-300 to-gray-50 text-black rounded-md px-4 py-2">
    <h2 class="text-base font-semibold tracking-wide uppercase">Gene Panel(s)</h2>
    <button class="focus:outline-none" onclick="toggleCard('selected-genes-card-content')">
      <!-- Use one up arrow PNG and rotate it when collapsed -->
      <img id="arrow-icon" src="{{ url_for('static', filename='icons/up-arrow-240.png') }}" alt="Toggle Selected Genes Filters" class="w-6 h-6 transform transition-transform duration-200 filter invert rotate-180">
    </button>
  </div>

  <!-- Collapsible Content -->
  <div id="selected-genes-card-content" class="my-2 p-3 hidden">
    {% if dispgenes %}
      {% if checked_genelists %}
        {% for list in checked_genelists %}
          <div class="mt-1">
            <b>{{ list.replace("genelist_", "") }} {{ dispgenes|length }} genes:</b>
            <div class="mt-1 flex flex-wrap gap-2 text-xs">
              {% for gene in dispgenes %}
                <span class="py-1 px-2 bg-gray-100 rounded-md text-xs hover:bg-green-100">{{ gene }}</span>{% if not loop.last %} {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <b>Gene Panel(s): No genefilter applied</b>
      {% endif %}
    {% else %}
      <b>Gene Panel(s): No genefilter applied</b>
    {% endif %}
    {% if not dispgenes %}
      <p>No genes to display</p>
    {% endif %}
  </div>
</div>