{% extends "layout.html" %}

{% block body %}
{% set gens_id = sample.name|replace("-wgs","",1) %}
<div class="container mx-auto p-5">
  <div class="bg-white border-b border-gray-300 py-4">
    <div class="flex justify-between items-center">
      <!-- Left Side: Sample and Type -->
      <div class="flex items-center space-x-4">
        <div>
          <span class="text-lg font-semibold text-gray-800">Sample:</span>
          <a href="{{ url_for('dna_bp.list_variants', id=sample.name) }}" class="text-blue-500 hover:underline text-lg">{{ sample.name }}</a>
        </div>
        {% if subpanel %}
          <span class="text-gray-500">|</span>
          <div>
            <span class="text-lg font-semibold text-gray-800">Type:</span>
            <b class="text-lg">{{ subpanel }}</b>
          </div>
        {% endif %}
      </div>

      <!-- Right Side: Variant Actions -->
      {% if current_user.get_role() != "readonly" %}
        <div class="flex items-center space-x-2">
          {% if cnv.interesting == true %}
            <form action="{{ url_for('unmark_interesting_cnv', id=cnv._id) }}" method="post">
              <input class='bg-yellow-600 text-black py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-yellow-700' type="submit" name="mark_int" value="Exclude from report">
            </form>
          {% else %}
            <form action="{{ url_for('mark_interesting_cnv', id=cnv._id) }}" method="post">
              <input class="bg-green-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-green-700" type="submit" name="mark_int" value="Include in report">
            </form>      
          {% endif %}

          {% if cnv.fp == true %}
            <form action="{{ url_for('unmark_false_cnv', id=cnv._id) }}" method="post">
              <input class='bg-green-600 text-black py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-green-700' type="submit" name="mark_fp" value="Unmark false positive">
            </form>    
          {% else %}
            <form action="{{ url_for('mark_false_cnv', id=cnv._id) }}" method="post">
              <input class="bg-purple-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-purple-700" type="submit" name="mark_fp" value="Mark as false positive">
            </form>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  <!-- Variant Information cards -->
  <center>
    <div class="container mx-auto px-4 py-6 overflow-auto">
      <!-- CNV Annotation -->
      <div class="float-left max-w-screen-375 w-full">
        <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5 overflow-auto">
          <h2 class="text-base font-semibold mb-4 bg-purple-300 p-2 rounded">Variant Annotation</h2>
          <table class="w-full table-auto text-xs table">
            <tbody>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">CNV type:</td>
                <td class="px-2 py-2 border-b">
                  {% if cnv.ratio > 0 %}
                    AMP
                  {% else %}
                    DEL
                  {% endif %}
                </td>
              </tr>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">CNV size:</td>
                <td class="px-2 py-2 border-b">{{ cnv.size }} bp</td>
              </tr>
              {% if "gatk" in cnv.callers or "cnvkit" in cnv.callers or 'callers' not in cnv %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">CN call:</td>
                  <td class="px-2 py-2 border-b">{{ 2*(2**cnv.ratio)|round(2) }} copies</td>
                </tr>  
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Log2 ratio:</td>
                  <td class="px-2 py-2 border-b">{{ cnv.ratio|round(2) }}</td>
                </tr>
              {% endif %}
              {% if cnv.PR %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Spanning Paired Reads:</td>
                  <td class="px-2 py-2 border-b">{{ cnv.PR }}</td>
                </tr>
              {% endif %}
              {% if cnv.SR %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Split Reads:</td>
                  <td class="px-2 py-2 border-b">{{ cnv.SR }}</td>
                </tr>
              {% endif %}
              {% if cnv.callers %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Callers:</td>
                  <td class="px-2 py-2 border-b">{{ cnv.callers }}</td>
                </tr>
              {% endif %}
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Genes from panel:</td>
                <td class="px-2 py-2 border-b">
                  {% for gene in cnv.genes %}
                    {% if gene.class %}
                      <b>{{gene.gene}}</b> (CNV type: {{ gene.cnv_type }})<br>
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Other overlapping genes:</td>
                <td class="px-2 py-2 border-b flex flex-wrap gap-2">
                  {% for gene in cnv.genes %}
                    {% if not gene.class %}
                      <div class="bg-gray-100 rounded-md py-2 px-2 mt-1 hover:bg-gray-300">
                        {{gene.gene}}<br>
                      </div>
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
              {% set subfolder = {'dir': "None"} %}
              {% if assay == "tumwgs" or assay == "fusion" %}
              {% else %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">
                    Design-BED
                  </td>
                  <td class="px-2 py-2 border-b">
                    {% if subfolder.dir != "None" %}
                      <a class="text-blue-600 underline" href="http://localhost:60151/load?file=/R:{{subfolder.dir}}/BED/design.bed">open</a>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
              {% for sample_id,bam_path in bam_id.items() %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">
                    IGV({{sample_id}}):
                  </td>
                  <td class="px-2 py-2 border-b"> 
                    {% for path in bam_path %}
                      {% set list1 = path.split('/') %}
                      {% if subfolder.update( { 'dir': list1[0] } ) %}
                      {% endif %}
                      <a class="text-blue-600 underline" href="http://localhost:60151/load?file=/R:{{path}}&locus={{cnv.chr}}:{{cnv.start}}-{{cnv.end}}">{{list1[0]}}</a>
                      <a class="text-blue-600 underline" href="http://localhost:60151/load?file=/R:{{path}}&locus={{cnv.chr}}:{{cnv.start-50}}-{{cnv.start+50}}">[left]</a>
                      <a class="text-blue-600 underline" href="http://localhost:60151/load?file=/R:{{path}}&locus={{cnv.chr}}:{{cnv.end-50}}-{{cnv.end+50}}">[right]</a>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
              {% if "tumwgs" in sample.groups %}
                {% if sample.gensNorm %}
                  <tr class="hover:bg-purple-50">
                    <td class="px-2 py-2 border-b text-center" colspan=2>
                      <a class="text-blue-600 underline" href="http://10.231.229.34/gens/{{ sample.gens }}?region={{cnv.chr}}:{{cnv.start-1000}}-{{cnv.end+1000}}" target='_blank'>Show in Gens case </a><br>
                      <a class="text-blue-600 underline" href="http://10.231.229.34/gens/{{ sample.gensNorm }}?region={{cnv.chr}}:{{cnv.start-1000}}-{{cnv.end+1000}}" target='_blank'> Show in Gens control </a>
                    </td>
                  </tr>
                {% else %}
                  <tr class="hover:bg-purple-50">
                    <td class="px-2 py-2 border-b text-center" colspan=2>
                      <br><a class="text-blue-600 underline" href="http://10.231.229.34/gens/{{gens_id}}?region=1">Show in Gens</a></b>
                    </td>
                  </tr>
                {% endif %}
              {% else %}
                {% for type, sample_id in sample_ids.items() %}
                  <tr class="hover:bg-purple-50">
                    <td class="px-2 py-2 border-b text-center" colspan=2>
                      <a class="text-blue-600 underline" href="http://10.231.229.34/gens/{{sample_id}}?region={{cnv.chr}}:{{cnv.start-1000}}-{{cnv.end+1000}}" target='_blank'><b>Show {{type}} in Gens</b></a>
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="float-left max-w-screen-375 w-full">
        <!-- Variant Comments -->
        {% if cnv.comments|length > 0 and current_user.get_role() != "readonly" %}
          <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5">
            <h2 class="text-base font-semibold mb-4 bg-indigo-300 p-2 rounded">Sample-Specific Variant Comments</h2>
            <table class="w-full table-auto text-xs">
              <thead>
                <tr>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Who</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Comment</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Hide/Unhide</th>
                </tr>
              </thead>
              <tbody>
                {% for comment in cnv.comments|sort(attribute='time_created', reverse=True) %}
                  {% if comment.hidden != 1 %}
                    <tr class="hover:bg-indigo-50">
                  {% else %}
                    <tr class="bg-red-100 hover:bg-red-200 opacity-30 hidden hidden_comment">
                  {% endif %}
                    <td class="align-top py-2 px-4 border-b border-gray-300 text-gray-800 text-left whitespace-nowrap">
                      {{ comment.author }}<br><small>{{ comment.time_created|human_date }}</small>
                    </td>
                    <td class="align-top py-2 px-4 border-b border-gray-300 text-gray-800 text-left" onclick="addText(event)">
                      {{ comment.text|format_comment|safe }}</td>
                    <td class="align-top py-2 px-4 border-b border-gray-300 text-gray-800 text-left">
                      {% if comment.hidden != 1 %}
                        <form action="{{ url_for('hide_cnv_comment', cnv_id=cnv._id) }}" method="post">
                          <input type="hidden" name="comment_id" value="{{ comment._id }}">
                          <input id="hide_comment" type="image" class="w-5" src="{{ url_for('static', filename='images/delete.png') }}">
                        </form>
                      {% else %}
                        <form action="{{ url_for('unhide_cnv_comment', cnv_id=cnv._id) }}" method="post">
                          <input type="hidden" name="comment_id" value="{{ comment._id }}">
                          <input id="unhide_comment" type="image" class="w-5" src="{{ url_for('static', filename='images/unhide.png') }}">
                        </form>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                {% if hidden_comments %}
                  <tr>
                    <td colspan=4 class="py-2 px-4 border-t border-gray-300 text-center text-sm text-gray-800">
                      <a href="javascript:void(0)" onclick="switchVisibility_comments('hidden_comment')"><b>Show/hide deleted comments</b></a>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        {% endif %}

        {% if annotations|length > 0 %}
          <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5">
            <h2 class="text-base font-semibold mb-4 bg-indigo-300 p-2 rounded">Variant Annotations</h2>
            <table class="w-full table-auto text-xs">
              <thead>
                <tr>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Who</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Annotation</th>
                </tr>
              </thead>
              <tbody>
                {% for anno in annotations|sort(attribute='time_created', reverse=True) %}
                  {% if current_user.get_role() != "readonly" or loop.first == True %}
                    <tr class="hover:bg-indigo-50">
                      <td class="px-2 py-2 border-b whitespace-nowrap">
                        <b>{{ anno.author }}</b><br><small>{{ anno.time_created|human_date }}</small>
                      </td>
                      <td class="px-2 py-2 border-b" onclick="addText(event)">
                        {{ anno.text|format_comment|safe }}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>

      <div class="float-left max-w-screen-375 w-full">
        <!-- Variant comments Box -->
        {% if current_user.get_role() != "readonly" %}
          <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5 clear-right">
            <h2 class="text-base font-semibold mb-4 bg-blue-300 p-2 rounded">Add new comment/annotation</h2>
            <div id="commenting_box" class="w-full bg-gray-50 border border-gray-300 p-4 rounded-md">
              <form action="{{ url_for('add_variant_comment', id=cnv._id) }}" method="post">
                <textarea id="comment_textarea" name="text" placeholder="Enter variant comment/annotation..." class="w-full h-20 p-1 border border-gray-300 rounded-md focus:bg-yellow-100 mb-4"></textarea><br>
                <input type="hidden" name="cnvvar" value="{{cnv.chr}}:{{cnv.start}}-{{cnv.end}}">
                <input type="submit" value="Save" class="bg-blue-500 text-white py-1 px-3 rounded-md cursor-pointer shadow-md">&nbsp;&nbsp;
                <label class="inline-flex items-center">
                  <input type="checkbox" name="global" value="global" class="form-checkbox text-blue-500">
                  <span class="ml-2">Use as global annotation</span>
                </label>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </center>
</div>

<script type="text/javascript">
  $("#test").select2();

  window.onload = function() {
    $('[data-autoclick="true"]').click();
    $('[data-autoclick="true"]').click();
  };

  function addText(event) {
    var targ = event.target || event.srcElement;
    if (!targ.closest('tr').classList.contains('hidden_comment')) {
      document.getElementById("comment_textarea").value = targ.textContent || targ.innerText;
    }
  }

  function switchVisibility_comments(class_name) {
    var elems = document.getElementsByClassName(class_name);
    for (var i = 0; i < elems.length; i++) {
      elems[i].classList.toggle('hidden');
    }
  }
</script>

{% endblock %}

