{% extends "layout.html" %}



{% block body %}


{% set sel_csq = variant.INFO.selected_CSQ %}
{% set genomic_change =  variant.CHROM ~ ":" ~ variant.POS ~ ", " ~  variant.REF ~ " / " ~ variant.ALT %}
{% set indel_size = variant.ALT|length - variant.REF|length %}
{% set subfolder = {'dir': "None"} %}
{% set alt_class = variant.additional_classification %}
{% set consequences = sel_csq.Consequence if sel_csq.Consequence is iterable and sel_csq.Consequence is not string else sel_csq.Consequence.split('&') %}


<div class="flex w-full h-full overflow-hidden ">

  <!-- Variant Wall left side bar -->
  <aside class="w-96 bg-gray-50 text-black flex flex-col overflow-y-auto shadow-xl rounded-lg mr-1 left-0 h-full border border-gray-400">

    <!-- Variant Wall -->
    <div class="flex justify-center items-center bg-gradient-to-r from-brown-300 to-brown-200 py-2 rounded-t-lg shadow-sm border-b border-black">
      <img src="{{ url_for('static', filename='icons/heroicons_outline_24/bookmark.svg') }}" alt="Tag Icon" class="w-4 h-4 mr-2 opacity-80">
      <h2 class="text-sm font-semibold uppercase tracking-wide text-black">Variant Wall</h2>
    </div>

    <!-- Table Container -->
    <div class="overflow-auto border border-gray-300 shadow-sm bg-transparent p-0">
      <table class="table-auto w-full text-xs text-black">
        <tbody class="break-all">
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">Gene</th>
            <td class="p-2 text-right font-medium"><a href="/coyote/gene_simple/{{ sel_csq.SYMBOL }}" class="text-blue-600 underline">{{ sel_csq.SYMBOL }}</a></td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">Variant Class</th>
            <td class="p-2 text-right font-medium lowercase">
              {% if variant.variant_class in vep_var_class_translations %}
                <span class="relative inline-block cursor-pointer" onmouseover="showTooltip(event, `{{ vep_var_class_translations[variant.variant_class].desc | escape }}`)">{{ vep_var_class_translations[variant.variant_class].short }}</span>
              {% else %}
                {{ variant.variant_class }}
              {% endif %}
            </td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2 break-all">Canonical Transcript</th>
            <td class="p-2 text-right font-medium">{{ sel_csq.Feature }}</td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">Consequence</th>
            <td class="py-2 px-1 text-right font-medium">
              {% for conseq in consequences %}
                <div class="inline-block mb-1 py-1 cursor-pointer rounded-full bg-gray-300"
                  onmouseover="showTooltip(event, `{% if conseq in vep_conseq_translations %}
                    <strong>{{ vep_conseq_translations[conseq].display }}</strong><br>
                    {{ vep_conseq_translations[conseq].desc }}<br>
                    <span class='text-yellow-400 font-bold'>Impact: {{ vep_conseq_translations[conseq].impact }}</span>
                  {% else %}
                    {{ conseq }}
                  {% endif %}`)">
                  {% if conseq in vep_conseq_translations %}
                      {{ vep_conseq_translations[conseq].short }}
                  {% else %}
                    {{ conseq }}
                  {% endif %}
                </div>
              {% endfor %}
            </td>
          </tr>
          {% if sel_csq.EXON|length > 0 %}
            <tr class="border-b border-gray-400 hover:bg-brown-100">
              <th class="p-2 font-semibold text-left w-1/2">Exon</th>
              <td class="p-2 text-right font-medium">{{ sel_csq.EXON }}</td>
            </tr>
          {% endif %}
          {% if sel_csq.INTRON|length > 0 %}
            <tr class="border-b border-gray-400 hover:bg-brown-100">
              <th class="p-2 font-semibold text-left w-1/2">Intron</th>
              <td class="p-2 text-right font-medium">{{ sel_csq.INTRON }}</td>
            </tr>
          {% endif %}
          {% for gt in variant.GT %}
            <tr class="border-b border-gray-400 hover:bg-brown-100">
              <th class="p-2 font-semibold text-left w-1/2 capitalize">{{gt.type}} VAF</th>
              <td class="p-2 text-right font-medium">{{'%0.1f'| format(100*gt.AF|float) }}% <br>({{ gt.VD|int }} / {{ gt.DP|int }})</td>
            </tr>
          {% endfor %}
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">CADD</th>
            <td class="p-2 text-right font-medium">
              {% if sel_csq.CADD_PHRED %}
                {{ sel_csq.CADD_PHRED }}
              {%else %}
                -
              {% endif %}
            </td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">SIFT</th> <!-- TODO: Color this based the score -->
            <td class="p-2 text-right font-medium break-all">
              {% if sel_csq.SIFT %}
                {{ sel_csq.SIFT }}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">Polyphen</th> <!-- TODO: Color this based the score -->
            <td class="p-2 text-right font-medium break-all">
              {% if sel_csq.PolyPhen %}
                {{ sel_csq.PolyPhen }}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">dbSNP</th>
            <td class="p-2 text-right font-medium">
              {%if variant.dbsnp_id %}
                <a target="_blank" href="https://www.ncbi.nlm.nih.gov/snp/{{ variant.dbsnp_id }}" class="text-blue-600 underline">{{ variant.dbsnp_id }}</a>
              {% else %}
                -
              {%endif%}
            </td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">COSMIC</th>
            <td class="p-2 text-right font-medium">
              {% if variant.cosmic_ids %}
                {% for cosm_id in variant.cosmic_ids %}
                  <a target="_blank" href="https://cancer.sanger.ac.uk/cosmic/search?q={{ cosm_id }}" class="text-blue-600 underline">{{ cosm_id }}</a><br>
                {% endfor %}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">ClinVar</th>
            <td class="p-2 text-right font-medium">{{ sel_csq.CLIN_SIG|default('')|multirow|safe }}</td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">cBioPortal</th>
            <td class="p-2 text-right font-medium">
              <a target="_blank" href="http://www.cbioportal.org/ln?q={{sel_csq.SYMBOL}}" class="text-blue-600 underline">
                {{sel_csq.SYMBOL}}
              </a>
            </td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">OnkoKB</th>
            <td class="p-2 text-right font-medium">
              <a target="_blank" href="http://oncokb.org/#/gene/{{sel_csq.SYMBOL}}" class="text-blue-600 underline">
                {{sel_csq.SYMBOL}}
              </a>
            </td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">LitVar</th>
            <td class="p-2 text-right font-medium">
              {% if variant.dbsnp_id %}
                <a target="_blank" href="https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/LitVar/#!?query={{ variant.dbsnp_id }}" class="text-blue-600 underline">
                  {{ variant.dbsnp_id }}
                </a>
              {% else %}
                -
              {% endif %}  
            </td>
          </tr>
          <tr class="border-b border-gray-400 hover:bg-brown-100">
            <th class="p-2 font-semibold text-left w-1/2">Alamut</th>
            <td class="p-2 text-right font-medium">
              {% if variant.dbsnp_id %}
                <a target="_blank" href="http://localhost:10000/show?request={{variant.CHROM}}:{{variant.POS}}{{variant.REF}}&gt;{{variant.ALT}}" class="text-blue-600 underline">open</a>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
          {% if assay == "tumwgs" or assay == "fusion" %}
          {% else %}
            <tr class="border-b border-gray-400 hover:bg-brown-100">
              <th class="p-2 font-semibold text-left w-1/2">Design Bed</th>
              <td class="p-2 text-right font-medium">
                {% if subfolder.dir != "None" %}
                  <a href="http://localhost:60151/load?file=/R:{{subfolder.dir}}/BED/design.bed" class="text-blue-600 underline">open</a>
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          {% endif %}

        </tbody>
      </table>
    </div>

  </aside>

  <!-- LEFT SIDEBAR (Fixed Width, Full Height) -->
  <!--
  <aside class="w-8 bg-transparent text-white flex flex-col">
    <div class="flex border-l-8 border-yellow-500 mt-1">
      <a href="#snv-indels" 
        class="relative bg-gray-500 text-white text-xs text-center py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
          <span class="vertical-text">SNVs</span>
      </a>
    </div>

    <div class="flex border-l-8 border-yellow-500">
      <a href="#cnvs" 
        class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
          <span class="vertical-text">CNVs</span>
      </a>
    </div>


    <div class="flex border-l-8 border-yellow-500">
      <a href="#cnvs" 
        class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
          <span class="vertical-text">CNVs</span>
      </a>
    </div>
    <div class="flex border-l-8 border-yellow-500">
      <a href="#cnvs" 
        class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
          <span class="vertical-text">CNVs</span>
      </a>
    </div>
    <div class="flex border-l-8 border-yellow-500">
      <a href="#cnvs" 
        class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
          <span class="vertical-text">CNVs</span>
      </a>
    </div>
    <div class="flex border-l-8 border-yellow-500">
      <a href="#cnvs" 
        class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
          <span class="vertical-text">CNVs</span>
      </a>
    </div>
    
    <div class="flex border-l-8 border-yellow-500">
      <a href="#cnvs" 
        class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
          <span class="vertical-text">CNVs</span>
      </a>
    </div>
  </aside>
  -->

  <main class="flex-1 bg-transparent overflow-y-auto p-2 flex flex-col">

    <!-- sample info -->
    <section class="bg-gray-100 px-2 py-1 my-1 flex flex-wrap justify-between w-full shadow-lg rounded-xl relative gap-2 border-2 border-indigo-400 z-0" id="sample-info">

      <!-- Sample Name (Will Wrap if Needed) -->
      <div class="text-sm font-semibold text-black flex items-center ml-2 mr-4 ">
        Sample:
        <a href="{{ url_for('dna_bp.list_variants', id=sample.name) }}" class="ml-2 font-semibold text-blue-500 hover:underline">
          {{ sample.name }}
        </a>
      </div>

      <!-- Sample Meta Information (Wraps Naturally) -->
      <div id="sample-meta-info" class="pr-2 flex flex-wrap text-xs text-gray-700 font-medium items-center space-x-1 ml-2 mr-2">
        
        {% if "subpanel" in sample %}
          <div class="flex items-center">
            <span class="font-semibold ">Type:</span> 
            <span class="ml-1 text-black">{{ sample.subpanel }}</span>
          </div>
        {% endif %}

        {% if assay == "solid" %}
          {% if "purity" in sample %}
            <span class="text-base font-light pb-1">|</span>
            <div class="flex items-center">
              <span class="font-semibold ">Purity:</span> 
              <span class="ml-1 text-black">{{ sample.purity * 100 }}%</span>
            </div>
          {% endif %}

          {% if biomarker and biomarker.count() > 0 %}
            {% for bio in biomarker %}
              {% if "MSIS" in bio %}
                <span class="text-base font-light pb-1">|</span>
                <div class="flex items-center inline-block cursor-pointer" onmouseover="showTooltip(event, `<span class='text-yellow-400'>Total: {{ bio.MSIS.tot }}<br>Somatic: {{ bio.MSIS.som }}</span>`)">
                  <span class="font-semibold ">MSI (Single):</span>
                  <span class="ml-1 text-black">{{ bio.MSIS.perc }}%</span>
                </div>
              {% endif %}

              {% if "MSIP" in bio %}
                <span class="text-base font-light pb-1">|</span>
                <div class="flex items-center inline-block cursor-pointer" onmouseover="showTooltip(event, `<span class='text-yellow-400'>Total: {{ bio.MSIP.tot }}<br>Somatic: {{ bio.MSIP.som }}</span>`)">
                  <span class="font-semibold ">MSI (Paired):</span>
                  <span class="ml-1 text-black">{{ bio.MSIP.perc }}%</span>
                </div>
              {% endif %}

              {% if "HRD" in bio %}
                <span class="text-base font-light pb-1">|</span>
                <div class="flex items-center inline-block cursor-pointer" onmouseover="showTooltip(event, `<span class='text-yellow-400'>TAI: {{ bio.HRD.tai }}<br>HRD: {{ bio.HRD.hrd }}<br>LST: {{ bio.HRD.lst }}</span>`)">
                  <span class="font-semibold ">HRD:</span>
                  <span class="ml-1 text-black">{{ bio.HRD.sum }}</span>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>
    </section>

    <!-- Variant Main Info banner -->
    <section class="bg-gray-100 px-2 py-1 my-2 flex flex-wrap justify-between w-full shadow-lg rounded-xl relative gap-2 z-0 border-2 border-purple-400" id="variant-info">
      <!-- Variant Info Left Section -->
      <div class="flex flex-col ml-2 mr-4">
        <h2 class="text-normal font-bold">
          {{ sel_csq.SYMBOL }} ({{ sel_csq.Feature }}):
          {% if sel_csq.HGVSp %}
            {{ sel_csq.HGVSp|one_letter_p|unesc }}
          {% elif sel_csq.HGVSc %}
            {{ sel_csq.HGVSc }}
          {% else %}
            g.{{ genomic_change }} <!-- TODO: CHANGE THE NAMING FORMAT -->
          {% endif %}
        </h2>
        <p class="text-sm font-normal py-1">
          Called by: {{ variant.INFO.variant_callers|join(', ') }}
        </p>
      </div>

      <!-- Right Section Tier info --> <!-- Change this with tooltip -->
      <div class="flex flex-col text-right ml-2 mr-4">
        <h2 class="text-normal tracking-wide font-bold">
            {% if classification.class == 1 %}
              Tier I: Strong Clinical Significance
            {% elif classification.class == 2 %}
              Tier II: Potential Clinical Significance
            {% elif classification.class == 3 %}
              Tier III: Unknown Clinical Significance
            {% elif classification.class == 4 %}
              Tier IV: Benign
            {% else %}
              Not Tiered
            {% endif %}
        </h2>
      </div>
    </section>





    <!-- other information cards -->
    <!--<section class="bg-transparent px-2 py-3 my-2 flex items-start relative gap-2" id="information-cards">-->


    <section class="bg-transparent px-2 py-1 my-1 grid grid-cols-2 max-content gap-3 max-w-screen-xl w-auto relative z-0 items-start" id="information-cards">

      <!-- Comment box, other tiering and pon -->
      <div class="flex flex-col gap-3 max-w-screen-sm w-auto">
        <!-- Comment box -->
        {% if current_user.get_role() != "readonly" %}
          <div class="bg-transparent w-full" id="commenting-box-card">
            <h2 class="text-sm font-semibold bg-gradient-to-b from-indigo-400 to-indigo-200 p-2 shadow-md rounded-t-lg">Add new comment/annotation</h2>
            <div id="commenting_box" class="rounded-b-lg border border-gray-400 shadow-md p-2">
              <form action="{{ url_for('dna_bp.add_variant_comment', id=variant._id) }}" method="post">
                <textarea id="comment_textarea" name="text" placeholder="Enter variant comment/annotation..." class="w-full h-40 p-2 border border-gray-300 rounded-lg focus:bg-yellow-50 mb-4"></textarea><br>
                {% if sel_csq.HGVSc is defined %}
                  <input type="hidden" name="gene" value="{{ sel_csq.SYMBOL }}">      
                  <input type="hidden" name="transcript" value="{{ sel_csq.Feature }}">
                  <input type="hidden" name="var_p" value="{{ sel_csq.HGVSp|unesc }}">
                  <input type="hidden" name="var_c" value="{{ sel_csq.HGVSc|unesc}}">
                {% endif %}
                <input type="hidden" name="var_g" value="{{ variant.CHROM }}:{{ variant.POS }}:{{ variant.REF }}/{{ variant.ALT }}">
                <input type="submit" value="Save" class="bg-blue-500 text-white py-1 px-2 mx-1 mb-1 rounded-lg cursor-pointer shadow-md">&nbsp;&nbsp;
                <label class="items-center">
                  <input type="checkbox" name="global" value="global" class="form-checkbox text-blue-500">
                  <span class="ml-2">Use as global annotation</span>
                </label>
                <input type="hidden" name="assay" value="{{ assay }}">
                <input type="hidden" name="subpanel" value="{{ subpanel }}">
              </form>
            </div>
          </div>
        {% endif %}

        <!-- Other Tiering Information -->
        <div class="bg-gray-50 w-auto shadow-md rounded-lg mb-1 pagination" data-rows-per-page="2" pagination-button-color="orange" pagination-button-text-color="black" id="other-tiering-info">
          <h2 class="text-sm font-semibold bg-gradient-to-b from-orange-400 to-orange-200 p-2 shadow-md rounded-t-lg">Other Tiering</h2>
          <div class="rounded-b-lg">
            {% if other_classifications %}
              <table class="w-full table-auto text-xs text-gray-800">
                <thead class="capitalize tracking-wide rounded-t-lg bg-orange-100">
                  <tr class="border-b text-left border-gray-800">
                    <th class="p-3 font-semibold w-1/6">Assay</th>
                    <th class="p-3 font-semibold w-4/6">Diagnosis</th>
                    <th class="p-3 font-semibold w-1/6">Tier</th>
                  </tr>
                </thead>
                <tbody>
                <tbody id="other-tiering-info-body" class="{% if other_classifications|length > 1 %}border-b border-gray-400 {% endif %}">
                  {% for var in other_classifications %}
                    <tr class="hover:bg-orange-50 border-t border-gray-400 text-left align-top">
                      <td class="p-2 font-medium">{{var.assay}}</td>
                      <td class="p-2">
                        {% if "subpanel" in var %}
                          {{ var.subpanel }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td class="p-2">{{var.class}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <em class="block text-center text-gray-600 text-sm italic p-4 rounded-b-lg border border-gray-300 shadow-md hover:bg-orange-50">Other tiering information is not available</em>
            {% endif %}
          </div>
        </div>

        <!-- Panel of Normals -->
        <div class="bg-gray-50 w-full shadow-md rounded-lg mb-1" id="panel-of-normals">
          <h2 class="text-sm font-semibold bg-gradient-to-b from-brown-400 to-brown-200 p-2 shadow-md rounded-t-lg">Panel of Normals</h2>
          <div class="rounded-b-lg">
            {% if pon is not none and pon|length > 0 %}
              <table class="w-full text-xs text-gray-800">
                <thead class="capitalize tracking-wide rounded-t-lg bg-brown-200">
                  <tr class="border-b text-left border-gray-800">
                    <th class="px-1 py-2 font-semibold w-1/6">Variant caller</th>
                    <th class="px-1 py-2 font-semibold w-1/6"># detected</th>
                    <th class="px-1 py-2 font-semibold w-4/6">Variant Frequencies</th>
                  </tr>
                </thead>
                <tbody id="panel-of-normals-body" class="{% if pon|length > 1 %}border-b border-gray-400 {% endif %}">
                  {% for vc in pon %}
                    <tr class="hover:bg-brown-50 border-t border-gray-400 text-left align-top">
                      <td class="p-2">{{ vc }}</td>
                      <td class="p-2">{{ pon[vc].NUM }}%</td>
                      <td class="p-2">
                        {% for vaf in (pon[vc].VAFS|string).split(",") %}
                          <span class="ponfreq">{{'%0.1f'| format(100*vaf|float) }}%</span>
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <em class="block text-center text-gray-600 text-sm italic p-4 rounded-b-lg border border-gray-300 shadow-md hover:bg-brown-50">No Panel of Normals information available.</em>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-3 max-w-screen-sm w-auto">
        <!-- Variant annotations (All) -->
        <div class="bg-gray-50 w-full pagination shadow-md rounded-lg mb-1" data-rows-per-page="2" pagination-button-color="green" pagination-button-text-color="black" id="variant-annotations-all">
          <h2 class="text-sm font-semibold bg-gradient-to-b from-green-400 to-green-200 p-2 shadow-lg rounded-t-lg">Variant Annotations (All)</h2>
          <div class="rounded-b-lg ">
            {% if annotations|length > 0 %}
              <table class="w-full table-auto text-xs text-gray-800 mb-1">
                <thead class="capitalize tracking-wide rounded-t-lg bg-green-100">
                  <tr class="border-b text-left border-gray-800">
                    <th class="p-3 font-semibold w-1/6">Who</th>
                    <th class="p-3 font-semibold w-4/6">Annotation</th>
                    <th class="p-3 font-semibold w-1/6">Assay</th>
                  </tr>
                </thead>
                <tbody id="variant-annotations-all-body" class="{% if annotations|length > 1 %}border-b border-gray-400 {% endif %}">
                  {% for anno in annotations|sort(attribute='time_created', reverse=True) %}
                    {% if current_user.get_role() != "readonly" or loop.first == True %}
                      <tr class="hover:bg-green-100 border-t border-gray-400 text-left align-top">
                        <td class="p-2 font-medium">{{ anno.author }}<br><small>{{ anno.time_created|human_date }}</small></td>
                        <td class="p-2" onclick="addText(event)">{{ anno.text|format_comment|safe }}</td>
                        <td class="p-2">
                          {% if "assay" in anno %}
                            {{ anno.assay }}<br><small>{{ anno.subpanel }}</small>
                          {% else %}
                            historic
                          {% endif %}
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <em class="block text-center text-gray-600 text-sm italic p-4 rounded-b-lg border border-gray-300 shadow-md">No variant annotations (all) available.</em>
            {% endif %}
          </div>
        </div>

        <!-- Variant annotations (Assay) -->
        <div class="bg-gray-50 w-full pagination shadow-md rounded-lg mb-1" data-rows-per-page="2" pagination-button-color="blue" pagination-button-text-color="black" id="variant-annotations-assay">
          <h2 class="text-sm font-semibold bg-gradient-to-b from-blue-400 to-blue-200 p-2 shadow-md rounded-t-lg">Variant Annotations (Assay)</h2>
          <div class="rounded-b-lg">
            {% if annotations_interesting|length > 0 %}
              <table class="w-full table-auto text-xs text-gray-800">
                <thead class="capitalize tracking-wide rounded-t-lg bg-blue-100">
                  <tr class="border-b text-left border-gray-800">
                    <th class="p-3 font-semibold w-1/6">Who</th>
                    <th class="p-3 font-semibold w-4/6">Annotation</th>
                    <th class="p-3 font-semibold w-1/6">Assay</th>
                  </tr>
                </thead>
                <tbody id="variant-annotations-assay-body" class="{% if annotations_interesting|length > 1 %}border-b border-gray-400 {% endif %}">
                  {% for assay_sub, key in annotations_interesting.items() %}
                    <tr class="hover:bg-blue-100 border-t border-gray-400 text-left align-top">
                      <td class="p-2 font-medium">{{ key.author }}<br><small>{{ key.time_created|human_date }}</small></td>
                      <td class="p-2" onclick="addText(event)">{{ key.text|format_comment|safe }}</td>
                      <td class="p-2">
                        {% if "assay" in key %}
                          {{ key.assay }}<br><small>{{ key.subpanel }}</small>
                        {% else %}
                          historic
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <em class="block text-center text-gray-600 text-sm italic p-4 rounded-b-lg border border-gray-300 shadow-md hover:bg-blue-100">No variant annotations (Assay) available.</em>
            {% endif %}
          </div>
        </div>


        <!-- Sample Specific Variant comments -->
        <div class="bg-gray-50 w-full shadow-md rounded-lg mb-1" id="variant-comments">
          <h2 class="text-sm font-semibold bg-gradient-to-b from-yellow-400 to-yellow-200 p-2 shadow-md rounded-t-lg">Sample-Specific Variant Comments</h2>
          <div class="rounded-b-lg">
            {% if variant.comments|length > 0 and current_user.get_role() != "readonly" %}
              <table class="w-full table-auto text-xs text-gray-800">
                <thead class="capitalize tracking-wide rounded-t-lg bg-yellow-100">
                  <tr class="border-b text-left border-gray-800">
                    <th class="p-3 font-semibold w-1/6">Who</th>
                    <th class="p-3 font-semibold w-4/6">Comment</th>
                    <th class="p-3 font-semibold w-1/6">Assay</th>
                  </tr>
                </thead>
                <tbody id="variant-comments-body" class="{% if variant.comments|length > 1 %}border-b border-gray-400 {% endif %}">
                  {% for comment in variant.comments|sort(attribute='time_created', reverse=True) %}
                    {% if comment.hidden != 1 %}
                      <tr class="hover:bg-yellow-50 border-t border-gray-400 text-left align-top">
                    {% else %}
                      <tr class="bg-red-100 hover:bg-red-200 opacity-30 border-t border-gray-400 text-left align-top hidden hidden_comment">
                    {% endif %}
                      <td class="p-2 font-medium">{{ comment.author }}<br><small>{{ comment.time_created|human_date }}</small></td>
                      <td class="p-2" onclick="addText(event)">{{ comment.text|format_comment|safe }}</td>
                      <td class="p-2">
                        {% if comment.hidden != 1 %}
                          <form action="{{ url_for('dna_bp.hide_variant_comment', var_id=variant._id) }}" method="post">
                            <input type="hidden" name="comment_id" value="{{ comment._id }}">
                            <input id="hide_comment" type="image" class="w-5 hover:scale-105" src="{{ url_for('static', filename='icons/heroicons_outline_24/eye-slash.svg') }}">
                          </form>
                        {% else %}
                          <form action="{{ url_for('dna_bp.unhide_variant_comment', var_id=variant._id) }}" method="post">
                            <input type="hidden" name="comment_id" value="{{ comment._id }}">
                            <input id="unhide_comment" type="image" class="w-5" src="{{ url_for('static', filename='icons/heroicons_outline_24/eye.svg') }}">
                          </form>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  {% if hidden_comments %}
                    <tr>
                      <td colspan=3 class="py-2 px-4 border-t border-gray-300 text-center text-sm text-gray-800">
                        <a href="javascript:void(0);" onclick="switchVisibility_comments('hidden_comment')">
                          Show/Hide Deleted Comments
                        </a>
                      </td>
                    </tr>
                {% endif %}
                </tbody>
              </table>
            {% else %}
              <em class="block text
              -center text-gray-600 text-sm italic p-4 rounded-b-lg border border-gray-300 shadow-md">No sample-specific variant comments available.</em>
            {% endif %}
          </div>
        </div>

        <!-- MELT Annotations -->
        {% if "MELT" in variant.INFO.variant_callers %}
          <div class="bg-gray-50 max-w-sm w-full shadow-md rounded-lg mb-1" id="melt-annotations">
            <h2 class="text-sm font-semibold bg-gradient-to-b from-teal-400 to-teal-200 p-2 shadow-md rounded-t-lg">MELT-Specific Annotations</h2>
            <div class="rounded-b-lg">
              <table class="w-full text-xs text-gray-800">
                <thead class="capitalize tracking-wide rounded-t-lg bg-teal-200">
                  <tr class="border-b text-left border-gray-800">
                    <th class="px-1 py-2 font-semibold">Type</th>
                    <th class="px-1 py-2 font-semibold">Annotation</th>
                  </tr>
                </thead>
                <tbody id="melt-annotations-body">
                  {% if "custom" in variant.INFO %}
                    {% set melt_anno = variant.INFO.custom.split(",") %}
                    {% for ma in melt_anno %}
                      {% set keyval = ma.split("|") %}
                      <tr class="hover:bg-teal-50 border-t border-gray-400 text-left align-top">
                        <td class="p-2">{{keyval[0]}}</td>
                        <td class="p-2">{{keyval[1]}}</td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}

      </div>

    </section>

    <section class="bg-transparent px-2 py-3 my-2 flex items-start relative gap-4" id="information-cards">

        <!-- Alternate Transcripts Information -->
        <div class="bg-gray-50 max-w-screen-sm w-full shadow-md rounded-lg mb-1" id="alternate-transcripts-info">
          <h2 class="text-sm font-semibold bg-gradient-to-b from-purple-400 to-purple-200 p-2 shadow-md rounded-t-lg">Alternate Transcripts             
            {% if assay == "swea" or assay == "gmsonco" %}
              <a href="javascript:void(0)" onclick="switchVisibility_noncanonicaltranscripts('noncanonical_transcript')" class="text-blue-600 hover:underline">
                Show/hide
              </a>
            {% endif %}
          </h2>
          <div class="rounded-b-lg">
            <table class="w-full text-xs break-all text-gray-800">
              <thead class="capitalize tracking-wide rounded-t-lg bg-purple-200">
                <tr class="border-b text-left border-gray-800 break-all">
                  <th class="px-1 py-2 font-semibold">Gene</th>
                  <th class="px-1 py-2 font-semibold">Transcript</th>
                  <th class="px-1 py-2 font-semibold">Exon</th>
                  <th class="px-1 py-2 font-semibold">Protein Change</th>
                  <th class="px-1 py-2 font-semibold">CDS Change</th>
                  <th class="px-1 py-2 font-semibold">Tier</th>
                </tr>
              </thead>
              <tbody id="alternate-transcripts-info-body" class="{% if variant.INFO.CSQ|length > 1 %}border-b border-gray-400 {% endif %}">
                {% for csq in variant.INFO.CSQ %}
                  {% if csq.BIOTYPE == "protein_coding" and (csq.HGVSp|length > 0 or csq.HGVSc|length > 0) %}
                    {% if csq.Feature == sel_csq.Feature %}
                      <tr class="bg-purple-100 hover:bg-green-100 border-t border-gray-400 text-left align-top">
                    {% else %}
                      <tr {% if assay == "swea" or assay == "gmsonco" %}class="noncanonical_transcript visibility-collapsed border-t border-gray-400 text-left align-top"{% else %}class="hover:bg-purple-50 border-t border-gray-400 text-left align-top"{% endif %}>
                    {% endif %}
                    <td class="p-2">{{ csq.SYMBOL }}</td>
                    <td class="p-2">{{ csq.Feature }}</td>
                    <td class="p-2">{{ csq.EXON }}</td>
                    <td class="p-2 whitespace-normal">{{ csq.HGVSp|unesc|safe }}</td>
                    <td class="p-2 whitespace-normal">{{ csq.HGVSc|unesc|safe }}</td>
                    <td class="p-2">
                      {% if alt_class and csq.Feature == alt_class.transcript and (csq.HGVSc == alt_class.variant or csq.HGVSp == alt_class.variant) %}
                        <div class="inline-block px-2 py-1 text-xs font-bold text-white rounded-full bg-gray-400">
                          {{ alt_class.class }}
                        </div>
                      {% else %}
                        -
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Knowledge Base -->
        <!-- Modify the table body classes -->
        <div class="bg-gray-50 max-w-screen-sm w-full shadow-md rounded-lg mb-1" id="knowledge-base-card">
          <h2 class="text-sm font-semibold bg-gradient-to-b from-pink-400 to-pink-200 p-2 shadow-md rounded-t-lg">Knowledge Base</h2>
          <div class="rounded-b-lg">
            <table class="w-full table-auto text-xs text-gray-800">
              <thead class="capitalize tracking-wide rounded-t-lg bg-pink-200">
                <tr class="border-b text-left border-gray-800">
                  <th class="p-3 font-semibold w-1/12">Database</th>
                  <th class="p-3 font-semibold w-1/12">Gene/Variant</th>
                  <th class="p-3 font-semibold w-10/12">Summary</th>
                </tr>
              </thead>
              <tbody id="knowledge-base-card-body">
                <!-- IARC Database -->
                {% if iarc_tp53 is defined and iarc_tp53 is not none %}
                  <tr class="hover:bg-pink-50 border-b">
                    <td class="p-2 font-medium align-top">
                      <img class="w-10 h-10 object-contain" alt="IARC TP53" src="{{ url_for('static', filename='images/iarctp53_logo.png') }}">
                      <p class="text-red-500 font-bold align-top">BETA!</p>
                    </td>
                    <td class="p-2 font-medium align-top py-5">
                      <a href="http://p53.iarc.fr/TP53GeneVariations.aspx" class="text-blue-600 hover:underline break-words">IARC Variations</a>
                    </td>
                    <td class="p-2 font-medium text-justify break-words">
                      <div class="flex flex-wrap gap-2">
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">Somatic count</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.n_somatic }}</p>
                        </div>
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">Germline count</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.n_germline }}</p>
                        </div>
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">Structural motif</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.motif }}</p>
                        </div>
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">Domain function</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.domain_func }}</p>
                        </div>
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">Residue function</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.residue_func }}</p>
                        </div>
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">Transactivation class</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.transactivation_class }}</p>
                        </div>
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">AGVGD class</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.AGVGD_class }}</p>
                        </div>
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">Splicing</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.splice }}</p>
                        </div>
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">CpG site</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.cpg }}</p>
                        </div>
                        <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                          <p class="text-xs text-gray-500">Polymorphism</p>
                          <p class="text-xs font-semibold text-gray-800">{{ iarc_tp53.polymorphism }}</p>
                        </div>
                      </div>
                      {% if "topology_count" in iarc_tp53 %}
                        <br>
                        <p class="text-sm p-2 font-semibold text-gray-800">Topologies - Counts</p>
                        <div class="flex flex-wrap gap-2">
                          {% for top, count in iarc_tp53.topology_count.items() %}
                          <div class="flex-grow-0 bg-white p-2 rounded-lg shadow-md border border-gray-200">
                            <p class="text-xs text-gray-500">{{ top }}</p>
                            <p class="text-xs font-semibold text-gray-800">{{ count }}</p>
                          </div>
                          {% endfor %}
                        </div>
                      {%endif %}
                    </td>
                  <tr>
                {% endif %}
                <!-- BRCA Exchange Database -->
                <!-- TODO: Update this to the latest design when testing -->
                {#{% set brca_exchange = {} %}#}
                {% if brca_exchange is defined and brca_exchange is not none %}
                  <tr class="hover:bg-pink-50 border-b">
                    <td class="p-2 font-medium align-top">
                      <img class="w-12" alt="BRCA Exchange" src="{{ url_for('static', filename='images/brcaexchange_logo.jpg') }}">
                    </td>
                    <td class="p-2 font-medium align-top py-5">
                      <a href="http://brcaexchange.org/variant/{{brca_exchange.id}}" class="text-blue-600 hover:underline break-words">{{brca_exchange.id}}</a>
                    </td>
                    <td class="p-2 font-medium text-justify break-words">
                      Clinical significance (ENIGMA): <b>{{brca_exchange.enigma_clinsig}}</b><p>
                      {{brca_exchange.enigma_clinsig_comment}}</b><p>
                      {% if brca_exchange.enigma_clinsig_refs != "-" %}
                        Citations: {{brca_exchange.enigma_clinsig_refs|pubmed_links|safe}}
                      {% endif %}
                    </td>
                {% endif %}

                <!-- OnkoKB Database -->
                <!-- TODO: Update this to the latest design when testing -->
                {#{% set oncokb = {} %}#}
                {% if oncokb is defined and oncokb is not none %}
                  <tr class="hover:bg-pink-50 border-b">
                    <td class="p-2 font-medium align-top">
                      <img class="w-12 pt-4" alt="OncoKB" src="{{ url_for('static', filename='images/oncokb_logo.png') }}">
                    </td>
                    <td class="p-2 font-medium align-top py-5">
                      <a href="http://oncokb.org/#/gene/{{sel_csq.SYMBOL}}" class="text-blue-600 hover:underline break-words">{{ oncokb.Alteration }}</a>
                    </td>
                    <td class="p-2 font-medium text-justify break-words">
                      Oncogenicity: <b>{{ oncokb.Oncogenicity }}</b><br>
                      Mutation effect: <b>{{ oncokb['Mutation Effect'] }}</b> {{ oncokb['PMIDs for Mutation Effect']|pubmed_links|safe }}<br><br>
                      {% if oncokb_action.count() > 0 %}
                        <b>Actions:</b>
                        <table class="table-auto text-xs overflow-hidden mx-4 my-1">
                          <thead>
                            <tr class="border-b-2 text-left border-gray-300 capitalize">
                              <th class="p-2 font-semibold">Cancer</th>
                              <th class="p-2 font-semibold">Drug(s)</th>
                              <th class="p-2 font-semibold">Level</th>
                              <th class="p-2 font-semibold">Refs</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for oncokb_act in oncokb_action %}
                              {% if oncokb_act.Alteration != "Oncogenic Mutations" or oncokb.Oncogenicity == "Oncogenic" %}
                              <tr class="border text-left border-gray-300">
                                <td class="p-2 font-base break-words">{{ oncokb_act['Cancer Type'] }}</td>
                                <td class="p-2 font-base break-words">{{ oncokb_act['Drugs(s)'] }}</td>
                                <td class="p-2 font-base break-words">{{ oncokb_act['Level'] }}</td>
                                <td class="p-2 font-base break-words">{{ oncokb_act['PMIDs for drug']|pubmed_links|safe }}</td>
                              </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}

                
                <!-- CIVIC Database -->
                {% if civic_gene is defined and civic_gene is not none %}
                  <tr class="hover:bg-pink-50 border-b">
                    <td class="p-2 font-medium align-top">
                      <img class="w-10 h-10 object-contain" alt="OncoKB" src="{{ url_for('static', filename='images/civic_logo.png') }}">
                    </td>
                    <td class="p-2 font-medium align-top py-5">
                      <a href="{{ civic_gene.gene_civic_url }}" class="text-blue-600 hover:underline break-words">
                        {{ civic_gene.name }}
                      </a>
                    </td>
                    <td class="p-2 font-medium text-justify break-words">
                      {{ civic_gene.description }}
                    </td>
                  </tr>
                {% endif %}

                
                <!-- OnkoKB Gene Database -->
                {% if oncokb_gene is defined and oncokb_gene is not none %}
                  <tr class="hover:bg-pink-50 border-b">
                    <td class="p-2 font-medium align-top">
                      <img class="w-12 pt-4" alt="OncoKB" src="{{ url_for('static', filename='images/oncokb_logo.png') }}">
                    </td>
                    <td class="p-2 font-medium align-top py-5">
                      <a target="_blank" href="http://oncokb.org/#/gene/{{sel_csq.SYMBOL}}" class="text-blue-600 hover:underline break-words">{{sel_csq.SYMBOL}}</a>
                    </td>
                    <td class="p-2 font-medium text-justify break-words">
                      {% if oncokb_gene.description is defined %}
                        {{ oncokb_gene.description|format_oncokbtext|safe }}
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>

    </section>

  </main>
</div>
  

<script type="text/javascript">
    $("#test").select2();

    window.onload = function() {
      $('[data-autoclick="true"]').click();
      $('[data-autoclick="true"]').click();
    };

    function switchVisibility_comments(class_name) {
      var elems = document.querySelectorAll('.' + class_name); // Use querySelectorAll to get a static NodeList
  
      elems.forEach(elem => {
          if (window.getComputedStyle(elem).display === "none") {
              elem.style.display = "table-row";  // Ensure it is visible in table format
          } else {
              elem.style.display = "none"; // Hide it
          }
      });
  }


  function switchVisibility_noncanonicaltranscripts(class_name) {
    var hide_class = "visibility-collapsed";

    var elems = document.getElementsByClassName(class_name);

    for (var i = 0; i < elems.length; i++) {

      if( elems[i].classList.contains(hide_class) ) {
        elems[i].classList.remove(hide_class);
      }
      else {
        elems[i].classList.add(hide_class);
      }
    }
  }     

  function addText(event) {
    var targ = event.target || event.srcElement;
    if (!targ.closest('tr').classList.contains('hidden_comment')) {
      document.getElementById("comment_textarea").value = targ.textContent || targ.innerText;
    }
  }

  function toggleText(button) {
    var shortText = button.previousElementSibling.previousElementSibling;
    var fullText = button.previousElementSibling;

    // Toggle between short and full text
    if (fullText.classList.contains('hidden')) {
      shortText.classList.add('hidden');   // Hide truncated text
      fullText.classList.remove('hidden'); // Show full text
      button.textContent = '[-]';          // Change button text to Collapse
    } else {
      shortText.classList.remove('hidden'); // Show truncated text
      fullText.classList.add('hidden');     // Hide full text
      button.textContent = '[+]';           // Change button text to Expand
    }
  }
  


</script>

{% endblock %}


{% macro complement(base) -%}
  {% if base == "A" %}T{% endif %}
  {% if base == "T" %}A{% endif %}
  {% if base == "C" %}G{% endif %}
  {% if base == "G" %}C{% endif %}
{%- endmacro %}
