{% extends "layout.html" %}

{% block body %}
{% set type = variant.INFO.TYPE %}
<div class="container mx-auto p-5">
  <div class="bg-white border-b border-gray-300 py-4">
    <div class="flex justify-between items-center">
      <!-- Left Side: Sample and Type -->
      <div class="flex items-center space-x-4">
        <div>
          <span class="text-lg font-semibold text-gray-800">Sample:</span>
          <a href="{{ url_for('dna_bp.list_variants', id=sample.name) }}" class="text-blue-500 hover:underline text-lg">{{ sample.name }}</a>
        </div>
        <span class="text-gray-500">|</span>
        <div>
          <span class="text-lg font-semibold text-gray-800">Type:</span>
          <b class="text-lg">{{ subpanel }}</b>
        </div>
      </div>

      <!-- Right Side: Variant Actions -->
      {% if current_user.get_role() == "admin" %}
      <div class="flex items-center space-x-4">
        {% if variant.blacklist is defined and variant.override_blacklist != true %}
          <form action="{{ url_for('dna_bp.add_variant_to_blacklist', id=variant._id) }}" method="post">
            <input class="bg-red-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-red-700" type="submit" name="blacklist" value="Override blacklist">
          </form>    
        {% endif %}
        
        {% if variant.fp == true %}
          <form action="{{ url_for('dna_bp.unmark_false_variant', id=variant._id) }}" method="post">
            <input class="bg-green-600 text-black py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-green-700" type="submit" name="mark_fp" value="Unmark false positive">
          </form>    
        {% else %}
          <form action="{{ url_for('dna_bp.mark_false_variant', id=variant._id) }}" method="post">
            <input class="bg-purple-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-purple-700" type="submit" name="mark_fp" value="Mark as false positive">
          </form>
        {% endif %}
        {% if variant.interesting == true %}
          <form action="{{ url_for('dna_bp.unmark_interesting_variant', id=variant._id) }}" method="post">
            <input class="bg-yellow-600 text-black py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-yellow-700" type="submit" name="mark_int" value="Unmark interesting">
          </form>
        {% else %}
          <form action="{{ url_for('dna_bp.mark_interesting_variant', id=variant._id) }}" method="post">
            <input class="bg-green-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-green-700" type="submit" name="mark_int" value="Mark as interesting">
          </form>      
        {% endif %}
      

        {% if variant.irrelevant == true %}
          <form action="{{ url_for('dna_bp.unmark_irrelevant_variant', id=variant._id) }}" method="post">
            <input class="bg-green-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-yellow-600" type="submit" name="mark_irr" value="Unmark irrelevant">
          </form>
        {% else %}
          <form action="{{ url_for('dna_bp.mark_irrelevant_variant', id=variant._id) }}" method="post">
            <input class="bg-yellow-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-yellow-700" type="submit" name="mark_irr" value="Mark as irrelevant">
          </form>      
        {% endif %}
      
        {% if variant.blacklist != true %}
          <form action="{{ url_for('dna_bp.add_variant_to_blacklist', id=variant._id) }}" method="post">
            <input class="bg-red-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-red-700" type="submit" name="blacklist" value="Add variant to blacklist"  onclick="return confirm('This permanently adds the variant to the blacklist, affecting all samples of this type. Do this only if you are certain it is a recurring false positive. Proceed?')">
          </form>
        {% endif %}
      
        {% if assay=="swea" %}
          <form action="{{ url_for('dna_bp.order_sanger', id=variant._id) }}" method="post">
            <input class="bg-blue-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-blue-700" type="submit" name="sanger" value="Request sanger">
          </form>      
        {% endif %} 
      </div>  
      {% endif %}
    </div>
  </div>

  <center>
    <div class="container mx-auto px-4 py-6 overflow-auto"> 
      <!-- id="var_main" -->
      <div class="float-left max-w-screen-325 w-full">
        <div class="float-left max-w-screen-300 w-full bg-white shadow-md rounded-lg p-4 m-5 overflow-auto">
          {% set sel_csq = variant.INFO.selected_CSQ %}

          <!-- Variant Annotation -->
          <h2 class="text-base font-semibold mb-4 bg-purple-300 p-2 rounded">Variant Annotation</h2>
          <table class="w-full table-auto text-xs table">
            <tbody>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Gene:</td>
                <td class="px-2 py-2 border-b"><a href="/coyote/gene_simple/{{ sel_csq.SYMBOL }}" class="text-blue-600 underline">{{ sel_csq.SYMBOL }}</a></td>
              </tr>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Variant class:</td>
                <td class="px-2 py-2 border-b">{{ variant.variant_class }}</td
              ></tr>
              {% if type == "DEL" or type == "DUP" %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Size:</td>
                  <td class="px-2 py-2 border-b">{{ variant.INFO.END-variant.POS }} bp</td>
                </tr>
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Region:</td>
                  <td class="px-2 py-2 border-b">{{variant.CHROM}}:{{ variant.POS }}-{{ variant.INFO.END }}</td>
                </tr>
              {% endif %}
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Canonical transcript:</td>
                <td class="px-2 py-2 border-b">{{ sel_csq.Feature }}</td>
              </tr>


              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Protein change:</td>
                <td class="px-2 py-2 border-b">
                  <!-- Truncated version (initial view with ellipsis) -->
                  <div id="protein-short" class="truncate w-full overflow-hidden">
                    {{ sel_csq.HGVSp|unesc|ellipsify(20)|safe }}<br>{{ sel_csq.HGVSp|one_letter_p|unesc|ellipsify(20)|safe }}
                  </div>
              
                  <!-- Full text, initially hidden -->
                  <div id="protein-full" class="hidden w-full break-all whitespace-normal">
                    {{ sel_csq.HGVSp|unesc }}<br>{{ sel_csq.HGVSp|one_letter_p|unesc }}
                  </div>
              
                  <!-- Button to toggle text visibility -->
                  <button class="mt-1 text-xs text-gray-500 hover:text-blue-500 focus:outline-none"
                          onclick="toggleText(this)">
                    [+]
                  </button>
                </td>
              </tr>
              
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">CDS change:</td>
                <td class="px-2 py-2 border-b">
                  <!-- Truncated version (initial view with ellipsis) -->
                  <div id="cds-short" class="truncate w-full overflow-hidden">
                    {{ sel_csq.HGVSc|ellipsify(20)|safe }}
                  </div>
              
                  <!-- Full text, initially hidden -->
                  <div id="cds-full" class="hidden w-full break-all whitespace-normal">
                    {{ sel_csq.HGVSc }}
                  </div>
              
                  <!-- Button to toggle text visibility -->
                  <button class="mt-1 text-xs text-gray-500 hover:text-blue-500 focus:outline-none"
                          onclick="toggleText(this)">
                    [+]
                  </button>
                </td>
              </tr>
              
              {% set indel_size = variant.ALT|length - variant.REF|length %}
              {% if indel_size != 0 %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Indel size:</td>
                  <td class="px-2 py-2 border-b">{{ indel_size }} bp {% if indel_size < 0 %}DEL{% else %}INS{% endif %}</td>
                </tr>
              {% endif %}
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Consequence:</td>
                <td class="px-2 py-2 border-b">{{ sel_csq.Consequence|multirow|safe }}</td>
              </tr>
              {% if sel_csq.EXON|length > 0 %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Exon number:</td>
                  <td class="px-2 py-2 border-b">{{ sel_csq.EXON }}</td>
                </tr>
              {% endif %}
              {% if sel_csq.INTRON|length > 0 %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Intron number:</td>
                  <td class="px-2 py-2 border-b">{{ sel_csq.INTRON }}</td>
                </tr>
              {% endif %}
              {% set genomic_change =  variant.CHROM ~ ":" ~ variant.POS ~ ", " ~  variant.REF ~ " / " ~ variant.ALT %}



              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Genomic change:</td>
                <td class="px-2 py-2 border-b">
                  <!-- Truncated version (initial view with ellipsis) -->
                  <div id="genomic-short" class="truncate w-full overflow-hidden">
                    {{ genomic_change|ellipsify(20)|safe }}
                  </div>

                  <!-- Full text, initially hidden -->
                  <div id="genomic-full" class="hidden w-full break-all whitespace-normal">
                    {{ genomic_change }}
                  </div>

                  <!-- Button to toggle text visibility -->
                  <button class="mt-1 text-xs text-gray-500 hover:text-blue-500 focus:outline-none"
                          onclick="toggleText(this)">
                    [+]
                  </button>
                </td>
              </tr>


              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">CADD PHRED:</td>
                <td class="px-2 py-2 border-b">{{ sel_csq.CADD_PHRED }}</td>
              </tr>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">SIFT:</td>
                <td class="px-2 py-2 border-b">{{ sel_csq.SIFT }}</td>
              </tr>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Polyphen:</td>
                <td class="px-2 py-2 border-b">{{ sel_csq.PolyPhen }}</td>
              </tr>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">dbSNP:</td>
                <td class="px-2 py-2 border-b">
                  {%if variant.dbsnp_id %}
                    <a target="_blank" href="https://www.ncbi.nlm.nih.gov/snp/{{ variant.dbsnp_id }}" class="text-blue-600 underline">{{ variant.dbsnp_id }}</a>
                  {%endif%}
                </td>
              </tr>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">COSMIC:</td>
                <td class="px-2 py-2 border-b">
                  {% if variant.cosmic_ids %}
                    {% for cosm_id in variant.cosmic_ids %}
                      <a target="_blank" href="https://cancer.sanger.ac.uk/cosmic/search?q={{ cosm_id }}" class="text-blue-600 underline">{{ cosm_id }}</a><br>
                    {% endfor %}
                  {% endif %}
                </td>
              </tr>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">ClinVar:</td>
                <td class="px-2 py-2 border-b">{{ sel_csq.CLIN_SIG|default('')|multirow|safe }}</td>
              </tr>
              <tr>
                <td class="px-2 py-2 border-b font-semibold">cBioPortal:</td>
                <td class="px-2 py-2 border-b"><a target="_blank" href="http://www.cbioportal.org/ln?q={{sel_csq.SYMBOL}}" class="text-blue-600 underline">{{sel_csq.SYMBOL}}</a></td>
              </tr>
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">OncoKB:</td>
                <td class="px-2 py-2 border-b"><a target="_blank" href="http://oncokb.org/#/gene/{{sel_csq.SYMBOL}}" class="text-blue-600 underline">{{sel_csq.SYMBOL}}</a></td>
              </tr>
              {% if sel_csq.SYMBOL == "TP53" %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">Seshat:</td>
                  <td class="px-2 py-2 border-b"><a target="_blank" href="http://vps338341.ovh.net/search?mutation={{ sel_csq.HGVSp|unesc|one_letter_p|ellipsify(35)|safe }}&sampleid=" class="text-blue-600 underline">{{sel_csq.SYMBOL}}</a></td>
                </tr>
              {% endif %}
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">LitVar:</td>
                <td class="px-2 py-2 border-b">
                  {% if variant.dbsnp_id %}
                    <a target="_blank" href="https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/LitVar/#!?query={{ variant.dbsnp_id }}" class="text-blue-600 underline">{{ variant.dbsnp_id }}</a>
                  {% endif %}
                </td>
              </tr>
              {% if type == "DEL" or type == "DUP" %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">DECIPHER:</td>
                  <td class="px-2 py-2 border-b"><a target="_blank" href="https://decipher.sanger.ac.uk/browser#q/{{variant.CHROM}}:{{variant.POS}}-{{variant.INFO.END}}%20/location/{{variant.CHROM}}:{{variant.POS}}-{{variant.INFO.END}}" class="text-blue-600 underline">link</a></td>
                </tr>
              {% endif %}
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Alamut:</td>
                <td class="px-2 py-2 border-b">
                  {% if variant.dbsnp_id %}
                    <a target="_blank" href="http://localhost:10000/show?request={{variant.CHROM}}:{{variant.POS}}{{variant.REF}}&gt;{{variant.ALT}}" class="text-blue-600 underline">open</a>
                  {% endif %}
                </td>
              </tr>
              {% set subfolder = {'dir': "None"} %}
              {% for sample_id,bam_path in bam_id.items() %}
                <tr class="hover:bg-purple-50">
                  <td class="px-2 py-2 border-b font-semibold">IGV({{sample_id}}):</td>
                  <td class="px-2 py-2 border-b">
                    {% for path in bam_path %}
                    {% set list1 = path.split('/') %}
                    {% if subfolder.update( { 'dir': list1[0] } ) %} {% endif %}
                    <a href="http://localhost:60151/load?file=/R:{{path}}&locus={{variant.CHROM}}:{{variant.POS}}" class="text-blue-600 underline">{{list1[0]}}</a>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
              {% if assay == "tumwgs" or assay == "fusion" %}
              {% else %}
              <tr class="hover:bg-purple-50">
                <td class="px-2 py-2 border-b font-semibold">Design-BED:</td>
                <td class="px-2 py-2 border-b">
                  {% if subfolder.dir != "None" %}
                    <a href="http://localhost:60151/load?file=/R:{{subfolder.dir}}/BED/design.bed" class="text-blue-600 underline">open</a>
                  {% endif %}
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        <!-- Variant Caller details -->
        {% if current_user.get_role() != "readonly" %}
        <div class="float-left max-w-screen-300 w-full bg-white shadow-md rounded-lg p-2 m-5">
          <h2 class="text-base font-semibold mb-4 bg-purple-300 p-2 rounded">Variant Callers</h2>
          <table class="mw-full table-auto text-xs">
              {% if variant.INFO.FOUND_IN %}
              <thead>
                <tr>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Variant caller</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">File</th>
                </tr>
              </thead>
              <tbody>
                {% for vc in variant.INFO.FOUND_IN %}
                  <tr class="hover:bg-purple-50">
                    <td class="px-2 py-2 border-b">{{vc[0] }}</td>
                    <td class="px-2 py-2 border-b"><small>{{ vc[1] }}</small></td>
                  </tr>
                {% endfor %}
              {% elif variant.INFO.variant_callers %}
                <tr>
                  <td></td>
                    <td class="px-2 flex flex-wrap gap-2 py-2 border-b">
                      {% for vc in variant.INFO.variant_callers %}
                      <div class="bg-gray-100 rounded-md py-1 px-2 mt-1 hover:bg-purple-50">
                        {{ vc }}
                      </div>
                      {% endfor %}
                    </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>

      <!-- Variant Data for All Transcripts -->
      <div class="float-left max-w-screen-425 w-full">
        <div class="float-left max-w-screen-400 w-full bg-white shadow-md rounded-lg p-4 m-5 overflow-auto">
          <!-- id="var_moreinfo" -->
          <h2 class="text-base font-semibold mb-4 bg-indigo-300 p-2 rounded">
            Alternate Transcripts Info
            {% if assay=="swea" or assay == "gmsonco" %}
            <a href="javascript:void(0)" onclick="switchVisibility_noncanonicaltranscripts('noncanonical_transcript')">Show/hide</a>
            {% endif %}
          </h2>
          <table class="w-full table-auto text-xs">
            <thead>
              <tr>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Gene</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Transcript</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Exon</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Prot change</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">CDS change</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Tier</th>
              </tr>
            </thead>
            <tbody>
              {% for csq in variant.INFO.CSQ %}
                {% set alt_class = variant.additional_classification %}
                {% if csq.BIOTYPE == "protein_coding" and (csq.HGVSp|length > 0 or csq.HGVSc|length > 0)  %}
                  {% if csq.Feature == sel_csq.Feature  %}
                    <tr class="bg-yellow-100 hover:bg-green-100 font-semibold">
                  {% else %}
                    <tr {% if assay=="swea" or assay=="gmsonco" %}class="noncanonical_transcript visibility-collapsed"{% else %}class=" hover:bg-indigo-50"{% endif %}>
                  {% endif %}
                  <td class="px-2 py-2 border-b">{{ csq.SYMBOL }}</td>
                  <td class="px-2 py-2 border-b">{{ csq.Feature }}</td>
                  <td class="px-2 py-2 border-b">{{ csq.EXON }}</td>
                  <td class="px-2 py-2 border-b">{{ csq.HGVSp|unesc|ellipsify(20)|safe }}</td>
                  <td class="px-2 py-2 border-b">{{ csq.HGVSc|unesc|ellipsify(20)|safe }}</td>
                  <td class="px-2 py-2 border-b">
                    {% if alt_class and csq.Feature == alt_class.transcript and (csq.HGVSc == alt_class.variant or csq.HGVSp == alt_class.variant) %}
                      <div class="inline-block px-2 py-1 text-xs font-semibold text-white rounded-full bg-gray-400">
                        {{ alt_class.class }}
                      </div>
                    {% else %}
                      -
                    {% endif %}
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

          <!-- Sample Specific Data -->
        <div class="float-left max-w-screen-400 w-full bg-white shadow-md rounded-lg p-4 m-5 overflow-auto">
          <h2 class="text-base font-semibold mb-4 bg-indigo-300 p-2 rounded">Sample-Specific Data</h2>
          <table class="w-full table-auto text-xs">
            <thead>
              <tr>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Sample</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Sample type</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Variant freq.</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">UMI families</th>
              </tr>
            </thead>
            <tbody>
              {% for gt in variant.GT %}
                <tr class="hover:bg-indigo-50">
                  <td class="px-2 py-2 border-b">{{ gt.sample }}</td>
                  <td class="px-2 py-2 border-b">{{ gt.type }}</td>
                  <td class="px-2 py-2 border-b">{{'%0.1f'| format(100*gt.AF|float) }}% ({{ gt.VD|int }} / {{ gt.DP|int }})</td>
                  <td class="px-2 py-2 border-b">
                    {% if "UMI" in gt %}
                      {{gt.UMI|format_umi|safe}}
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- Population Frequencies -->
        <div class="float-left max-w-screen-400 w-full bg-white shadow-md rounded-lg p-4 m-5 overflow-auto">
          <h2 class="text-base font-semibold mb-4 bg-indigo-300 p-2 rounded">Population Frequencies</h2>
          <table class="w-full table-auto text-xs">
            <thead>
              <tr>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Database</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Pop freq</th>
              </tr>
            </thead>
            <tbody>
              <tr class="hover:bg-indigo-50">
                <td class="px-2 py-2 border-b">gnomAD</td>
                <td class="px-2 py-2 border-b">{{ variant.gnomad_frequency|format_gnomad }}</td>
              </tr>
              <tr class="hover:bg-indigo-50">
                <td class="px-2 py-2 border-b">gnomAD Max</td>
                <td class="px-2 py-2 border-b">{{ variant.gnomad_max|format_gnomad }}</td>
              </tr>
              <tr class="hover:bg-indigo-50">
                <td class="px-2 py-2 border-b">ExAC all</td>
                <td class="px-2 py-2 border-b">{{ variant.ExAC_MAF|format_pop_freq(variant.ALT)|safe }}</td>
              </tr>
              <tr class="hover:bg-indigo-50">
                <td class="px-2 py-2 border-b">1000 G</td>
                <td class="px-2 py-2 border-b">{{ variant.thousandG_frequency|format_pop_freq(variant.ALT)}}</td>
              </tr>
              {% if "swegenAF" in variant.INFO %}
                <tr class="hover:bg-indigo-50">
                  <td class="px-2 py-2 border-b">SweGen <img src="{{ url_for('static', filename='sweflag.png') }}"></td>
                  <td class="px-2 py-2 border-b">{{ variant.INFO.swegenAF|three_dec }}%</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        <!-- Variant in Other Samples -->
        {% if in_other|length > 0 %}
        <div class="float-left max-w-screen-400 w-full bg-white shadow-md rounded-lg p-4 m-5" >
          <h2 class="text-base font-semibold mb-4 bg-indigo-300 p-2 rounded">Variant in Other Samples</h2>
          <table class="w-full table-auto text-xs">
            <thead>
              <tr>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Sample</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Comments</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Marked</th>
              </tr>
            </thead>
            <tbody>
              {% for other in in_other %}
                <tr class="hover:bg-indigo-50">
                  <td class="px-2 py-2 border-b">
                    <a href="{{ url_for('dna_bp.show_variant', id=other._id) }}" class="text-blue-600 underline">{{other.sample_name}}</a>
                  </td>
                  <td class="px-2 py-2 border-b">
                    {{other.comments|length}}
                  </td>
                  <td class="px-2 py-2 border-b">
                    {% if other.fp == True %}
                      <img class="w-4" title="Marked as false positive" src="{{ url_for('static', filename='redcross.png') }}">
                    {% endif %}
                    {% if other.interesting == True %}
                      <img class="w-4" title="Marked as interesting" src="{{ url_for('static', filename='interesting.png') }}">
                    {% endif %}
                    {% if other.irrelevant == True %}
                      <img class="w-4" title="Marked as irrelevant" src="{{ url_for('static', filename='irrelevant.png') }}">
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>

      <div class="float-left max-w-screen-375 w-full">
        <!-- Variant Classification -->
        <div class="float-left max-w-screen-350 w-full clear-right bg-white shadow-md rounded-lg p-4 m-5 ">
          <h2 class="text-base font-semibold mb-4 bg-blue-300 p-2 rounded">Variant Classification</h2>
          <div class="w-full p-2 border mb-1 bg-gray-50"> <!--  id="classification" -->
            <div class="p-2 mb-1 bg-white text-center text-xs font-semibold border divide-gray-400" id="desc{{ classification.class }}"> <!-- class="class_desc"  id="desc{{ classification.class }}" -->
              {% if classification.class == 1 %}
                Variant with strong clinical significance
              {% elif classification.class == 2 %}
                Variant with potential clinical significance
              {% elif classification.class == 3 %}
                Variant of unknown clinical significance
              {% elif classification.class == 4 %}
                Variant deemed benign or likely benign
              {% elif classification.class == 999 %}
                The variant has not been classified
              {% endif %}
            </div>  
            {% if current_user.get_role() != "readonly" %}
              <form id="form" action="{{ url_for('dna_bp.classify_variant', id=variant._id) }}" method="post" class="inline-flex items-center space-x-2"> <!-- class="class_form" -->
                <input type="hidden" name="assay" value="{{ assay }}">
                <input type="hidden" name="subpanel" value="{{ subpanel }}">
      
                {% if sel_csq.HGVSc is defined %}
                  <input type="hidden" name="gene" value="{{ sel_csq.SYMBOL }}">
                  <input type="hidden" name="transcript" value="{{ sel_csq.Feature }}">
                  <input type="hidden" name="var_p" value="{{ sel_csq.HGVSp|unesc }}">
                  <input type="hidden" name="var_c" value="{{ sel_csq.HGVSc|unesc }}">
                {% endif %}
                <input type="hidden" name="var_g" value="{{ variant.CHROM }}:{{ variant.POS }}:{{ variant.REF }}/{{ variant.ALT }}">
                <div class="pt-2 pr-2 pb-1 pl-1">
                  Tier:
                </div> <!-- class="class_label" -->
                <button id="tier1" class="border-0 w-9 p-2 rounded-lg m-1 shadow-lg cursor-pointer {% if classification.class == 999 %}a{% elif classification.class == 1 %}font-bold shadow-lg{% else %}bg-white opacity-50{% endif %}" title="Variants with strong clinical significance" type="submit" name="tier1">I</button>
                <button id="tier2" class="border-0 w-9 p-2 rounded-lg m-1 shadow-lg cursor-pointer {% if classification.class == 999 %}a{% elif classification.class == 2 %}font-bold shadow-lg{% else %}bg-white opacity-50{% endif %}" title="Variants with potential clinical significance" type="submit" name="tier2">II</button>
                <button id="tier3" class="border-0 w-9 p-2 rounded-lg m-1 shadow-lg cursor-pointer {% if classification.class == 999 %}a{% elif classification.class == 3 %}font-bold shadow-lg{% else %}bg-white opacity-50{% endif %}" title="Variants of unknown clinical significance" type="submit" name="tier3">III</button>
                <button id="tier4" class="border-0 w-9 p-2 rounded-lg m-1 shadow-lg cursor-pointer {% if classification.class == 999 %}a{% elif classification.class == 4 %}font-bold shadow-lg{% else %}bg-white opacity-50{% endif %}" title="Variants deemed benign or likely benign" type="submit" name="tier4">IV</button>
              </form>
              <form id="form" action="{{ url_for('dna_bp.remove_classified_variant', id=variant._id) }}" method="post" class="inline-flex items-center space-x-2" >
                <input type="hidden" name="assay" value="{{ assay }}">
                <input type="hidden" name="subpanel" value="{{ subpanel }}">
                {% if sel_csq.HGVSc is defined %}
                  <input type="hidden" name="gene" value="{{ sel_csq.SYMBOL }}">
                  <input type="hidden" name="transcript" value="{{ sel_csq.Feature }}">
                  <input type="hidden" name="var_p" value="{{ sel_csq.HGVSp|unesc }}">
                  <input type="hidden" name="var_c" value="{{ sel_csq.HGVSc|unesc }}">
                {% endif %}
                  <input type="hidden" name="var_g" value="{{ variant.CHROM }}:{{ variant.POS }}:{{ variant.REF }}/{{ variant.ALT }}">
                {% if 'assay' in classification %}
                  <button id="remove" class="border-0 w-9 p-2 rounded-lg m-1 shadow-lg cursor-pointer" title="Remove {{assay}} classifications" type="submit" onclick="return confirm('This will remove all tiering for {{assay}}, proceed?')">❌</button>
                {% elif 'admin' in current_user.get_groups() %}
                  <button id="remove" class="border-0 w-9 p-2 rounded-lg m-1 shadow-lg cursor-pointer" title="Remove historic non-assay classifications" type="submit" onclick="return confirm('This will remove all tiering for historic tiering without assays assigned, proceed?')">❌</button>
                {% endif %}
              </form>
            {% endif %}
          </div>
        </div>

        <!-- Other tiering -->
        <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5">
          <h2 class="text-base font-semibold mb-4 bg-blue-300 p-2 rounded">Other Tiering</h2>
          <table class="w-full table-auto text-xs">
            <thead>
              <tr>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Assay</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Diagnosis</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Tier</th>
              </tr>
            </thead>
            <tbody>
              {% for var in other_classifications %}
                <tr class="hover:bg-blue-50">
                  <td class="px-2 py-2 border-b">{{var.assay}}</td>
                  {% if "subpanel" in var %}
                    <td class="px-2 py-2 border-b">{{var.subpanel}}</td>
                  {% else %}
                    <td class="px-2 py-2 border-b">-</td>
                  {% endif %}
                  <td class="px-2 py-2 border-b">{{var.class}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- Add Variant Comments -->
        {% if current_user.get_role() != "readonly" %}
        <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5 clear-right">
          <h2 class="text-base font-semibold mb-4 bg-blue-300 p-2 rounded">Add new comment/annotation</h2>
          <div id="commenting_box" class="w-full bg-gray-50 border border-gray-300 p-4 rounded-md">
            <form action="{{ url_for('dna_bp.add_variant_comment', id=variant._id) }}" method="post">
              <textarea id="comment_textarea" name="text" placeholder="Enter variant comment/annotation..." class="w-full h-20 p-1 border border-gray-300 rounded-md focus:bg-yellow-100 mb-4"></textarea><br>
      
              {% if sel_csq.HGVSc is defined %}
                <input type="hidden" name="gene" value="{{ sel_csq.SYMBOL }}">      
                <input type="hidden" name="transcript" value="{{ sel_csq.Feature }}">
                <input type="hidden" name="var_p" value="{{ sel_csq.HGVSp|unesc }}">
                <input type="hidden" name="var_c" value="{{ sel_csq.HGVSc|unesc}}">
              {% endif %}
              <input type="hidden" name="var_g" value="{{ variant.CHROM }}:{{ variant.POS }}:{{ variant.REF }}/{{ variant.ALT }}">
              <input type="submit" value="Save" class="bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer shadow-md">&nbsp;&nbsp;
              <label class="inline-flex items-center">
                <input type="checkbox" name="global" value="global" class="form-checkbox text-blue-500">
                <span class="ml-2">Use as global annotation</span>
              </label>
              <input type="hidden" name="assay" value="{{ assay }}">
              <input type="hidden" name="subpanel" value="{{ subpanel }}">
            </form>
          </div>
        </div>
        {% endif %}

        <!-- Variant Comments -->
        {% if variant.comments|length > 0 and current_user.get_role() != "readonly" %}
          <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5">
            <h2 class="text-base font-semibold mb-4 bg-blue-300 p-2 rounded">Sample-Specific Variant Comments</h2>
            <table class="w-full table-auto text-xs">
              <thead>
                <tr>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Who</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Comment</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Hide/Unhide</th>
                </tr>
              </thead>
              <tbody>
                {% for comment in variant.comments|sort(attribute='time_created', reverse=True) %}
                  {% if comment.hidden != 1 %}
                    <tr class="hover:bg-blue-50">
                  {% else %}
                    <tr class="bg-red-100 hover:bg-red-200 opacity-30 hidden hidden_comment">
                  {% endif %}
                  <td class="align-top py-2 px-4 border-b border-gray-300 text-gray-800 text-left whitespace-nowrap">{{ comment.author }}<br><small>{{ comment.time_created|human_date }}</small></td>
                  <td class="align-top py-2 px-4 border-b border-gray-300 text-gray-800 text-left" onclick="addText(event)">
                    {{ comment.text|format_comment|safe }}
                  </td>
                  <td class="align-top py-2 px-4 border-b border-gray-300 text-gray-800 text-left">
                    {% if comment.hidden != 1 %}
                      <form action="{{ url_for('dna_bp.hide_variant_comment', var_id=variant._id) }}" method="post">
                        <input type="hidden" name="comment_id" value="{{ comment._id }}">
                        <input id="hide_comment" type="image" class="w-5" src="{{ url_for('static', filename='images/delete.png') }}">
                      </form>
                    {% else %}
                      <form action="{{ url_for('dna_bp.unhide_variant_comment', var_id=variant._id) }}" method="post">
                        <input type="hidden" name="comment_id" value="{{ comment._id }}">
                        <input id="unhide_comment" type="image" class="w-5" src="{{ url_for('static', filename='images/unhide.png') }}">
                      </form>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% if hidden_comments %}
                  <tr>
                    <td colspan=4 class="py-2 px-4 border-t border-gray-300 text-center text-sm text-gray-800">
                      <a href="javascript:void(0)" onclick="switchVisibility_comments('hidden_comment')">Show/hide deleted comments</a>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        {% endif %}

        <!-- Variant Annotations Information Assay -->
        {% if annotations_interesting|length > 0 %}
          <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5">
            <h2 class="text-base font-semibold mb-4 bg-blue-300 p-2 rounded">Variant Annotations (assay)</h2>
            <table class="w-full table-auto text-xs">
              <thead>
                <tr>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Who</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Annotation</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Assay</th>
                </tr>
              </thead>
              <tbody>
                {% for assay_sub, key in annotations_interesting.items() %}
                  <tr class="bg-green-200">
                    <td class="px-2 py-2 border-b">
                      {{ key.author }}<br><small>{{ key.time_created|human_date }}</small>
                    </td>
                    <td class="px-2 py-2 border-b" onclick="addText(event)">{{ key.text|format_comment|safe }}</td>
                    {% if "assay" in key %}
                      <td class="px-2 py-2 border-b">
                        {{key.assay}}<br><small>{{key.subpanel}}</small>
                      </td>
                    {% else %}
                      <td class="px-2 py-2 border-b">historic</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

        <!-- Variant Annotations Information All -->
        {% if annotations|length > 0 %}
          <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5">
            <h2 class="text-base font-semibold mb-4 bg-blue-300 p-2 rounded">Variant Annotations (all)</h2>
            <table class="w-full table-auto text-xs">
              <thead>
                <tr>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Who</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Annotation</th>
                  <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Assay</th>
                </tr>
              </thead>
              <tbody>
                {% for anno in annotations|sort(attribute='time_created', reverse=True) %}
                  {% if current_user.get_role() != "readonly" or loop.first == True %}
                    <tr class="hover:bg-blue-50">
                      <td class="px-2 py-2 border-b">
                        {{ anno.author }}<br><small>{{ anno.time_created|human_date }}</small>
                      </td>
                      <td class="px-2 py-2 border-b" onclick="addText(event)">
                        {{ anno.text|format_comment|safe }}
                      </td>
                      {% if "assay" in anno %}
                        <td class="px-2 py-2 border-b">
                          {{anno.assay}}<br><small>{{anno.subpanel}}</small>
                        </td>
                      {% else %}
                        <td class="px-2 py-2 border-b">historic</td>
                      {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

        <!-- MELT Annotations -->
        {% if "MELT" in variant.INFO.variant_callers %}
        <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5">
          <h2 class="text-base font-semibold mb-4 bg-blue-300 p-2 rounded">MELT-Specific Annotations</h2>
          <table class="w-full table-auto text-xs">
            <thead>
              <tr>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Type</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Annotation</th>
              </tr>
            </thead>
            <tbody>
              {% if "custom" in variant.INFO %}
                {% set melt_anno = variant.INFO.custom.split(",") %}
                {% for ma in melt_anno %}
                  {% set keyval = ma.split("|") %}
                  <tr class="hover:bg-blue-50">
                    <td class="px-2 py-2 border-b">{{keyval[0]}}</td>
                    <td class="px-2 py-2 border-b">{{keyval[1]}}</td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
        {% endif %}

        <!-- Panel of Normals -->
        {% if pon is not none and pon|length > 0 %}
        <div class="float-left max-w-screen-350 w-full bg-white shadow-md rounded-lg p-4 m-5" >
          <h2 class="text-base font-semibold mb-4 bg-blue-300 p-2 rounded">Panel of Normals</h2>
          <table class="w-full table-auto text-xs">
            <thead>
              <tr>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Variant caller</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold"># detected</th>
                <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Variant frequencies</th>
              </tr>
            </thead>
            <tbody>
              {% for vc in pon %}
                <tr class="hover:bg-blue-50">
                  <td class="px-2 py-2 border-b">{{vc}}</td>
                  <td class="px-2 py-2 border-b">{{pon[vc].NUM}}</td>
                  <td class="px-2 py-2 border-b">
                    {% for vaf in (pon[vc].VAFS|string).split(",") %}
                      <span class="ponfreq">{{'%0.1f'| format(100*vaf|float) }}%</span>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>

      <!-- Knowledgebase -->
      <div class="float-left max-w-screen-x1 w-11\/12 bg-white shadow-md rounded-lg p-4 m-5">
        <h2 class="text-base font-semibold mb-4 bg-pink-300 p-2 rounded">Knowledge Base</h2>
        <table class="w-full table-auto text-xs">
          <thead>
            <tr>
              <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Knowledge base</th>
              <th class="px-2 py-2 border-b-2 text-center uppercase font-semibold">Summary</th>
            </tr>
          </thead>
          <tbody>
            {% if iarc_tp53 is defined and iarc_tp53 is not none  %}
            <tr>
              <td style='vertical-align:top'>
                <img class="w-6" alt="IARC TP53" src="{{ url_for('static', filename='images/iarctp53_logo.png') }}"><br>BETA!<br><b>Var:</b> <a href="http://p53.iarc.fr/TP53GeneVariations.aspx">link</a>
              </td>
              <td>
                Somatic count: <b>{{ iarc_tp53.n_somatic }}</b><br>
                Germline count: <b>{{ iarc_tp53.n_germline }}</b><br><br>
                Structural motif: <b>{{ iarc_tp53.motif }}</b><br>
                Domain function: <b>{{ iarc_tp53.domain_func }}</b><br>
                Residue function: <b>{{ iarc_tp53.residue_func }}</b><br><br>
                Transactivation class: <b>{{ iarc_tp53.transactivation_class }}</b><br>
                AGVGD class: <b>{{ iarc_tp53.AGVGD_class }}</b><br>
                Splicing: <b>{{ iarc_tp53.splice }}</b><br>
                CpG site: <b>{{ iarc_tp53.cpg }}</b><br>
                Polymorphism: <b>{{ iarc_tp53.polymorphism }}</b>
                {% if "topology_count" in iarc_tp53 and iarc_tp53["topology_count"] is mapping %}
                  <br><br>
                  <table class="tiny">
                    <tr class="tiny">
                      <th class="tiny">Topology</th>
                      <th class="tiny">Count</th>
                    </tr>
                    {% for top,count in iarc_tp53.topology_count.iteritems() %}
                      <tr class="tiny">
                        <td class="tiny">{{ top }}</td>
                        <td class="tiny">{{ count }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                {% endif %}
              </td>
            </tr>
            {% endif %}
            {% if brca_exchange is defined and brca_exchange is not none %}
            <tr>
              <td style='vertical-align:top'>
                <img class="w-12" alt="BRCA Exchange" src="{{ url_for('static', filename='images/brcaexchange_logo.jpg') }}"><br><b>Var:</b> <a href="http://brcaexchange.org/variant/{{brca_exchange.id}}">link</a>
              </td>
              <td>
                Clinical significance (ENIGMA): <b>{{brca_exchange.enigma_clinsig}}</b><p>
                {{brca_exchange.enigma_clinsig_comment}}</b><p>
                {% if brca_exchange.enigma_clinsig_refs != "-" %}
                  Citations: {{brca_exchange.enigma_clinsig_refs|pubmed_links|safe}}
                {% endif %}
              </td>
            </tr>
            {% endif %}
            {% if oncokb is defined and oncokb is not none %}
            <tr>
              <td style='vertical-align:top'>
                <img class="w-12" alt="OncoKB" src="{{ url_for('static', filename='images/oncokb_logo.png') }}"><br><b>Var:</b> <a href="http://oncokb.org/#/gene/{{sel_csq.SYMBOL}}">{{ oncokb.Alteration }}</a>
              </td>
              <td>
                Oncogenicity: <b>{{ oncokb.Oncogenicity }}</b><br>
                Mutation effect: <b>{{ oncokb['Mutation Effect'] }}</b> {{ oncokb['PMIDs for Mutation Effect']|pubmed_links|safe }}<br><br>
                {% if oncokb_action.count() > 0 %}
                <b>Actions:</b>
                <table class='tiny'>
                  <tr>
                    <th class='tiny'>Cancer</th>
                    <th class='tiny'>Drug(s)</th>
                    <th class='tiny'>Level</th>
                    <th class='tiny'>Refs</th>
                  </tr>
                  {% for oncokb_act in oncokb_action %}
                    {% if oncokb_act.Alteration != "Oncogenic Mutations" or oncokb.Oncogenicity == "Oncogenic" %}
                    <tr>
                      <td class='tiny'>{{ oncokb_act['Cancer Type'] }}</td>
                      <td class='tiny'>{{ oncokb_act['Drugs(s)'] }}</td>
                      <td class='tiny'>{{ oncokb_act['Level'] }}</td>
                      <td class='tiny'>{{ oncokb_act['PMIDs for drug']|pubmed_links|safe }}</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </table>
                {% endif %}
              </td>
            </tr>
            {% endif %}
            {% for civ in civic %}
            <tr>
              <td style='vertical-align:top'>
                <img class="w-10" alt="CIViC" src="{{ url_for('static', filename='images/civic_logo.png') }}"><br><b>Var:</b> <a href="{{ civ.variant_civic_url }}">{{ civ.variant_civic_url }}</a>
              </td>
              <td>
                {% set civ_types = civ.variant_types.split(',') %}
                <b>
                {% for type in civ_types %}
                {{ type|replace("_", " ") }}<br>
                {% endfor %}
                </b><p>
                {{ civ.summary }}
              </td>
            </tr>
            {% endfor %}
            {% if oncokb_gene is defined and oncokb_gene is not none %}
            <tr>
              <td style='vertical-align:top'>
                <img class="w-12" alt="OncoKB" src="{{ url_for('static', filename='images/oncokb_logo.png') }}"><br><b>Gene:</b><a target="_blank" href="http://oncokb.org/#/gene/{{sel_csq.SYMBOL}}">{{sel_csq.SYMBOL}}</a>
              </td>
              <td>
                {% if oncokb_gene.description is defined %}
                {{ oncokb_gene.description|format_oncokbtext|safe }}
                {% endif %}
              </td>
            </tr>
            {% endif %}
            {% if civic_gene is defined and civic_gene is not none %}
            <tr>
              <td style='vertical-align:top'>
                <img class="w-10" alt="OncoKB" src="{{ url_for('static', filename='images/civic_logo.png') }}"><br><b>Gene:</b> <a href="{{ civic_gene.gene_civic_url }}">{{ civic_gene.name }}</a>
              </td>
              <td>
                {{ civic_gene.description }}
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </center>
</div>


  <script type="text/javascript">
    $("#test").select2();

    window.onload = function() {
      $('[data-autoclick="true"]').click();
      $('[data-autoclick="true"]').click();
    };

  function switchVisibility_comments(class_name) {
    var elems = document.getElementsByClassName(class_name);
    for (var i = 0; i < elems.length; i++) {
      elems[i].classList.toggle('hidden');
    }
  }

  function switchVisibility_noncanonicaltranscripts(class_name) {
    var hide_class = "visibility-collapsed";

    var elems = document.getElementsByClassName(class_name);

    for (var i = 0; i < elems.length; i++) {

      if( elems[i].classList.contains(hide_class) ) {
        elems[i].classList.remove(hide_class);
      }
      else {
        elems[i].classList.add(hide_class);
      }
    }
  }     

  function addText(event) {
    var targ = event.target || event.srcElement;
    if (!targ.closest('tr').classList.contains('hidden_comment')) {
      document.getElementById("comment_textarea").value = targ.textContent || targ.innerText;
    }
  }

  function toggleText(button) {
    var shortText = button.previousElementSibling.previousElementSibling;
    var fullText = button.previousElementSibling;

    // Toggle between short and full text
    if (fullText.classList.contains('hidden')) {
      shortText.classList.add('hidden');   // Hide truncated text
      fullText.classList.remove('hidden'); // Show full text
      button.textContent = '[-]';          // Change button text to Collapse
    } else {
      shortText.classList.remove('hidden'); // Show truncated text
      fullText.classList.add('hidden');     // Hide full text
      button.textContent = '[+]';           // Change button text to Expand
    }
  }
  

  </script>


{% endblock %} 

{% macro complement(base) -%}
  {% if base == "A" %}T{% endif %}
  {% if base == "T" %}A{% endif %}
  {% if base == "C" %}G{% endif %}
  {% if base == "G" %}C{% endif %}
{%- endmacro %}
