<aside class="w-52 bg-transparent text-black flex flex-col overflow-y-auto shadow-2xl mx-1 py-1 px-1 right-0 h-full ">

  <!-- Control actions -->
  <div id="control-panel" class="p-1 px-2 space-y-2 w-full text-xs">
    <div class="flex justify-between items-center mb-1">
      <h2 class="text-sm font-semibold">Control Panel</h2>
    </div>
    <div class="flex justify-between mt-2">
      <button class="bg-brown-400 hover:bg-brown-500 text-white font-semibold p-1 rounded text-xs mx-1" onclick="switchVisibility('fp', this);">Hide FPs</button>
      {% if assay == "solid" or assay == "gmsonco" %}
          <button class="bg-brown-400 hover:bg-brown-500 text-white font-semibold p-1 rounded text-xs mx-1" onclick="window.location.href='#'; show_germlinecnv(this);">Germline CNVs</button>    
      {% endif %}
    </div>
  </div>

  <hr class="broder border-gray-500 my-1">

  <!-- Variant actions -->
  <div id="snv-actions" class="p-1 px-2 space-y-2 w-full text-xs {% if not has_access('manage_snvs', min_role='user', min_level=9) %}readonly opacity-70 select-none pointer-events-none{% endif %}">
    <div class="flex justify-between items-center mb-1">
      <h2 class="text-sm font-semibold">Modify Variants</h2>
    </div>
    <form id="snv-actions-form" action="{{ url_for('dna_bp.classify_multi_variant', sample_id=sample.name) }}" method="POST">
      <!-- Sidebar Checkboxes -->
      <div class="flex flex-col">
        <label class="flex items-center text-xs">
          <input type="checkbox" name="tier" value="1" class="mr-2 snv-actions-checkbox">
          <span>Tier3</span>
        </label>
        <label class="flex items-center text-xs">
          <input type="checkbox" name="irrelevant" value="1" class="mr-2 snv-actions-checkbox">
          <span>Irrelevant</span>
        </label>
        <label class="flex items-center text-xs">
          <input type="checkbox" name="false_positive" value="1" class="mr-2 snv-actions-checkbox">
          <span>False Positive</span>
        </label>
      </div>

      <!-- Submit Buttons -->
      <div class="flex justify-between mt-2">
        <input type="hidden" name="assay" value="{{ assay }}">
        <input type="hidden" name="subpanel" value="{{ sample.subpanel }}">
        <button type="button" onclick="submitSNVSidebarForm('apply')" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-1 rounded text-xs mx-1">Apply</button>
        <button type="button" onclick="submitSNVSidebarForm('remove')" class="bg-orange-500 hover:bg-red-700 text-white font-semibold py-1 px-1 rounded text-xs mx-1">Remove</button>
      </div>
    </form>
  </div>

  <hr class="broder border-gray-500 my-1">

  <form action="" method="POST" name="form" class="{% if not has_access('apply_dna_filters', min_role='user', min_level=9) %}readonly opacity-70 select-none pointer-events-none{% endif %}">

    <div id="snv-filters" class="p-1 px-2 space-y-2 w-full text-xs">
      <div class="flex justify-between items-center mb-1">
        <h2 class="text-sm font-semibold">SNV Filters</h2>
      </div>
    
      {{ form.hidden_tag() }}

      {{ form.warn_cov(type="hidden", default=sample.filters.warn_cov ) }}
      {{ form.error_cov(type="hidden", default=sample.filters.error_cov) }}
      

      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Min Depth</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&ge;</span>
          {{ form.min_depth(size=2, default=sample.filters.min_depth, class="border border-gray-400 rounded px-1 py-0.5 w-16") }}
        </div>
      </div>

      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Min Alt Count</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&ge;</span>
          {{ form.min_alt_reads(size=1, default=sample.filters.min_alt_reads, class="border border-gray-300 rounded px-1 py-0.5 w-16 text-xs") }}
        </div>
      </div>

      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Min Freq.</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&ge;</span>
          {{ form.min_freq(size=1, default=sample.filters.min_freq, class="border border-gray-400 rounded px-1 py-0.5 w-16") }}
        </div>
      </div>

      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Max Freq.</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&le;</span>
          {{ form.max_freq(size=1, default=sample.filters.max_freq, class="border border-gray-400 rounded px-1 py-0.5 w-16") }}
        </div>
      </div>

      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Max Ctrl. Freq.</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&le;</span>
          {{ form.max_control_freq(size=1, default=sample.filters.max_control_freq, class="border border-gray-300 rounded px-1 py-0.5 w-16 text-xs") }}
        </div>
      </div>

      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Max Pop. Freq.</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&le;</span>
          {{ form.max_popfreq(size=1, default=sample.filters.max_popfreq, class="border border-gray-300 rounded px-1 py-0.5 w-16 text-xs") }}
        </div>
      </div>

      <!-- Multi-Select Dropdowns -->
      <div class="relative z-20">
        <label class="block text-gray-900 text-xs mb-1">Consequence</label>
        
        <!-- Conseq Dropdown Trigger -->
        <div class="border border-gray-400 rounded bg-white cursor-pointer text-xs hover:border-blue-400 transition px-3 py-1 flex justify-between items-center" onclick="showCheckboxes('csq_checkboxes', 'csq-dropdown-icon')">
          <span id="selected-option" class="text-xs text-gray-700">Select Consequence</span>
          <img src="{{ url_for('static', filename='icons/heroicons_outline_24/chevron-down.svg') }}" class="h-4 w-4 text-gray-900 transition-transform duration-200"  id="csq-dropdown-icon" alt="Consequence Dropdown Icon">
        </div>
      
        <!-- Conseq Dropdown Options -->
        <div id="csq_checkboxes" class="hidden border border-gray-400 mt-1 rounded shadow-md bg-gray-50 p-1 space-y-1">
          {% for form_name, form_field in form._fields.items() if form_name.startswith('vep_') %}
          <label for="{{ form_name }}" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">
            {{ form_field }} <span>{{ form_field.label.text }}</span>
          </label>
        {% endfor %}
        
        </div>
      </div>
      
      <div class="relative z-10">
        <label class="block text-gray-900 text-xs mb-1">Gene Lists</label>
        
        <!-- Genelist Dropdown Trigger -->
        <div class="border border-gray-400 rounded bg-white cursor-pointer text-xs hover:border-blue-400 transition px-3 py-1 flex justify-between items-center" onclick="showCheckboxes('genelists_checkboxes', 'genelist-dropdown-icon')">
          <span id="selected-genelist" class="text-xs text-gray-700">Select Gene Lists</span>
          <img src="{{ url_for('static', filename='icons/heroicons_outline_24/chevron-down.svg') }}" class="h-4 w-4 text-gray-900 transition-transform duration-200" id="genelist-dropdown-icon" alt="genelist Dropdown Icon">
        </div>
      
        <!-- Genelist Dropdown Options -->
        <div id="genelists_checkboxes" class="hidden border border-gray-400 mt-1 rounded shadow-md bg-gray-50 p-1 space-y-1">
          {% for panel in assay_panels %}
            {% if panel.list_type == 'genelist' %}
              {% set show=False %}
              <label for="{{ panel.displayname }}" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">
                {{ form['genelist_' ~ panel._id](checked=show) }} <span>{{ panel.displayname }}</span>
              </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
    </div>

    <hr class="broder border-gray-500 my-1">
    
    <div id="cnv-filters" class="p-1 px-2 space-y-2 w-full text-xs">
      <!-- CNV filters -->
      <div class="flex justify-between items-center mb-1">
        <h2 class="text-sm font-semibold">CNV Filters</h2>
      </div>
      
      <!-- Max Size Filter -->
      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Max size</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&le;</span>
          {{ form.max_cnv_size(size=7, default=sample.filters.max_cnv_size,class="border border-gray-300 rounded px-2 py-0.5 w-24") }}
        </div>
      </div>
      
      <!-- Min Size Filter -->
      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Min size</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&ge;</span>
          {{ form.min_cnv_size(size=7, default=sample.filters.min_cnv_size, class="border border-gray-300 rounded px-2 py-0.5 w-24") }}
        </div>
      </div>

      <!-- CNV Gain Ratio Lwer Cut off Filter -->
      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Gain Ratio</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&ge;</span>
          {{ form.cnv_gain_cutoff(size=3, default=sample.filters.cnv_gain_cutoff,class="border border-gray-300 rounded px-2 py-0.5 w-24") }}
        </div>
      </div>
      
      <!-- CNV Loss Ratio Lwer Cut off Filter -->
      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Loss Ratio</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&le;</span>
          {{ form.cnv_loss_cutoff(size=3, default=sample.filters.cnv_loss_cutoff, class="border border-gray-300 rounded px-2 py-0.5 w-24") }}
        </div>
      </div>
      
      <!-- CNV Effect Dropdown -->
      <div class="relative">
        <label class="block text-gray-900 text-xs mb-1">CNV Effect</label>

        <!-- CNV Dropdown Trigger -->
        <div class="border border-gray-400 rounded bg-white cursor-pointer text-xs hover:border-blue-400 transition px-3 py-1 flex justify-between items-center" onclick="showCheckboxes('cnveffect_checkboxes', 'cnveffect-dropdown-icon')">
          <span class="text-xs text-gray-700">Select CNV Effect</span>
          <img src="{{ url_for('static', filename='icons/heroicons_outline_24/chevron-down.svg') }}" class="h-4 w-4 text-gray-500 transition-transform duration-200"  id="cnveffect-dropdown-icon" alt="CNV Effect Dropdown Icon">
        </div>

        <div id="cnveffect_checkboxes" class="hidden border border-gray-400 mt-1 rounded shadow-md bg-gray-50 p-1 space-y-1">
          <label for="cnveffect_loss" class="flex items-center space-x-1 px-2 py-1 rounded hover:bg-blue-100 transition">
            {{ form.cnveffect_loss(checked=False) }} <span>Loss</span>
          </label>
          <label for="cnveffect_gain" class="flex items-center space-x-1 px-2 py-1 rounded hover:bg-blue-100 transition">
            {{ form.cnveffect_gain(checked=False) }} <span>Gain</span>
          </label>
        </div>
      
        <!-- Apply & Reset Buttons -->
        <div class="flex justify-between mt-2">
          <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-1 rounded text-xs mx-1" name="apply" value="apply" type="submit">Apply</button>
          <button class="bg-orange-500 hover:bg-red-700 text-white font-semibold py-1 px-1 rounded text-xs mx-1" name="reset" value="reset" type="submit">Reset</button>
        </div>
      </div>
    </div>
  </form>
</aside>

<script>

  ////////////////////////////////////////////////////////////////////////////////
  // select/de-select snv checkboxes
  function toggleSelectAllVariants(source) {
    const checkboxes = document.querySelectorAll('.snv-checkbox');
    checkboxes.forEach((checkbox) => {
      checkbox.checked = source.checked;
    });
  }
  ////////////////////////////////////////////////////////////////////////////////
  // Submit SNV Sidebar Form
  function submitSNVSidebarForm(actionValue) {
    const sidebarForm = document.getElementById('snv-actions-form');
    const selectedVariants = document.querySelectorAll('.snv-checkbox:checked'); // Selected variants
    const sidebarOptions = document.querySelectorAll('.snv-actions-checkbox:checked'); // Selected sidebar checkboxes
  
    // Remove existing hidden inputs for variants and action
    const existingVariantInputs = sidebarForm.querySelectorAll('input[name="selected_object_id"]');
    existingVariantInputs.forEach((input) => input.remove());
  
    const existingActionInput = sidebarForm.querySelector('input[name="action"]');
    if (existingActionInput) {
      existingActionInput.remove();
    }
  
    // Add selected variants as hidden inputs
    selectedVariants.forEach((variant) => {
      const hiddenInput = document.createElement('input');
      hiddenInput.type = 'hidden';
      hiddenInput.name = 'selected_object_id';
      hiddenInput.value = variant.getAttribute('data-value');
      sidebarForm.appendChild(hiddenInput);
    });
  
    // Add the action value as a hidden input
    const actionInput = document.createElement('input');
    actionInput.type = 'hidden';
    actionInput.name = 'action';
    actionInput.value = actionValue;
    sidebarForm.appendChild(actionInput);
  
    // Check if both variants and sidebar options are selected
    const variantsSelected = selectedVariants.length > 0;
    const optionsSelected = sidebarOptions.length > 0;
  
    // Validation: Stop submission if either is missing
    if (!variantsSelected || !optionsSelected) {
      if (!variantsSelected && !optionsSelected) {
        alert('Please select at least one variant and one option.');
      } else if (!variantsSelected) {
        alert('Please select at least one variant.');
      } else {
        alert('Please select at least one option from the sidebar.');
      }
      return; // Stop form submission
    }
  
    // If validation passes, submit the form
    sidebarForm.submit();
  }

</script>