
  /* General styles */

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.fill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-size: 100% 10px;
}

.chartjs-render-monitor {
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100% !important;
    height: auto !important;
}
