{% extends "layout.html" %}
{% block title %}Manage Genelists{% endblock %}
{% block body %}
<div class="flex w-full h-full overflow-hidden">
  
  {% if not is_public %}
    {% include "admin_sidebar.html" %}
  {% endif %}

  <main class="flex-1 overflow-y-auto p-4 flex flex-col">

    <section class="p-2 ml-2 mt-2">
      <div class="bg-blue-50 shadow-3xl rounded-2xl p-4 relative overflow-hidden border-l-4 border-blue-400">

        <!-- Header -->
        <div class="flex flex-row justify-between items-center gap-4 px-2 py-2">
          <h2 class="text-base font-semibold text-black tracking-wide uppercase">Manage In-Silico Genelists</h2>
          <div class="relative w-64">
            <input type="text" id="search-genelist" class="w-full border border-gray-300 rounded-lg py-2 pl-4 pr-10 text-sm text-gray-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-400" placeholder="Search Genelists">
            <div class="absolute inset-y-0 right-0 flex items-center pr-3">
              <img src="{{ url_for('static', filename='icons/heroicons_outline_24/magnifying-glass.svg') }}" alt="search genelist" class="h-5 w-5 text-gray-500 cursor-pointer" onclick="document.getElementById('search-genelist').focus()">
            </div>
          </div>
        </div>

        <!-- Table -->
        <div class="overflow-x-auto rounded-2xl shadow-3xl relative pagination" id="genelists-div" data-rows-per-page="20" pagination-button-color="blue" pagination-button-text-color="black">
          <table id="genelists-table" class="min-w-full bg-transparent shadow-md rounded-2xl text-xs my-2 overflow-hidden">
            <thead class="rounded-t-2xl overflow-hidden border-gray-800">
              <tr class="border-b text-left border-gray-800 bg-blue-200 uppercase tracking-wider shadow-xl rounded-t-2xl">
                <th class="p-2 font-normal">Name</th>
                <th class="p-2 font-normal">Display Name</th>
                <th class="p-2 font-normal">Type</th>
                <th class="p-2 font-normal">Access</th>
                <th class="p-2 font-normal">Groups</th>
                <th class="p-2 font-normal">Assays</th>
                <th class="p-2 font-normal">Diagnosis</th>
                <th class="p-2 font-normal">#Genes</th>
                <th class="p-2 font-normal">Version</th>
                <th class="p-2 font-normal">Status</th>
                <th class="p-2 font-normal">Actions</th>
              </tr>
            </thead>
            <tbody id="genelists-body" class="text-gray-800 rounded-b-2xl overflow-hidden">
              {% for genelist in genelists %}
                <tr class="border-t border-gray-400 hover:bg-blue-100 text-left last:rounded-b-2xl">
                  <td class="p-2 font-medium">{{ genelist.name }}</td>
                  <td class="p-2 font-medium">{{ genelist.displayname }}</td>
                  <td class="p-2 font-medium">
                    <span class="bg-{{genelist.list_type}} text-{{genelist.list_type}} rounded-full px-2 py-1 text-xs">{{ genelist.list_type }}</span>
                  </td>
                  <td class="p-2 font-medium">
                    {% if genelist.is_public %}
                      <span class="bg-green-300 rounded-full px-2 py-1 text-xs">Public</span>
                    {% else %}
                      <span class="bg-red-200 rounded-full px-2 py-1 text-xs">Private</span>
                    {% endif %}
                    {% if genelist.ad_hoc %}
                      <span class="bg-yellow-300 rounded-full px-2 py-1 text-xs">Ad Hoc</span>
                    {% endif %}
                  </td>
                  <td class="p-2 font-medium">
                    <div class="flex flex-wrap gap-1">
                      {% for group in genelist.assay_groups %}
                        <span class="px-2 py-1 rounded-full text-xs font-semibold bg-gray-300 text-gray-800 hover:bg-blue-300">{{ group }}</span>
                      {% else %}
                        -
                      {% endfor %}
                    </div>
                  </td>
                  <td class="p-2 font-medium">
                    <div class="flex flex-wrap gap-1">
                      {% for assay in genelist.assays %}
                        <span class="px-2 py-1 rounded-full text-xs font-semibold bg-gray-300 text-gray-800 hover:bg-purple-300">{{ assay }}</span>
                      {% else %}
                        -
                      {% endfor %}
                    </div>
                  </td>
                  <td class="p-2 font-medium">
                    <div class="flex flex-wrap gap-1">
                      {% for diag in genelist.diagnosis %}
                        <span class="px-2 py-1 rounded-full text-xs font-semibold bg-gray-300 text-gray-800 hover:bg-indigo-300">{{ diag }}</span>
                      {% else %}
                        -
                      {% endfor %}
                    </div>
                  </td>
                  <td class="p-2 font-medium">{{ genelist.gene_count }}</td>
                  <td class="p-2 font-medium">{{ genelist.version }}</td>
                  <td class="p-2 font-medium">
                    {% if genelist.is_active %}
                      <span class="text-green-600 font-semibold">Active</span>
                    {% else %}
                      <span class="text-red-500 font-semibold">Inactive</span>
                    {% endif %}
                  </td>
                  <td class="p-2 font-medium flex gap-2 flex-wrap">
                    <a href="{{ url_for('admin_bp.view_genelist', genelist_id=genelist._id) }}" 
                      title="View" 
                      class="font-medium text-gray-700 hover:text-blue-600">
                      <img src="{{ url_for('static', filename='icons/heroicons_outline_24/eye.svg') }}" alt="View" class="w-5 cursor-pointer">
                    </a>
                  

                    {% if has_access("edit_isgl", min_role="manager", min_level=99) and not is_public %}
                      <button onclick="showActionModal({
                          url: '{{ url_for('admin_bp.edit_genelist', genelist_id=genelist._id) }}',
                          title: 'Edit genelist configuration',
                          message: 'Are you sure you want to edit <b>{{ genelist._id }} </b> genelist configuration?',
                          confirmText: 'Edit',
                          confirmColor: 'blue'
                        })"
                        title="Edit"
                        class="font-medium text-blue-600 hover:text-blue-800">
                        <img src="{{ url_for('static', filename='icons/heroicons_outline_24/pencil-square.svg') }}" alt="edit" class="w-5 cursor-pointer">
                      </button>
                      <button onclick="showActionModal({
                          url: '{{ url_for('admin_bp.toggle_genelist', genelist_id=genelist._id) }}',
                          title: '{{ 'Deactivate' if genelist.is_active else 'Activate' }} Schema',
                          message: 'Are you sure you want to {{ 'deactivate' if genelist.is_active else 'activate' }} <b>{{ genelist._id }}</b>?',
                          confirmText: '{{ 'Deactivate' if genelist.is_active else 'Activate' }}',
                          confirmColor: '{{ 'red' if genelist.is_active else 'green' }}'
                        })"
                        title="{{ 'Deactivate' if genelist.is_active else 'Activate' }}"
                        class="font-medium {% if genelist.is_active %}text-yellow-600 hover:text-yellow-800{% else %}text-green-600 hover:text-green-800{% endif %}">
                        <img src="{{ url_for('static', filename='icons/heroicons_outline_24/arrow-path-rounded-square.svg') }}" alt="toggle active" class="w-5 cursor-pointer">
                      </button> 
                    {% endif %}
                    {% if has_access("delete_isgl", min_role="admin", min_level=99999) and not is_public %}
                      <button onclick="showActionModal({
                          url: '{{ url_for('admin_bp.delete_genelist', genelist_id=genelist._id) }}',
                          title: 'Delete genelist',
                          message: 'Are you sure you want to delete <b>{{ genelist._id }}</b> genelist configuration?',
                          confirmText: 'Delete',
                          confirmColor: 'red'
                        })" title="Delete" class="text-red-500 hover:text-red-700 font-medium">
                        <img src="{{ url_for('static', filename='icons/heroicons_outline_24/trash.svg') }}" alt="delete" class="w-5 cursor-pointer">
                      </button>
                    {% endif %}
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="10" class="p-4 text-center text-gray-500">No genelists found.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </section>

  </main>
</div>

<script>

  const input = document.getElementById('search-genelist');
  const body = document.getElementById('genelists-body');
  const container = document.getElementById('genelists-div');
  const rowsPerPage = parseInt(container.dataset.rowsPerPage) || 20;
  const originalRows = [...body.querySelectorAll('tr')].map(r => r.cloneNode(true));
  const id = body.id;

  input.addEventListener('input', () => {
    const term = input.value.toLowerCase().trim();

    // Remove any existing pagination controls
    container.querySelectorAll('[data-prev], [data-next], [data-page-info]').forEach(el => el.parentElement?.remove());

    // Filter rows or reset
    const filtered = term
      ? originalRows.filter(row =>
          [...row.querySelectorAll('td')].slice(0, 4).some(td =>
            td.textContent.toLowerCase().includes(term)
          )
        )
      : originalRows;

    // Replace table body with filtered or full rows
    body.innerHTML = '';
    filtered.forEach(row => body.appendChild(row));

    // Trigger pagination if needed
    filtered.length > rowsPerPage ? initializePagination() : displayPage(1, id, rowsPerPage);
  });
</script>
{% endblock %}
