<aside class="w-52 bg-transparent text-black flex flex-col overflow-y-auto shadow-2xl mx-1 py-1 px-1 right-0 h-full ">

  <!-- Control actions -->
  <div id="control-panel" class="p-1 px-2 space-y-2 w-full text-xs">
    <div class="flex justify-between items-center mb-1">
      <h2 class="text-sm font-semibold">Control Panel</h2>
    </div>
    <div class="flex justify-between mt-2">
      <button class="bg-gray-400 hover:bg-gray-500 text-white font-semibold py-2 px-1 rounded text-xs mx-1" onclick="switchVisibility('fp', this);">Hide FPs</button> 
    </div>
  </div>

  <hr class="broder border-gray-500 my-1">

  <!-- Variant actions -->
  <div id="snv-actions" class="p-1 px-2 space-y-2 w-full text-xs">
    <div class="flex justify-between items-center mb-1">
      <h2 class="text-sm font-semibold">Modify Fusions</h2>
    </div>
    <form id="snv-actions-form" action="{{ url_for('rna_bp.classify_multi_variant', id=sample.name) }}" method="POST">
      <!-- Sidebar Checkboxes -->
      <div class="flex flex-col">
        <label class="flex items-center text-xs">
          <input type="checkbox" name="irrelevant" value="1" class="mr-2 snv-actions-checkbox">
          <span>Irrelevant</span>
        </label>
        <label class="flex items-center text-xs">
          <input type="checkbox" name="false_positive" value="1" class="mr-2 snv-actions-checkbox">
          <span>False Positive</span>
        </label>
      </div>

      <!-- Submit Buttons -->
      <div class="flex justify-between mt-2">
        <input type="hidden" name="assay" value="{{ assay }}">
        <input type="hidden" name="subpanel" value="{{ sample.subpanel }}">
        <button type="button" onclick="submitSNVSidebarForm('apply')" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-1 rounded text-xs mx-1">Apply</button>
        <button type="button" onclick="submitSNVSidebarForm('remove')" class="bg-orange-500 hover:bg-red-700 text-white font-semibold py-1 px-1 rounded text-xs mx-1">Remove</button>
      </div>
    </form>
  </div>

  <hr class="broder border-gray-500 my-1">

  <form action="" method="POST" name="form">
    <div id="snv-filters" class="p-1 px-2 space-y-2 w-full text-xs">
      <div class="flex justify-between items-center mb-1">
        <h2 class="text-sm font-semibold">Fusions Filters</h2>
      </div>
    
      {{ form.hidden_tag() }}

      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Spanning pairs</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&gt;</span>
          {{ form.min_spanreads(size=2, default=sample.filter_min_spanreads, class="border border-gray-400 rounded px-1 py-0.5 w-16") }}
        </div>
      </div>

      <div class="flex justify-between items-center text-xs">
        <label class="text-gray-900">Spanning reads</label>
        <div class="flex items-center gap-1">
          <span class="text-sm font-bold">&gt;</span>
          {{ form.min_spanpairs(size=1, default=sample.filter_min_spanpairs, class="border border-gray-400 rounded px-1 py-0.5 w-16") }}
        </div>
      </div>


      <!-- Multi-Select Dropdowns -->
      <div class="relative z-20">
        <label class="block text-gray-900 text-xs mb-1">Fusions annotation</label>
        
        <!-- Annotation Trigger -->
        <div class="border border-gray-400 rounded bg-white cursor-pointer text-xs hover:border-blue-400 transition px-3 py-1 flex justify-between items-center" onclick="showCheckboxes('fusionlists_checkboxes', 'csq-dropdown-icon')">
          <span id="selected-option" class="text-xs text-gray-700">Select Fusion List</span>
          <img src="{{ url_for('static', filename='icons/heroicons_outline_24/chevron-down.svg') }}" class="h-4 w-4 text-gray-900 transition-transform duration-200"  id="csq-dropdown-icon" alt="Consequence Dropdown Icon">
        </div>
      
        <!-- Annitation list Options -->
        <div id="fusionlists_checkboxes" class="hidden border border-gray-400 mt-1 rounded shadow-md bg-gray-50 p-1 space-y-1">
          <label for="FCknown" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">{{ form.fusionlist_FCknown(checked=False) }} <span>FusionCatcher 'Known'</span></label>
          <label for="mitelman" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">{{ form.fusionlist_mitelman(checked=False) }} <span>Mitelman</span></label>
        </div>
      </div>

      <div class="relative z-20">
        <label class="block text-gray-900 text-xs mb-1">Fusion callers</label>
        
        <!-- Fusion Caller Trigger -->
        <div class="border border-gray-400 rounded bg-white cursor-pointer text-xs hover:border-blue-400 transition px-3 py-1 flex justify-between items-center" onclick="showCheckboxes('fusioncallers_checkboxes', 'csq-dropdown-icon')">
          <span id="selected-option" class="text-xs text-gray-700">Select Fusion List</span>
          <img src="{{ url_for('static', filename='icons/heroicons_outline_24/chevron-down.svg') }}" class="h-4 w-4 text-gray-900 transition-transform duration-200"  id="csq-dropdown-icon" alt="Consequence Dropdown Icon">
        </div>
      
        <!-- Fusion caller Dropdown Options -->
        <div id="fusioncallers_checkboxes" class="hidden border border-gray-400 mt-1 rounded shadow-md bg-gray-50 p-1 space-y-1">
          <label for="arriba" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">{{ form.fusioncaller_arriba(checked=False) }} <span>Arriba</span></label>
          <label for="fusioncatcher" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">{{ form.fusioncaller_fusioncatcher(checked=False) }} <span>Fusioncatcher</span></label>
          <label for="starfusion" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">{{ form.fusioncaller_starfusion(checked=False) }} <span>Starfusion</span></label>
        </div>
      </div>


      <div class="relative z-20">
        <label class="block text-gray-900 text-xs mb-1">Fusion Effects</label>
        
        <!-- Fusion effect Trigger -->
        <div class="border border-gray-400 rounded bg-white cursor-pointer text-xs hover:border-blue-400 transition px-3 py-1 flex justify-between items-center" onclick="showCheckboxes('fusioneffects_checkboxes', 'csq-dropdown-icon')">
          <span id="selected-option" class="text-xs text-gray-700">Select Fusion Effects</span>
          <img src="{{ url_for('static', filename='icons/heroicons_outline_24/chevron-down.svg') }}" class="h-4 w-4 text-gray-900 transition-transform duration-200"  id="csq-dropdown-icon" alt="Consequence Dropdown Icon">
        </div>
      
        <!-- Fusion caller Dropdown Options -->
        <div id="fusioneffects_checkboxes" class="hidden border border-gray-400 mt-1 rounded shadow-md bg-gray-50 p-1 space-y-1">
          <label for="inframe" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">{{ form.fusioneffect_inframe(checked=False) }} <span>In-frame</span></label>
          <label for="outframe" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">{{ form.fusioneffect_outframe(checked=False) }} <span>Out-of-frame</span></label>
        </div>
      </div>


      <div class="relative z-10">
        <label class="block text-gray-900 text-xs mb-1">Gene Lists</label>
        
        <!-- Genelist Dropdown Trigger -->
        <div class="border border-gray-400 rounded bg-white cursor-pointer text-xs hover:border-blue-400 transition px-3 py-1 flex justify-between items-center" onclick="showCheckboxes('genelists_checkboxes', 'genelist-dropdown-icon')">
          <span id="selected-genelist" class="text-xs text-gray-700">Select Gene Lists</span>
          <img src="{{ url_for('static', filename='icons/heroicons_outline_24/chevron-down.svg') }}" class="h-4 w-4 text-gray-900 transition-transform duration-200" id="genelist-dropdown-icon" alt="genelist Dropdown Icon">
        </div>
      
        <!-- Genelist Dropdown Options -->
        <div id="genelists_checkboxes" class="hidden border border-gray-400 mt-1 rounded shadow-md bg-gray-50 p-1 space-y-1">
          {% for panel in assay_panels %}
            {% if panel.type == 'genelist' %}
              {% set show=False %}
              <label for="{{ panel.name }}" class="flex items-center space-x-2 px-2 py-1 rounded hover:bg-blue-100 transition">
                {{ form['genelist_' ~ panel.name](checked=show) }} <span>{{ panel.displayname }}</span>
              </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
      <!-- SNV FILTER Buttons -->
      <div class="flex justify-between mt-2">
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-1 rounded text-xs mx-1" name="apply" value="apply" type="submit">Apply</button>
        <button class="bg-orange-500 hover:bg-red-700 text-white font-semibold py-1 px-1 rounded text-xs mx-1" name="reset" value="reset" type="submit">Reset</button>
      </div>
    </div>

    <hr class="broder border-gray-500 my-1">
    
  </form>
</aside>

<script>

  ////////////////////////////////////////////////////////////////////////////////
  // select/de-select snv checkboxes
  function toggleSelectAllVariants(source) {
    const checkboxes = document.querySelectorAll('.snv-checkbox');
    checkboxes.forEach((checkbox) => {
      checkbox.checked = source.checked;
    });
  }
  ////////////////////////////////////////////////////////////////////////////////
  // Submit SNV Sidebar Form
  function submitSNVSidebarForm(actionValue) {
    const sidebarForm = document.getElementById('snv-actions-form');
    const selectedVariants = document.querySelectorAll('.snv-checkbox:checked'); // Selected variants
    const sidebarOptions = document.querySelectorAll('.snv-actions-checkbox:checked'); // Selected sidebar checkboxes
  
    // Remove existing hidden inputs for variants and action
    const existingVariantInputs = sidebarForm.querySelectorAll('input[name="selected_object_id"]');
    existingVariantInputs.forEach((input) => input.remove());
  
    const existingActionInput = sidebarForm.querySelector('input[name="action"]');
    if (existingActionInput) {
      existingActionInput.remove();
    }
  
    // Add selected variants as hidden inputs
    selectedVariants.forEach((variant) => {
      const hiddenInput = document.createElement('input');
      hiddenInput.type = 'hidden';
      hiddenInput.name = 'selected_object_id';
      hiddenInput.value = variant.getAttribute('data-value');
      sidebarForm.appendChild(hiddenInput);
    });
  
    // Add the action value as a hidden input
    const actionInput = document.createElement('input');
    actionInput.type = 'hidden';
    actionInput.name = 'action';
    actionInput.value = actionValue;
    sidebarForm.appendChild(actionInput);
  
    // Check if both variants and sidebar options are selected
    const variantsSelected = selectedVariants.length > 0;
    const optionsSelected = sidebarOptions.length > 0;
  
    // Validation: Stop submission if either is missing
    if (!variantsSelected || !optionsSelected) {
      if (!variantsSelected && !optionsSelected) {
        alert('Please select at least one variant and one option.');
      } else if (!variantsSelected) {
        alert('Please select at least one variant.');
      } else {
        alert('Please select at least one option from the sidebar.');
      }
      return; // Stop form submission
    }
  
    // If validation passes, submit the form
    sidebarForm.submit();
  }

</script>