{% extends "layout.html" %} 

{% block body %} 
{% set translation=config["TRANS"] %} 

<div class="flex w-full h-full overflow-hidden">

  <!-- LEFT SIDEBAR (Fixed Width, Full Height) -->
  <aside class="w-8 bg-transparent text-white flex flex-col">

    {% if fusions %}
      <div class="flex border-l-8 border-yellow-400 ">
        <a href="#fusions" 
          class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
            <span class="vertical-text">Fusions</span>
        </a>
      </div>
    {% endif %}

    {% if sample.classification %}
      <div class="flex border-l-8 border-blue-400">
        <a href="#classification" 
          class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
            <span class="vertical-text">Class</span>
       </a>
      </div>
    {% endif %}

    {% if sample.expr %}
      <div class="flex border-l-8 border-blue-400">
        <a href="#expression" 
          class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
            <span class="vertical-text">expression</span>
        </a>
      </div>
    {% endif %}
  
    <div class="flex border-l-8 border-teal-400 mt-1">
      <a href="#summary" 
        class="relative bg-gray-500 text-white text-xs text-center py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
          <span class="vertical-text">Summary</span>
      </a>
    </div>

    {% if sample.cov %}
      <div class="flex border-l-8 border-orange-400 mt-1">
        <a href="{{ url_for('cov_bp.get_cov', sample_id=sample.name) }}" 
          class="relative bg-gray-500 text-white text-xs text-center py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
            <span class="vertical-text">Coverage</span>
        </a>
      </div>
    {% endif %}

    <div class="flex border-l-8 border-orange-400 ">
      <a href="#lowcov" 
        class="relative bg-gray-500 text-white text-xs text-center mt-1 py-1 px-0.5 transition-all duration-300 ease-in-out transform hover:translate-x-1">
          <span class="vertical-text">Low Cov</span>
      </a>
    </div>
  </aside>

  <!-- MAIN CONTENT (Scrollable & Auto-Resizing) -->
  <main class="flex-1 bg-transparent overflow-y-auto p-4 flex flex-col">

    <!-- Sample Info Card (Auto-Wrapping, Full Flexbox) -->
    {% include "sample_meta_rna_info.html" %}
    
    <!-- Selected Gene Panel Card -->
    {% include "selected_gene_panel_div.html" %}

    <!-- Fusion Table -->
    {% if fusions|length %}
    <section id="fusions" class="bg-blue-50 shadow-lg rounded-xl px-2 py-1 my-2 relative">
      <!-- Fusions Header -->
      <div class="overflow-x-auto relative">
        <h2 class="text-base font-semibold text-black tracking-wide mt-1 uppercase px-2">
          Fusions ({{ fusions|length }})
        </h2>
      </div>

      <!-- Fusions Content -->
      <div class="mx-auto py-2">
        <div class="flex flex-wrap gap-4">
          <div class="w-full bg-transparent shadow-md rounded-lg overflow-hidden">
            <!-- Sticky Header -->
            <div class="sticky top-0 flex items-center justify-between bg-gradient-to-b from-yellow-100 to-orange-100 shadow-lg rounded-t-lg border-b border-gray-400 p-2 z-10">
              <h2 class="text-sm font-semibold text-black">Fusions Passing Filter Criteria</h2>
              <img 
                src="{{ url_for('static', filename='icons/heroicons_outline_24/document-arrow-down.svg') }}" 
                alt="Export to CSV - Fusions" 
                onclick="exportTableToCSV('{{ sample.name }}.fusions.csv', 'fusions-table')" 
                class="w-6 h-6 transition-transform transform hover:scale-110 cursor-pointer"
              />
            </div>

            <div class="overflow-auto relative">
              <table id="fusions-table" class="w-full shadow-md rounded-b-lg text-xs text-gray-800">
                <thead class="sortable capitalize tracking-wide bg-yellow-100">
                  <tr class="border-b text-left border-gray-800">
                    <th class="px-2 py-3 font-semibold">Gene 1</th>
                    <th class="px-2 py-3 font-semibold">Gene 2</th>
                    <th class="px-2 py-3 font-semibold">Effect</th>
                    <th class="px-2 py-3 font-semibold">Spanning Pairs</th>
                    <th class="px-2 py-3 font-semibold">Unique Reads</th>
                    <th class="px-2 py-3 font-semibold">Fusion Points</th>
                    <th class="px-2 py-3 font-semibold">Tier</th>
                    <th class="px-2 py-3 font-semibold">Description</th>
                    <th class="px-2 py-3 font-semibold">Callers</th>
                    <th class="px-2 py-3 font-semibold" data-nosort="true">View</th>
                  </tr>
                </thead>
                <tbody>
                  {% for fus in fusions %}
                    {% set genes = fus.genes.split('^') %}
                    {% set sel_fus = (fus.calls|selectattr('selected', 'equalto', 1) | list)[0] %}
                    <tr class="{% if fus.blacklisted or fus.fp %}bg-red-200 opacity-60 hover:bg-red-300{% else %}hover:bg-gray-100{% endif %} border-t border-gray-400 text-left">
                      <td class="px-2 py-2">{{ genes[0] }}</td>
                      <td class="px-2 py-2">{{ genes[1] }}</td>
                      <td class="px-2 py-2">{{ sel_fus.effect }}</td>
                      <td class="px-2 py-2">{{ sel_fus.spanpairs }}</td>
                      <td class="px-2 py-2">{{ sel_fus.spanreads }}</td>
                      <td class="px-1">{{ sel_fus.breakpoint1 }}<br>{{ sel_fus.breakpoint2 }}</td>
                      <td class="px-2 py-2">
                        {% if fus.classification.class != 999 %}
                          <div class="inline-flex items-center px-2 py-1 font-semibold rounded-full bg-tier{{ fus.classification.class }} text-white shadow-md">
                            {{ fus.classification.class }}
                          </div>
                        {% endif %}
                      </td>
                    
                      <td class="px-2 py-2 w-60 align-top">
                        {% if sel_fus.desc %}
                          <div x-data="{ expanded: false }" class="space-y-1">
                            <div x-show="!expanded" x-cloak>
                              {{ sel_fus.desc | format_fusion_desc_few(1) | safe }}
                              <button 
                                @click="expanded = true"
                                class="text-blue-500 text-xs underline ml-1 focus:outline-none">Show more
                              </button>
                            </div>
                            <div x-show="expanded" x-cloak>
                              {{ sel_fus.desc | format_fusion_desc | safe }}
                              <button 
                                @click="expanded = false"
                                class="text-blue-500 text-xs underline ml-1 focus:outline-none">Show less
                              </button>
                            </div>
                          </div>
                        {% else %}
                          <span class="italic text-gray-400">No description</span>
                        {% endif %}
                      </td>

                      <td class="px-2 py-2">{{ fus.calls|uniq_callers|join("<br>")|safe }}</td>
                      <td class="px-2 py-2">
                        <a href='/rna/fusion/{{ fus._id }}'
                          class="inline-block px-1 py-1 text-black bg-blue-300 rounded-md shadow-md transition-all duration-200 ease-in-out hover:bg-blue-500 hover:text-white hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-300">
                          View
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    <div class="flex flex-col md:flex-row gap-4">

    <!-- Expression Table -->
    {% if sample.expr %}
    <section id="expression" class="bg-blue-50 shadow-lg rounded-xl px-2 py-1 my-2 w-full md:w-1/2">
      
      <!-- Expression Header -->
      <div class="overflow-x-auto relative">
        <h2 class="text-base font-semibold text-black tracking-wide mt-1 uppercase px-2">
          Expression of Selected Genes
        </h2>
      </div>
    
      <!-- Expression Table -->
      <div class="mx-auto py-2">
        <div class="flex flex-wrap gap-4">
          <div class="w-full bg-transparent shadow-md rounded-lg overflow-hidden">
            
            <!-- Sticky Top Info -->
            <div class="sticky top-0 flex items-center justify-between bg-gradient-to-b from-green-200 to-blue-100 shadow-lg rounded-t-lg border-b border-gray-400 p-2 z-10">
              <h2 class="text-sm font-semibold text-black">Gene Expression Metrics</h2>
            </div>
    
            <div class="overflow-auto relative">
              <table class="w-full table-fixed text-xs text-gray-800">
                <thead class="capitalize tracking-wide bg-green-100">
                  <tr class="border-b text-left border-gray-800">
                    <th class="px-2 py-3 font-semibold w-1/4">Gene</th>
                    <th class="px-2 py-3 font-semibold w-1/4">TPM</th>
                    <th class="px-2 py-3 font-semibold w-1/4">TPM Mean</th>
                    <th class="px-2 py-3 font-semibold w-1/4">Z-Score</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in sample.expr.sample %}
                    {% if data.hgnc_symbol %}
                    <tr class="hover:bg-gray-100 border-t border-gray-400">
                      <td class="px-2 py-2">{{ data.hgnc_symbol }}</td>
                      <td class="px-2 py-2">{{ '%0.2f'| format(data.sample_expression) }}</td>
                      <td class="px-2 py-2">{{ '%0.2f'| format(data.reference_mean) }}</td>
                      <td class="px-2 py-2">
                        {% set zscore = data.z %}
                        <div class="relative w-full border border-gray-700 rounded-md overflow-hidden text-center text-xs font-medium">
                          <div class="absolute top-0 left-1/2 h-full w-px bg-gray-500"></div>
                          {% if zscore >= 0 %}
                            <div class="absolute top-0 left-1/2 h-full bg-green-300" style="width: {{ zscore * 6 }}px;"></div>
                          {% else %}
                            <div class="absolute top-0 right-1/2 h-full bg-red-300" style="width: {{ -zscore * 6 }}px;"></div>
                          {% endif %}
                          <div class="relative z-10 py-0.5 text-left">{{ '%0.2f'| format(zscore) }}</div>
                        </div>
                      </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
    
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    <!-- Classification Table -->
    {% if sample.classification %}
    <section id="classification" class="bg-blue-50 shadow-lg rounded-xl px-2 py-1 my-2 w-full md:w-1/2">
      
      <!-- Classification Header -->
      <div class="overflow-x-auto relative">
        <h2 class="text-base font-semibold text-black tracking-wide mt-1 uppercase px-2">
          Expression-Based Classification ({{ sample.classification.classifier_version }})
        </h2>
      </div>
    
      <!-- Classification Table -->
      <div class="mx-auto py-2">
        <div class="flex flex-wrap gap-4">
          <div class="w-full bg-transparent shadow-md rounded-lg overflow-hidden">
            
            <!-- Sticky Top Info -->
            <div class="sticky top-0 flex items-center justify-between bg-gradient-to-b from-green-200 to-blue-100 shadow-lg rounded-t-lg border-b border-gray-400 p-2 z-10">
              <h2 class="text-sm font-semibold text-black">Classifier Scores</h2>
            </div>
    
            <div class="overflow-auto relative">
              <table class="w-full table-fixed text-xs text-gray-800">
                <thead class="capitalize tracking-wide bg-green-100">
                  <tr class="border-b text-left border-gray-800">
                    <th class="px-2 py-3 font-semibold w-1/2">Class</th>
                    <th class="px-2 py-3 font-semibold w-1/2">Score</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in sample.classification.classifier_results %}
                  <tr class="hover:bg-gray-100 border-t border-gray-400">
                    <td class="px-2 py-2">{{ c.class }}</td>
                    <td class="px-2 py-2">
                      <div class="relative w-full border border-gray-700 rounded-md overflow-hidden text-center text-xs font-medium">
                        <div class="absolute top-0 left-0 h-full bg-blue-300" style="width: {{ (c.score * 100)|string }}%;"></div>
                        <div class="relative z-10 py-0.5">{{ '%0.2f' | format(c.score) }}</div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
    
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    </div>

    
    <!-- Summary Comments Card -->
    <section id="summary" class="bg-blue-50 shadow-lg rounded-xl px-2 py-1 my-2 relative">
      <!-- Summary Header -->
      <div class="overflow-x-auto relative">
        <h2 class="text-base font-semibold text-black tracking-wide mt-1 uppercase px-2">Summary</h2>
      </div>

      <div class="mx-auto py-2 " id="summary-content">
        <div class="flex flex-wrap gap-4 ">
          <!-- Summary comments Table -->
          <div class="w-full bg-transparent shadow-md rounded-lg overflow-hidden">
            <div class="sticky top-0 flex items-center justify-between bg-gradient-to-b from-blue-200 to-green-100 shadow-lg rounded-t-lg border-b border-gray-400 p-2 z-10">
              <h2 class="text-sm font-semibold text-black">Summary Comments</h2>
            </div>
            <div class="overflow-auto relative">
              <table class="w-full shadow-md rounded-b-lg text-xs text-gray-800" id="summary-table">
                <thead class="sortable capitalize tracking-wide rounded-t-lg bg-green-100">
                  <tr id="summary-table-header" class="border-b text-left border-gray-800">
                    <th class="px-2 py-3 font-semibold" id="comments-table-header-who">Who</th>
                    <th class="px-2 py-3 font-semibold" id="comments-table-header-comment">Comment</th>
                    <th class="px-2 py-3 font-semibold" id="comments-table-header-view">Hide/Unhide</th>
                  </tr>
                </thead>
                <tbody>
                  {% if sample.comments|length > 0 %}
                    {% for comment in sample.comments|sort(attribute='time_created', reverse=True) %}
                      {% if comment.hidden != 1 %}
                        <tr class="hover:bg-green-50 border-t border-gray-400 text-left" id="comment-table-row">
                      {% else %}
                        <tr class="bg-red-200 opacity-60 hover:bg-red-300 border-t border-gray-400 text-left hidden hidden_comment" id="comment-table-row-hidden">
                      {% endif %}
                        <td class="px-2 whitespace-nowrap align-top py-4" id="comments-table-header-who">
                          <b>{{ comment.author }}</b><br><small>{{ comment.time_created|human_date }}</small>
                        </td>
                        <td class="p-2" id="comments-table-header-comment" onclick='addText(event)'>
                          {{ comment.text|format_comment|safe }}
                        </td>
                        <td class="px-2 align-top py-4" id="comments-table-header-view">
                          {% set hidden_exists = 0 %}
                          {% if comment.hidden != 1 %}
                            <form action="{{ url_for('common_bp.hide_sample_comment', sample_id=sample._id) }}#summary" method="post">
                              <input type="hidden" name="comment_id" value="{{ comment._id }}">
                              <input id="hide_comment" type="image" class="w-5 hover:scale-105" src="{{ url_for('static', filename='icons/heroicons_outline_24/eye-slash.svg') }}">
                            </form>
                          {% else %}
                            {% set hidden_exists = 1 %}
                            <form action="{{ url_for('common_bp.unhide_sample_comment', sample_id=sample._id) }}#summary" method="post">
                              <input type="hidden" name="comment_id" value="{{ comment._id }}">
                              <input id="unhide_comment" type="image" class="w-5" src="{{ url_for('static', filename='icons/heroicons_outline_24/eye.svg') }}">
                            </form>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    {% if hidden_comments %}
                      <tr>
                        <td colspan=4 class="py-2 px-4 border-t border-gray-300 text-center text-sm text-gray-800">
                          <a href="javascript:void(0)" onclick="switchVisibility('hidden_comment')"><b>Show/hide deleted comments</b></a>
                        </td>
                      </tr>
                    {% endif %}
                  {% else %}
                    <tr>
                      <td colspan=4 class="py-2 px-4 border-t border-gray-300 text-center text-sm text-gray-800">
                        No comments available.
                      </td>
                    </tr>
                  {% endif %}
                <tbody>
              </table>
            </div>
          </div>

          <!-- Add Comment Form -->
          <div class="w-full bg-transparent shadow-md rounded-lg overflow-hidden">
            <div class="sticky top-0 flex items-center justify-between bg-gradient-to-b from-blue-200 to-green-100 shadow-lg rounded-t-lg border-b border-gray-400 p-2 z-10">
              <h2 class="text-sm font-semibold text-black">Write New Summary</h2>
            </div>
            <div class="overflow-auto relative" id="comments-box-div">
              <form action="{{ url_for('common_bp.add_sample_comment', sample_id=sample._id) }}" method="post">
                <textarea id="comment_textarea"
                          name="sample_comment"
                          placeholder="Type to write a new summary for {{ sample.name }} sample..."
                          class="w-5/6 p-4 border border-gray-400 rounded mx-5 my-4 h-40"></textarea>
          
                <!-- Buttons Row -->
                <div class="flex flex-wrap items-center gap-4 mx-5 mb-5">
                  <input type="submit"
                        value="Save"
                        class="p-2 text-black bg-blue-300 rounded-md shadow-md transition-all duration-200 ease-in-out hover:bg-blue-500 hover:text-white hover:shadow-lg cursor-pointer">
          
                  <button type="button"
                          onclick="addAIText()"
                          class="p-2 text-black bg-gray-300 rounded-md shadow-md transition-all duration-200 ease-in-out hover:bg-gray-500 hover:text-white hover:shadow-lg cursor-pointer">
                    Suggest
                  </button>
          
                  <button type="button"
                          onclick="window.location.href='preview_report/{{ sample.name }}'"
                          class="p-2 text-black bg-green-400 rounded-md shadow-md transition-all duration-200 ease-in-out hover:bg-green-500 hover:text-white hover:shadow-lg cursor-pointer">
                    Preview Report
                  </button>
                </div>
              </form>
          
              <!-- AI suggestion box -->
              <div id="suggestion" class="hidden">
                {{ ai_text }}
              </div>
            </div>
          </div>
          


        </div>
      </div>
    </section>

  </main>

  <!-- Right Filter Sidebar -->
  {% include "fusion_sidebars.html" %}
</div>


<script>
  function addAIText() {
    var suggestion = document.getElementById("suggestion").innerHTML.trim();
    document.getElementById("comment_textarea").value = suggestion;
  }

  function addText(event) {
    var targ = event.target || event.srcElement;
    if (!targ.closest('tr').classList.contains('hidden_comment')) {
      document.getElementById("comment_textarea").value = targ.textContent || targ.innerText;
    }
  }

  function addText(event) {
    var targ = event.target || event.srcElement;
    if (!targ.closest('tr').classList.contains('hidden_comment')) {
      const textarea = document.getElementById('comment_textarea');
      const text = event.target.innerText.trim();
      textarea.value = text;
    }
  }
  
  window.onload = function () {
    document.querySelectorAll('[data-autoclick="true"]').forEach(element => element.click());
    document.querySelectorAll('[data-autoclick-once="true"]').forEach(element => element.click());
  };
  
  var expanded = false;
  function toggleFilters() {
    var filterCard = document.getElementById("filter_card");
    filterCard.style.display = expanded ? "none" : "block";
    expanded = !expanded;
  }
  
  function show_lowcov() {
    var lowcovDiv = document.getElementById("lowcovlist_div");
    lowcovDiv.style.display = lowcovDiv.style.display == "none" ? "block" : "none";
  }
  
  function show_germlinecnv() {
    var germlineDiv = document.getElementById("germline_div");
    germlineDiv.style.display = germlineDiv.style.display == "none" ? "block" : "none";
  }
  
  function switchVisibility(class_name) {
    var elems = document.getElementsByClassName(class_name);
    for (var i = 0; i < elems.length; i++) {
      elems[i].classList.toggle('hidden');
    }
  }
  
  // Filter sidebar toggle
  document.getElementById('filter-toggle').addEventListener('click', function() {
    document.getElementById('filter-sidebar').classList.toggle('translate-x-full');
  });
  
  document.getElementById('filter-close').addEventListener('click', function() {
    document.getElementById('filter-sidebar').classList.add('translate-x-full');
  });
  
  function showCheckboxes(id) {
    var checkboxes = document.getElementById(id);
    checkboxes.style.display = checkboxes.style.display === 'block' ? 'none' : 'block';
  }
  


  // Export csv function this is a basic function for ow, can be customized and improved later on
  function exportTableToCSV(filename, tableId) {
    // Get the table element by its ID
    const table = document.getElementById(tableId);
    if (!table) {
      console.error(`Table with ID "${tableId}" not found.`);
      return;
    }
  
    let csv = [];
    
    // Get all rows from the table
    const rows = table.querySelectorAll('tr');
  
    // Loop through each row
    rows.forEach((row) => {
      let rowData = [];
      const cells = row.querySelectorAll('th, td'); // Get header and data cells
      cells.forEach((cell) => {
        // Extract text content and replace line breaks with ";"
        let cellContent = cell.innerText.replace(/\n/g, ';').trim();
        rowData.push(cellContent);
      });
      csv.push(rowData.join(',')); // Join cells with a comma
    });
  
    // Convert the array to a CSV string
    const csvString = csv.join('\n');
  
    // Create a Blob and download the CSV file
    const blob = new Blob([csvString], { type: 'text/csv' });
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = filename;
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  }


  
</script>

<style>
  .multiselect {
    width: 100%;
  }

  .selectBox {
    position: relative;
  }

  .selectBox select {
    width: 100%;
  }

  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .checkboxes {
    display: none;
    border-bottom: 1px #bbb solid;
    border-left: 1px #bbb solid;
    border-right: 1px #bbb solid;
    border-radius: 0px 0px 3px 3px;
    background-color: #fff;
  }

  .checkboxes label {
    display: block;
  }

  .checkboxes label:hover {
    background-color: #f7f7ff;
  }
</style>



{% endblock %}
