{% extends "layout.html" %}

{% block body %}

<div class="container mx-auto p-5">
	<div class="bg-white border-b border-gray-300 py-4">
		<div class="flex justify-between items-center">
			<!-- Left Side: Sample and Type -->
			<div class="flex items-center space-x-4">
				<div>
					<span class="text-lg font-semibold text-gray-800">Sample:</span>
					<a href="{{ url_for('rna_bp.list_fusions', id=sample.name) }}" class="text-blue-500 hover:underline text-lg">{{ sample.name }}</a>
				  </div>
			</div>
      		<!-- Right Side: Variant Actions -->
      		{% if current_user.get_role() != "readonly" %}
      		<div class="flex items-center space-x-4">
        		{% if fusion.fp == true %}
          		<form action="{{ url_for('rna_bp.unmark_false_fusion', id=fusion._id) }}" method="post">
            		<input class="bg-green-600 text-black py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-green-700" type="submit" name="mark_fp" value="Unmark false positive">
          		</form>
				{% else %}
				<form action="{{ url_for('rna_bp.mark_false_fusion', id=fusion._id) }}" method="post">
					<input class="bg-purple-600 text-white py-2 px-4 rounded-md shadow-md cursor-pointer hover:bg-purple-700" type="submit" name="mark_fp" value="Mark as false positive">
				  </form>
        		{% endif %}
			</div>

		
			<div>

			</div>
			{% endif %}
		</div>

	</div>

	<center>
		<div class="container mx-auto px-4 py-6 overflow-auto">
			<!-- id="var_main" -->
			<div class="float-left max-w-screen-325 w-full">
				<div class="float-left max-w-screen-300 w-full bg-white shadow-md rounded-lg p-4 m-5 overflow-auto">
					{% set sel_fus = (fusion.calls|selectattr('selected', 'equalto', 1) |list)[0] %}
					
					<!-- Fusion Annotation -->
					<h2 class="text-base font-semibold mb-4 bg-purple-300 p-2 rounded">Fusion Info</h2>
					<table class="w-full table-auto text-s table">
						<tbody>
							<tr class="hover:bg-purple-50">
								<td class="py-2 px-3 border-b border-gray-300"> Gene 1 (5'):</td>
								<td class="py-2 px-3 border-b border-gray-300"> {{ fusion.gene1 }}</td>
							</tr>
							<tr class="hover:bg-purple-50">
								<td class="py-2 px-3 border-b border-gray-300"> Gene 2 (3'):</td>
								<td class="py-2 px-3 border-b border-gray-300"> {{ fusion.gene2 }}</td>
							</tr>
							<tr class="hover:bg-purple-50">
								<td class="py-2 px-3 border-b border-gray-300"> Atlas of GCOH:</td>
								<td class="py-2 px-3 border-b border-gray-300"> <a href="https://www.google.com/search?ie=UTF-8&oe=UTF-8&q={{fusion.gene1}}%09{{fusion.gene2}}&btnG=Google+Search&domains=atlasgeneticsoncology.org&sitesearch=atlasgeneticsoncology.org&btnI" target="_blank" class="text-blue-500 hover:underline text-s">link</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>		
		</div>
	</center>
</div>


  <script type="text/javascript">
    $("#test").select2();

    window.onload = function() {
      $('[data-autoclick="true"]').click();
      $('[data-autoclick="true"]').click();
    };
   
    function switchVisibility(class_name) {
      var hide_class = "hidden";
      var elems = document.getElementsByClassName(class_name);

      for (var i = 0; i < elems.length; i++) {
        if( elems[i].classList.contains(hide_class) ) {
	  elems[i].classList.remove(hide_class);
	}
	else {
	  elems[i].classList.add(hide_class);
	}
      }
    }
			
  function switchVisibility_comments(class_name) {
    var hide_class = "hidden";

    var elems = document.getElementsByClassName(class_name);

    for (var i = 0; i < elems.length; i++) {
      if( elems[i].classList.contains(hide_class) ) {
        elems[i].classList.remove(hide_class);
      }
      else {
        elems[i].classList.add(hide_class);
      }
    }
  }


  function addText(event) {
    var targ = event.target || event.srcElement;
    document.getElementById("comment_textarea").value = targ.textContent || targ.innerText;
  }
			
  </script>
 

{% endblock %} 
