@page {
    @top-right{
	font-size: 10px;
	font-family: arial;
	content: "Sida " counter(page) " av " counter(pages);
    }
}


body
{
    margin: 0mm 0mm 0mm 0mm;
    font-size:11px;
}

span.neg {
    color:#0a0;
    font-weight:bold;
}
span.pos {
    color:#f00;
    font-weight:bold;
}

img.logo {
    width:110px;
    height:auto;
    position:relative;
    left:80%;
    top:20px;
}

div.results_summary{
    border: 1px solid #885;
    padding:10px;
    font-size:14px;
    background:#ffc;
    margin-bottom:15px;
}


table {
    border-collapse: collapse;
}

div.page {
    font-family: arial;
    margin: 20px;
    width:90%;
    position:relative;
    top:-30px;
}

table.report_general {
    width: 580px;
    margin-bottom:20px;
    background-color:#f3f3ff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;    
    font-size:12px;
}
table.report_variant {
    width: 600px;
    margin-bottom:40px;
    background-color:#fafafa;
    border: 2px solid #000;
    font-size:10px;
}

table.report_variant td {
    #border-right
}

span.report_medium {
    font-size: 12px;
}

span.report_text {
    font-size: 11px;
}

span.report_header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 15px;
    display: block;
}

th.report_variant_header {
    border-bottom: 1px solid #000;
    height:23px;
    background-color: #000;
}

span.report_variant_header {
    font-size: 14px;
    font-weight: bold;
    padding-left:4px;
    color: #FFF;
}


th.top_report {
    border:0px;
    font-weight:normal;
    text-align:left;
    border-bottom: 2px solid #000;
    padding:6px;
    font-weight:bold;
}

td.report_key {
    width: 83px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding:4px;
    margin:0px;
    font-weight:bold;
}


td.top_report_key {
    width: 130px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding:5px;
    
    margin:0px;
    font-weight:bold;
}

td.report_val {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width:105px;
    padding:4px;
}

td.var_report_val {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #000;

    width:105px;
    padding:4px;
}

td.top_report_val {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding:5px;
}

td.report_comment {
    background-color: #FFF6DA;
    padding:5px;
    border: 1px solid #ccc;
    font-size:14px;
}

td.report_annotation {
    background-color: #FFC;
    padding:4px;
    border: 1px solid #ccc;
}

li{
    margin: 4px 0 4px 0;
}

table.info td {
    padding:5px;
    font-size:11px;
    border:1px solid #aaa;
}

table.genetable td {
    padding:3px 1px;
    text-align:center;
    font-size:8px;
    border:1px solid #aaa;
}


div.wrapping {
    width:105px;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

div.analysis_description {
    max-width:800px;
    padding:0px;
}
div.conclusion {
    font-size:14px;
    max-width:800px;
}

table.variant_table {
    #border:1px solid #aaa;
    margin:10px 2px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}


table.variant_table td {
    border-bottom: 1px solid #aaa;
    padding:5px 12px;
    font-size:12px;
}

table.variant_table th {
    #border: 1px solid #aaa;
    border-bottom: 2px solid #000;
    padding:5px 12px;
    font-size:12px;
    text-align:left;
    font-weight:bold;
    background-color:#f3f3ff;
}
